#share
    .content-container
        height calc(100vh - 248px)
        min-height 550px
        margin-bottom 30px

        .content.export
            min-height 215px
            margin-bottom 25px
            height calc(100% - 25px - 56.3%)

        .content.share-save
            min-height 310px
            height 56.3%

        .center
            text-align center

        h3
            text-align center
            display block
            padding 0 0 5px 0

        .form-group
            margin 5px 0

            .col-xs-6:first-child
                text-align right
            .col-xs-6:nth-child(2)
                text-align left

        .col-md-12
            padding 5px 0
