#share
    margin 0 auto 30px

    .content-container
        height calc(100vh - 248px)
        min-height 550px

        .content.save
            min-height 215px
            margin-bottom 25px
            height calc(100% - 25px - 56.3%)

        .content.share
            min-height 310px
            height 56.3%
