#share.wrapper-content(ng-show="$root.showShareView" ng-class="{'col-md-4': $parent.activeViews === 3, 'col-md-6': $parent.activeViews === 2, 'col-md-12': $parent.activeViews === 1}")
    .content-container
        .content.save "Speichern"
            p Hallo Welt!

        .content.share "Share"
            p Hallo Welt!
