#editor.wrapper-content(ng-controller="EditorCtrl")
    .editor-panel
        //- TODO: -needs to be moved from HeaderCtrl to EditorCtrl
        //-       -third tab   
        //-       -only one active at a time
        a.tab(href='#' ng-class="{'active': activeViews[0]}" ng-click="tabClicked(0)") {{ "DATASET" | translate | uppercase }}
        a.tab.active.middle(href='#') {{ "DATASET + VISUALIZATION" | translate | uppercase }}
        a.tab(href='#' ng-class="{'active': activeViews[1]}" ng-click="tabClicked(1)") {{ "VISUALIZATION" | translate | uppercase }}
    .row    
        .col-md-12.editor-placeholder(ng-show="activeViews === 0")
            div
                img(src="images/logo-without-name.png" )
        include table/table
        include visualization/visualization
