#editor.wrapper-content
    .editor-panel
        a.tab(href="#" ng-class="{'active': activeTabs[0]}" ng-click="tabClicked(0)" title="{{'TOGGLE_VIEW'|translate}}")
            h3 {{ "DATASET" | translate | uppercase }}
        a.tab.middle(href="#" ng-class="{'active': activeTabs[1]}" ng-click="tabClicked(1)" title="{{'TOGGLE_VIEW'|translate}}")
            h3 {{ "DATASET + VISUALIZATION" | translate | uppercase }}
        a.tab(href="#" ng-class="{'active': activeTabs[2]}" ng-click="tabClicked(2)" title="{{'TOGGLE_VIEW'|translate}}")
            h3 {{ "VISUALIZATION" | translate | uppercase }}
    .row.editor-content
        include table/table
        .seperator(ng-class="{'active': activeTabs[1]}")
        include visualization/visualization
