#editor.wrapper-content(ng-controller="EditorCtrl")
    .editor-placeholder(ng-show="activeViews === 0")
        div
            img(src="images/logo-without-name.png" )
    include table/table
    include visualization/visualization
    include share/share
