.content
    padding 20px
    border-top 3px solid $color-red
    background $color-white
    box-shadow $box-shadow-size $color-shadow
    margin-bottom 30px
    line-height: 1.3

#editor
    .editor-placeholder
        margin-bottom 30px
        height 500px
        line-height 500px
        vertical-align middle
        text-align center
        padding 0 15px

        div
            box-shadow inset $box-shadow-size $color-shadow
            background #F8F8F8

        img
            width 200px
            display inline-block
            opacity .4


