#table.wrapper-content(ng-controller='TableCtrl' ng-show="$root.showTableView" ng-class="{'col-md-6': $parent.activeViews === 2, 'col-md-12': $parent.activeViews === 1}")
    .content
        .settings-bar
            #visualization-settings-container
                .download-button
                    a(href='#')
                        i.fa.fa-download.download-icon
                    ul
                        li
                            a(href="#") CSV

                        li
                            a(href="#") SHP

        hot(dataset="dataset" active-views="activeViews" col-headers="colHeaders")
