#table
    margin 0px auto 30px auto

    .handsontable
        width 100%
        overflow scroll
        height 100%

        .ht_master
            thead
                tr
                    &:first-child
                        th
                            background $color-hover-light
                            padding 3px 4px
                            border 2px solid white
                            line-height 16px
            tbody
                tr
                    &:nth-child(odd)
                        td
                            background $color-table-odd-passive
                    &:nth-child(even)
                        td
                            background $color-table-even-passive
                    th
                        &:first-child
                            min-width 40px !important
                            width 40px !important
                            background $color-hover-light
                            width 30px
            th, td, tbody tr th:first-child
                border 2px solid $color-white
                height 16px
                line-height 16px
                padding 5px 4px
            th, td
                min-width 80px
            tr:first-child th, tr:first-child td
                border-top 2px solid $color-white
        .ht_clone_left, .ht_clone_top, .ht_clone_corner
            display none

    /* TODO: check why this class doesn't get used */
    .current-col
        background blue
    /* TODO: check text-size, change scroll bars in color and width */
