#table.wrapper-content(ng-controller="TableCtrl" ng-show="$root.showTableView" ng-class="{'col-md-6': $parent.activeViews === 2, 'col-md-12': $parent.activeViews === 1}")
    .content
        .settings-bar
            #header-button
                label.checkbox(for="column-headers-checkbox")
                    input#column-headers-checkbox.custom-checkbox(data-toggle="checkbox", type="checkbox", ng-model="useColumnHeadersFromDataset")
                    | Header

            .download-button
                a(href="#").icon-download-2
                ul
                    li
                        a(href="#") CSV
                    li
                        a(href="#") SHP

        hot(dataset="dataset" active-views="activeViews" column-headers="columnHeaders")
