#table.wrapper-content(ng-controller="TableCtrl" ng-show="$root.showTableView" ng-class="{'col-md-6': $parent.activeViews === 2, 'col-md-12': $parent.activeViews === 1}")
    .content(ng-class="{'active': activeTabs[1]}")
        .settings-bar

            .header-button(ng-hide="data.metaData.fileType == 'shp'")
                label.checkbox(for="column-headers-checkbox") {{ "HEADER" | translate }}
                    input#column-headers-checkbox.custom-checkbox(data-toggle="checkbox", type="checkbox", ng-model="useColumnHeadersFromDataset" ng-change="toggleHeader()")

            .transpose-button.settings-button(ng-hide="data.meta.fileType == 'shp'" title="{{'TRANSPOSE_DATASET_TITLE'|translate}}")
                a(href='#' ng-click="transpose()").icon-transpose
                    span {{ "TRANSPOSE" | translate }}

            .x-axis-button.settings-button(ng-hide="data.meta.fileType == 'shp'" title="{{'AXIS_SELECTION_X_TITLE'|translate}}")
                a(href='#' ng-click="axisSelection('x')").icon-xaxis
                    span {{ "VALUE_RANGE" | translate }}

            .y-axis-button.settings-button(ng-hide="data.meta.fileType == 'shp'" title="{{'AXIS_SELECTION_Y_TITLE'|translate}}")
                a(href='#' ng-click="axisSelection('y')").icon-yaxis
                    span {{ "VALUE_RANGE" | translate }}

            .download-button.settings-button(ng-hide="data.meta.fileType == 'shp'" title="{{'DOWNLOAD'|translate}} {{'DATASET'|translate}}")
                a(href="#" ng-click="download()").icon-download
                    span {{ "DOWNLOAD" | translate }}

        hot(dataset="dataset" active-views="activeViews" column-headers="columnHeaders")
