#table.wrapper-content(ng-controller="TableCtrl" ng-show="$root.showTableView" ng-class="{'col-md-6': $parent.activeViews === 2, 'col-md-12': $parent.activeViews === 1}")
    .content
        .settings-bar
            .header-button(ng-hide="meta.fileType == 'shp'")
                label.checkbox(for="column-headers-checkbox") {{ "HEADER" | translate }}
                    input#column-headers-checkbox.custom-checkbox(data-toggle="checkbox", type="checkbox", ng-model="useColumnHeadersFromDataset" ng-change="toggleHeader()")

            .transpose-button.hover-button(ng-hide="meta.fileType == 'shp'")
                a(href='#' ng-click="transpose()").icon-table

            .download-button.hover-button(ng-hide="meta.fileType == 'shp'")
                a(href='#').icon-download-3
                ul
                    li
                        a(ng-click="download()") CSV

        hot(dataset="dataset" active-views="activeViews" column-headers="columnHeaders")
