#table
    font-size 14px

    .settings-bar
        .header-button
            position relative

            label
                margin 31px 0 0
                padding 0
                display block
                text-transform uppercase
                position relative
                color $color-black
                font-size 10px
                font-family Colaborate,Arial,Helvetica,sans-serif

            .icons
                font-size 22px
                margin-top -27px
                left 9px

    #datatable
        // Bugfix for scrollbar
        // TODO: Further check later
        .ht_master .wtHolder
            width 100% !important

        .ht_clone_top_left_corner th
            background $color-hover-light
            border 2px solid white

        // Column headers (sticky and non-sticky)
        .ht_master thead,
        .ht_clone_top thead,
        .ht_clone_left thead,
        .ht_clone_left tbody,
        .ht_clone_corner thead
            tr
                th
                    background $color-hover-light
                    border 2px solid white

                &:nth-child(odd) th
                    &.current-col
                    &.current-row
                        background $color-green !important
                &:nth-child(even) th
                    &.current-col
                    &.current-row
                        background $color-green !important
        // Body
        .ht_master
            th, td
                border 2px solid $color-white

            tbody tr
                &:nth-child(odd) td
                    background $color-table-odd-passive
                    &.current-col
                    &.current-row
                        background $color-table-odd-active !important

                &:nth-child(even) td
                    background $color-table-even-passive
                    &.current-col
                    &.current-row
                        background $color-table-even-active !important

            tbody tr td.highlight
                background $color-hover-light !important

        // Input field
        .handsontableInputHolder
            padding 2px
            textarea
                background $color-grey-light

        .wtBorder
            &.current
                background-color $color-green !important


    .highlighted
        background $color-grey-dark !important
        color $color-white !important
        cursor pointer

    .focused
        color $color-green !important

    .selected
        background $color-green !important
        color $color-white !important
        border 2px $color-hover-dark solid !important

    [class*="selected-"]:before
            color $color-white
            margin-right 2px

    .selected-x
        &:before
            content "X"

    .selected-y
        &:before
            content "Y"

    .selected-x-y
        &:before
            content "X Y"

