#table.wrapper-content(ng-controller="TableCtrl" ng-show="$root.showTableView" ng-class="{'col-md-6': $parent.activeViews === 2, 'col-md-12': $parent.activeViews === 1}")
    .content(ng-class="{'active': activeTabs[1]}")
        .settings-bar
            .header-button(ng-hide="meta.fileType == 'shp'")
                label.checkbox(for="column-headers-checkbox") {{ "HEADER" | translate }}
                    input#column-headers-checkbox.custom-checkbox(data-toggle="checkbox", type="checkbox", ng-model="useColumnHeadersFromDataset" ng-change="toggleHeader()")

            .transpose-button.settings-button(ng-hide="meta.fileType == 'shp'")
                //- Replace `.icon-copyclipboard` with transpose icon
                a(href='#' ng-click="transpose()").icon-copyclipboard
                    span {{ "TRANSPOSE" | translate }}

            .xaxis-button.settings-button
                //- Replace `.icon-emptytable` with axis icon
                a(href='#' ng-click="").icon-emptytable
                    span {{ "X_AXIS" | translate }}

            .yaxis-button.settings-button
                //- Replace `.icon-emptytable` with axis icon
                a(href='#' ng-click="").icon-emptytable
                    span {{ "Y_AXIS" | translate }}

            .download-button.settings-button(ng-hide="meta.fileType == 'shp'")
                a(href='#').icon-download
                    span {{ "DOWNLOAD" | translate }}
                ul
                    li
                        a(ng-click="download()") CSV

        hot(dataset="dataset" active-views="activeViews" column-headers="columnHeaders")
