#table
    margin 0 auto 30px

    datatable
        width 100%
        height 100%
        overflow hidden

        // Column headers (sticky and non-sticky)
        .ht_master thead,
        .ht_clone_top thead,
        .ht_clone_left thead,
        .ht_clone_left tbody,
        .ht_clone_corner thead
            tr
                th
                    background $color-hover-light
                    border 2px solid white
                    box-sizing border-box
                    height 16px
                    padding 5px 4px
                    line-height 16px
                    div
                        padding 0

                &:nth-child(odd) th
                    &.current-col
                    &.current-row
                        background $color-green !important
                &:nth-child(even) th
                    &.current-col
                    &.current-row
                        background $color-green !important
        // Body
        .ht_master
            th, td
                border 2px solid $color-white
                height 16px
                line-height 16px
                padding 5px 4px

            tbody tr
                &:nth-child(odd) td
                    background $color-table-odd-passive
                    &.current-col
                    &.current-row
                        background $color-table-odd-active !important
                &:nth-child(even) td
                    background $color-table-even-passive
                    &.current-col
                    &.current-row
                        background $color-table-even-active !important

            tbody tr td.highlight
                background $color-red !important

        // Input field
        .handsontableInputHolder
            padding 2px
            textarea
                background $color-grey-light
