#import.wrapper-content(ng-controller="ImportCtrl")

    .options
        .row.other
            .col-sm-6
                #option-empty-table.area
                    a(href="/editor")
                        .option-icon.icon-table
                        h3 LEERE TABELLE

            .col-sm-6
                #option-browse-data.area
                    a(href="#")
                        .option-icon.icon-opendata
                        h3 ALLE DATENSÄTZE

        .row.file-read.layout-3-columns

            .col-sm-4
                #option-browse-filesystem.area
                    import-progress-bar(progress="{{importService.progress}}", type="{{type}}" for="selected")
                    .icon-and-text-wrapper
                        .option-icon.icon-searchfiles
                        h3 DATEI AUSWÄHLEN
                        input#input-browse-filesystem(type="file" ng-file-select)

            .col-sm-4
                #option-drag-and-drop.area
                    import-progress-bar(progress="{{importService.progress}}", type="{{type}}", for="dragged" )
                    .icon-and-text-wrapper
                        .option-icon.icon-draganddrop
                        h3 DRAG AND DROP

                        .hover-wrapper
                            .area
                                .glyphicon.glyphicon-plus
                                span.text Datei Landeplatz

            .col-sm-4
                #option-link.area
                    import-progress-bar(progress="{{importService.progress}}", type="{{type}}", for="linked")
                    .icon-and-text-wrapper
                        .option-icon.icon-link
                        h3 LINK
                        .input-group.form-link
                            input.form-control(type="text" placeholder="Link zur Datei..." ng-model="link")
                            span.input-group-btn
                                button#link-submit-button.btn.btn-default.glyphicon.glyphicon-arrow-right(type="button" ng-click='load("link")')

    #drop-zone
        .row
            .col-sm-12
                .area
                    .glyphicon.glyphicon-plus
                    span.text Datei Landeplatz

        .row
            .col-sm-12.drop-area(ng-file-drop-end)
