// functions
opacity(n)
    opacity n
    filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

box-shadow()
    -webkit-box-shadow arguments
    -moz-box-shadow arguments
    box-shadow arguments

box-sizing()
    -webkit-box-sizing arguments
    -moz-box-sizing arguments
    box-sizing arguments

//blocks
overlayParent =
    width 100%
    height 100%
    top 0
    left 0

fillParent =
    width 100%
    height 100%

centerElement =
    position absolute
    top 50%
    left 50%

// import styles
#import
    margin 10px auto 0px
    h3
        text-align center
        margin 10px auto
        width 100%

    .options
        .area
            height 254px
            border-top 3px solid $color-green
            background white
            box-shadow $box-shadow-size $color-box-shadow
            text-align center
        .option-icon
            width 100px
            margin 50px auto 0px auto
            height 100px
            font-size 75px
            color #333
            text-align center
        #option-browse-filesystem
            cursor pointer
            position relative
            #input-browse-filesystem
                position absolute
                z-index 2
                {overlayParent}
                opacity 0
                cursor pointer
        #option-browse-filesystem:hover
        .other .area:hover
            background $color-import-options-hover
        #option-empty-table
            margin-right 13px
        #option-browse-data
            margin-left 13px
        #option-link
            #link-submit-button
                top 0px
            .form-link
                width 80%
                margin 0 auto
        .other, .file-read
            margin-bottom 56px
        .file-read .area a
        .other .area a
            {fillParent}
            display inline-block
            color black
        @media screen and (max-width: 768px)
            #option-empty-table
            #option-browse-data
            #option-browse-filesystem
            #option-drag-and-drop
            #option-link
                margin: 0

    #drop-zone
        display none
        background $color-import-dropzone
        position fixed
        z-index: 999
        {overlayParent}

        .col-sm-12
            padding 30px
            height 100%

        .area
            {fillParent}
            background none
            border 10px solid white
            box-sizing border-box

            .glyphicon-plus
                {centerElement}
                margin-left -195px
                margin-top -225px
                font-size 35em
                color white

            .text
                {centerElement}
                margin-left -105px
                margin-top -35px
                font-size 30px

        .drop-area
            position fixed
            z-index: 999
            {overlayParent}
