#import
    margin 10px auto 0
    h3
        text-align center
        margin 10px auto
        width 100%

    .options
        .area
            height 254px
            border-top 3px solid $color-green
            background $color-white
            box-shadow $box-shadow-size $color-shadow
            text-align center
            .icon-and-text-wrapper
                position absolute
                {overlayParent}
        .option-icon
            width 100px
            margin 50px auto 0
            height 100px
            font-size 75px
            color $color-dark-grey
            text-align center
        #option-browse-filesystem
            cursor pointer
            position relative
            #input-browse-filesystem
                position absolute
                z-index 2
                {overlayParent}
                opacity 0
                cursor pointer
        #option-browse-filesystem:hover
        .other .area:hover
            background $color-hover-light
        #option-empty-table
            margin-right 13px
        #option-browse-data
            margin-left 13px
        #option-drag-and-drop
            position relative
            .hover-wrapper
                display none
                background $color-hover-light
                {fillParent}
                padding 10px
            &:hover
                .option-icon
                h3
                    display none
                .hover-wrapper
                    text-align center
                    line-height 217px
                    display block
                    .area
                        position relative
                        box-shadow none
                        {fillParent}
                        border 7px solid white
                        background none
                        .glyphicon-plus
                            margin-left 15px
                            text-align center
                            vertical-align middle
                            cursor default
                            font-size 13em
                            color $color-white

                        .text
                            position absolute
                            z-index 999
                            left 50%
                            margin-left -54px
                            cursor default
                            font-size 16px

        #option-link
            position relative
            #link-submit-button
                top 0
            .form-link
                width 80%
                margin 0 auto

        .other, .file-read
            margin-bottom 56px

        .file-read .area a
        .other .area a
            {fillParent}
            display inline-block
            color $color-grey-dark

        @media screen and (max-width: 768px)
            #option-empty-table
            #option-browse-data
            #option-browse-filesystem
            #option-drag-and-drop
            #option-link
                margin: 0

    #drop-zone
        display none
        background $color-dropzone
        position fixed
        z-index: 999
        {overlayParent}

        .row
            height 100%
            .col-sm-12
                padding 30px
                height 100%

        .area
            {fillParent}
            border 10px solid white
            box-sizing border-box

            .glyphicon-plus
                {centerElement}
                margin-left -195px
                margin-top -200px
                font-size 35em
                color $color-white

            .text
                {centerElement}
                margin-left -107px
                margin-top -20px
                font-size 30px

        .drop-area
            position fixed
            z-index: 999
            {overlayParent}



import-progress-bar
    position absolute
    top 0
    left 0
    z-index 0
    {fillParent}
    .bar
        position absolute
        width 0
        height 100%
        transition(width .25s ease-in-out)
        background-color rgba($color-green, 0.5)
        z-index 10
    .text span
        position absolute
        bottom -20px
        font-size 6em
        right 10px
        display none


.progress-button
    position relative
    display inline-block
    padding 0 60px
    outline none
    border none
    background #1d9650
    color #fff
    text-transform uppercase
    letter-spacing 1px
    font-size 1em
    line-height 4
    .content
        position relative
        display block
        &::before
            content "\e600"
        &::after
            content "\e601"
    .progress
        background #148544
    .progress-inner
        position absolute
        left 0
        background #0e7138

.progress-button[disabled],
.progress-button[disabled].state-loading
    cursor default

.progress-button .content::before,
.progress-button .content::after
    position absolute
    right 20px
    color #0e7138
    font-family "icomoon"
    opacity 0
    -webkit-transition opacity 0.3s 0.3s
    transition opacity 0.3s 0.3s

.progress-button.state-success .content::before,
.progress-button.state-error .content::after
    opacity 1

.notransition
    -webkit-transition none !important
    transition none !important

.progress-button[data-horizontal]
    .progress-inner
        top 0
        width 0
        height 100%
        -webkit-transition width 0.3s, opacity 0.3s
        transition width 0.3s, opacity 0.3s

.progress-button[data-vertical]
    .progress-inner
        bottom 0
        width 100%
        height 0
        -webkit-transition height 0.3s, opacity 0.3s
        transition height 0.3s, opacity 0.3s

.progress-button[data-perspective]
    position relative
    display inline-block
    padding 0
    background transparent
    -webkit-perspective 900px
    perspective 900px
    .content
        padding 0 60px
        background #1d9650
    .progress-wrap
        display block
        -webkit-transition -webkit-transform 0.2s
        transition transform 0.2s
        -webkit-transform-style preserve-3d
        transform-style preserve-3d

.progress-button[data-perspective] .content,
.progress-button[data-perspective] .progress
    outline 1px solid rgba(0,0,0,0)

.progress-button[data-style="fill"][data-horizontal]
    overflow hidden
    .content
        z-index 10
        -webkit-transition -webkit-transform 0.3s
        transition transform 0.3s

.progress-button[data-style="fill"][data-horizontal] .content::before,
.progress-button[data-style="fill"][data-horizontal] .content::after
    top 100%
    right auto
    left 50%
    -webkit-transition opacity 0.3s
    transition opacity 0.3s
    -webkit-transform translateX(-50%)
    transform translateX(-50%)

.progress-button[data-style="fill"][data-horizontal].state-success .content,
.progress-button[data-style="fill"][data-horizontal].state-error .content
    -webkit-transform translateY(-100%)
    transform translateY(-100%)





