<!DOCTYPE html>
<html ng-app="vidatio">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vidatio</title>

  <link rel="stylesheet" href="bower_components/handsontable/dist/handsontable.full.css"/>
  <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="assets/css/main.css"/>
  <link rel="stylesheet" href="assets/css/fileRead.css"/>
</head>
<body ng-file-drop-start>

<div id="header">
  <div class="row">
    <div class="col-sm-6" id="line-right"></div>
    <div class="col-sm-6" id="line-left"></div>
  </div>
  <div>
    <div class="row" id="navigation">
      <div class="col-sm-4 logo">vidatio</div>
      <div class="col-sm-4 step"></div>
      <div class="col-sm-4 buttons">
        <div id="menu"></div>
        <div id="user"></div>
      </div>
    </div>
  </div>
</div>

<div id="container-file-read" ng-controller="FileReadCtrl">
  <div class="row other">
    <div class="col-sm-6 area" id="empty-table">
      <div class="icon"></div>
      <div class="text">LEERE TABELLE</div>
    </div>
    <div class="col-sm-6 area" id="browse-data">
      <div class="icon"></div>
      <div class="text">ALLE DATENSÄTZE</div>
    </div>
  </div>
  <div class="row file-read">
    <div class="col-sm-4 area" id="browse-filesystem">
      <div class="icon"></div>
      <div class="text">DATEI AUSWÄHLEN</div>
      <input type="file" id="input-browse-filesystem" ng-file-select="onFileSelect($files)"/>
    </div>
    <div class="col-sm-4 area" id="drag-and-drop">
      <div class="icon"></div>
      <div class="text">DRAG AND DROP</div>
    </div>
    <div class="col-sm-4 area" id="link">
      <div class="icon"></div>
      <div class="text">LINK</div>
      <input type="text" placeholder="URL to dataset" ng-model="link"/>
      <input type="button" ng-click="load()" value="Load"/>
    </div>
  </div>
  <div class="row drag-and-drop">
    <div class="col-sm-12">
      <div class="area">
        <div class="fa fa-plus fa-30x "></div>
        <div class="text">DRAG & DROP</div>
      </div>
    </div>
    <div class="col-sm-12 drop-area" ng-file-drop></div>
  </div>

  {{content}}
</div>

<div id="footer">asdf</div>

<script src="bower_components/angular/angular.js"></script>

<script src="assets/js/main.js"></script>
<script src="assets/js/controller/main.js"></script>
<script src="assets/js/controller/fileRead.js"></script>
<script src="assets/js/directives/ngFileSelect.js"></script>
<script src="assets/js/directives/ngFileDropStart.js"></script>
<script src="assets/js/directives/ngFileDrop.js"></script>
<script src="assets/js/services/fileReader.js"></script>
</body>
</html>
