include button
include process-navigation
include headline

mixin navigation-bar(state)
    #navigation.row&attributes(attributes)
        case state
            when "dataset"
                .col-xs-6.logo
                    +button-logo()
                    +button-back-to-datasets()
                .col-xs-6.menu-buttons
                    +button-user()
                    +button-menu()

            when "share"
                .col-xs-6.col-sm-2.logo
                    +button-logo()
                .col-xs-6.col-sm-push-8.col-sm-2.menu-buttons
                    +button-user()
                    +button-menu()
                .col-xs-12.col-sm-pull-2.col-sm-8
                    +process-navigation()

            when "editor"
                .col-xs-6.col-sm-2.logo
                    +button-logo()
                .col-xs-6.col-sm-push-8.col-sm-2.menu-buttons
                    +button-user()
                    +button-menu()
                .col-xs-12.col-sm-pull-2.col-sm-8
                    +process-navigation()

            when "import"
                .col-xs-6.col-sm-2.logo
                    +button-logo()
                .col-xs-6.col-sm-push-8.col-sm-2.menu-buttons
                    +button-user()
                    +button-menu()
                .col-xs-12.col-sm-pull-2.col-sm-8
                    +process-navigation-import()

            when "agb"
                .col-xs-3.logo
                    +button-logo()
                .col-xs-6.middle
                    +headline("TERMS")
                .col-xs-3.menu-buttons
                    +button-user()
                    +button-menu()

            when "login"
                .col-xs-3.logo
                    +button-logo()
                .col-xs-6.middle
                    +headline("LOGIN")
                .col-xs-3.menu-buttons
                    +button-menu()

            when "registration"
                .col-xs-3.logo
                    +button-logo()
                .col-xs-6.middle
                    +headline("REGISTRATION")
                .col-xs-3.menu-buttons
                    +button-menu()

            when "profile"
                .col-xs-6.col-sm-2.logo
                    +button-logo()
                .col-xs-6.col-sm-push-8.col-sm-2.menu-buttons
                    div(ng-if="globals.authorized")
                        a#logout-button.button.icon-logout(ng-click="logout()" title="{{ 'LOG_OUT' | translate }}")
                            span {{ "LOG_OUT" | translate | uppercase }}
                    +button-menu()
                .col-xs-12.col-sm-pull-2.col-sm-8.middle.profile-title
                    +headline("MY_PROFILE")

            when "catalog"
                .col-xs-6.col-sm-2.logo
                    +button-logo()
                    +button-back-to-import()
                .col-xs-6.col-sm-push-8.col-sm-2.menu-buttons
                    +button-user()
                    +button-menu()
                .col-xs-12.col-sm-pull-2.col-sm-8.middle.catalog-title
                    +headline("AVAILABLE_VIDATIOS")

            when "team"
                .col-xs-6.col-sm-2.logo
                    +button-logo()
                .col-xs-6.middle
                    +headline("TEAM")
                .col-xs-3.menu-buttons
                    +button-user()
                    +button-menu()

            default
                .col-xs-6.logo
                    +button-logo()
                .col-xs-6.menu-buttons
                    +button-user()
                    +button-menu()
                .col-sm-12
                    h2 {{ "SLOGAN" | translate }}
