mixin process-navigation()
    #process-nav
        a#import-data(ui-sref="app.import" title="{{ 'STEP' | translate }} {{ 'IMPORT' | translate }} {{ 'OPEN' | translate }}" ng-class="{ 'active' : $state.current.title == 'import' }")
            span.icon-import
            span
                h3 {{ "IMPORT" | translate | uppercase }}
        a#edit-data(ui-sref="app.editor({ id: datasetID })" title="{{ 'STEP' | translate }} {{ 'EDIT' | translate }} {{ 'OPEN' | translate }}" ng-disabled="header.editorNotInitialized" ng-class="{ 'active' : $state.current.title == 'editor', 'disabled': header.editorNotInitialized, 'clickable': $state.current.title == 'import'}")
            span.icon-edit
            span
                h3 {{"EDIT" | translate | uppercase}}
        a#use-data(ui-sref="app.share({ id: datasetID })" title="{{ 'STEP' | translate }} {{ 'USE' | translate }} {{ 'OPEN' | translate }}" ng-disabled="header.editorNotInitialized" ng-class="{ 'active' : $state.current.title == 'share', 'disabled': header.editorNotInitialized}")
            span.icon-check
            span
                h3 {{"USE" | translate | uppercase}}
