#popular-categories(ng-show="vidatios.length")
    .wrapper-content
        .row
            .col-sm-12
                h1.underline-red-light {{ "POPULAR_CATEGORIES" | translate | uppercase }}

                .viz-container
                    #bubble-categories

