section#popular-categories
    .wrapper-content
        .row
            .col-sm-12
                h1.underline-red-light {{ "CATEGORIES" | translate | uppercase }}

                #bubble-categories

