section#customers
    .wrapper-content
        .row
            .col-sm-12
                h1.underline-turqoise {{ "OUR_CUSTOMERS" | translate | uppercase }}

        .row
            .col-sm-3
                h3 Logo Platzhalter
                h4 Beschreibung

            .col-sm-3
                h3 Logo Platzhalter
                h4 Beschreibung

            .col-sm-3
                h3 Logo Platzhalter
                h4 Beschreibung

            .col-sm-3
                h3 Logo Platzhalter
                h4 Beschreibung
