section#featured-vidatios

    .wrapper-content
        .row
            .col-sm-12
                h1.underline-turqoise {{ "FEATURED_VIDATIOS" | translate | uppercase }}

        .row.layout-3-columns
            .col-sm-4
                .col-wrapper
                    img(src="images/placeholder-featured-vidatios.png", alt="")
                    p Wasserverbrauch |
                        a.thin-font(href='#')  Mehr

            .col-sm-4
                .col-wrapper
                    img(src="images/placeholder-featured-vidatios.png", alt="")
                    p Wasserverbrauch |
                        a.thin-font(href='#')  Mehr

            .col-sm-4
                .col-wrapper
                    img(src="images/placeholder-featured-vidatios.png", alt="")
                    p Wasserverbrauch |
                        a.thin-font(href='#')  Mehr

        .browse
            button.btn.btn-embossed.btn-primary {{ "SEARCH_VIDATIOS" | translate | uppercase }}
                span.btn-tip.fui-arrow-right
