section#featured-vidatios

    .wrapper-content
        .row
            .col-sm-12
                h1.underline-turqoise BELIEBTE VIDATIOS

        .row.layout-3-columns
            .col-sm-4
                .col-wrapper
                    img.featured(src='images/placeholder-featured-vidatios-wasserverbrauch-fh_salzburg.svg', alt='Wasserverbrauch FH Salzburg')
                    p Wasserverbrauch FH Salzburg |
                        a.thin-font(href='#')  Mehr

            .col-sm-4
                .col-wrapper
                    img.featured(src='images/placeholder-featured-vidatios-arbeitslosenzahlen-salzburg.svg', alt='Arbeitslosigkeit Salzburger Land')
                    p Arbeitslosigkeit Salzburger Land |
                        a.thin-font(href='#')  Mehr

            .col-sm-4
                .col-wrapper
                    img.featured(src='images/placeholder-featured-vidatios-buchungsstatistik-pongau.svg', alt='Buchungsstatistik Pongau')
                    p Übernachtungen im Pongau |
                        a.thin-font(href='#')  Mehr

        .browse
            a.bold-font.button(href='#')
                | VIDATIOS DURCHSUCHEN
                img(src='images/arrow.png', alt='')
