section#featured-vidatios

    .wrapper-content
        .row
            .col-sm-12
                h1.underline-red-light {{ "FEATURED_VIDATIOS" | translate | uppercase }}

        .row.layout-3-columns
            .col-sm-4
                .col-wrapper
                    a(ui-sref="app.dataset({ id: '56cca4f808eb08d0061c64ad', locale: locale })" href="")
                        img.featured(src='images/placeholder-featured-vidatios-wasserverbrauch-fh_salzburg.svg', alt='Wasserverbrauch FH Salzburg')
                        div {{ "DESCRIPTION_VISUALITION_1" | translate }}


            .col-sm-4
                .col-wrapper
                    a(ui-sref="app.dataset({ id: '56cca4f808eb08d0061c64ab', locale: locale })" href="")
                        img.featured(src='images/placeholder-featured-vidatios-arbeitslosenzahlen-salzburg.svg', alt='Arbeitslosigkeit Salzburger Land')
                        div {{ "DESCRIPTION_VISUALITION_2" | translate }}


            .col-sm-4
                .col-wrapper
                    a(ui-sref="app.dataset({ id: '56cca4f808eb08d0061c64af', locale: locale })" href="")
                        img.featured(src='images/placeholder-featured-vidatios-buchungsstatistik-pongau.svg', alt='Buchungsstatistik Pongau')
                        div {{ "DESCRIPTION_VISUALITION_3" | translate }}


        .browse
            a.button.btn.btn-embossed.btn-primary(ui-sref="app.catalog" href="") {{ "SEARCH_VIDATIOS" | translate | uppercase }}
                span.icon-go-right.browse-icon
