section#featured-vidatios

    .wrapper-content
        .row
            .col-sm-12
                h1.underline-turqoise {{ "FEATURED_VIDATIOS" | translate | uppercase }}

        .row.layout-3-columns
            .col-sm-4
                .col-wrapper
                    img.featured(src='images/placeholder-featured-vidatios-wasserverbrauch-fh_salzburg.svg', alt='Wasserverbrauch FH Salzburg')
                    div {{ "DESCRIPTION_VISUALITION_1" | translate }}
                    a.thin-font(href='#')  {{ "READ_MORE" | translate }}

            .col-sm-4
                .col-wrapper
                    img.featured(src='images/placeholder-featured-vidatios-arbeitslosenzahlen-salzburg.svg', alt='Arbeitslosigkeit Salzburger Land')
                    div {{ "DESCRIPTION_VISUALITION_2" | translate }}
                    a.thin-font(href='#')  {{ "READ_MORE" | translate }}

            .col-sm-4
                .col-wrapper
                    img.featured(src='images/placeholder-featured-vidatios-buchungsstatistik-pongau.svg', alt='Buchungsstatistik Pongau')
                    div {{ "DESCRIPTION_VISUALITION_3" | translate }}
                    a.thin-font(href='#')  {{ "READ_MORE" | translate }}

        .browse
            button.btn.btn-embossed.btn-primary {{ "SEARCH_VIDATIOS" | translate | uppercase }}
                span.btn-tip.fui-arrow-right
