section#featured-vidatios

    .wrapper-content
        .row
            .col-sm-12
                h1.underline-turqoise {{ "FEATURED_VIDATIOS" | translate | uppercase }}

        .row.layout-3-columns
            .col-sm-4
                .col-wrapper
                    a(href='#')
                        img.featured(src='images/placeholder-featured-vidatios-wasserverbrauch-fh_salzburg.svg', alt='Wasserverbrauch FH Salzburg')
                        div {{ "DESCRIPTION_VISUALITION_1" | translate }}


            .col-sm-4
                .col-wrapper
                    a(href='#')
                        img.featured(src='images/placeholder-featured-vidatios-arbeitslosenzahlen-salzburg.svg', alt='Arbeitslosigkeit Salzburger Land')
                        div {{ "DESCRIPTION_VISUALITION_2" | translate }}


            .col-sm-4
                .col-wrapper
                    a(href='#')
                        img.featured(src='images/placeholder-featured-vidatios-buchungsstatistik-pongau.svg', alt='Buchungsstatistik Pongau')
                        div {{ "DESCRIPTION_VISUALITION_3" | translate }}


        .browse
            a.btn.btn-embossed.btn-primary(href='#') {{ "SEARCH_VIDATIOS" | translate | uppercase }}
                span.fui-arrow-right
