#index
    #intro
        margin-bottom 40px

        h3
            text-transform uppercase

        .font-green-dark
            font-family Colaborate-Bold, $fonts
            font-size 24px

        ol
            counter-reset li-counter
            list-style-type none
            margin 10px 0
            padding 0

            li
                position relative
                margin 0 0 10px 50px

                &.active
                    &:before
                        background-color $color-green

                &:before
                    position absolute
                    left -50px
                    width 36px
                    height 36px
                    line-height 36px
                    border-radius 50%
                    background-color $color-grey-dark
                    color $color-white
                    text-align center
                    font-size 22px

                span
                    line-height 36px
                    vertical-align middle

        .video
            margin-bottom 30px

            img
                width 100%

    #usp
        color $color-white
        padding 50px
        background url(../images/dotgrid.png) $color-grey-dark
        overflow hidden
        width 100%
        text-align center

        .usp-icon
            font-size 90px

            .icon-2clicks
                font-size 100px
                height 164px

        h1
            margin-bottom 20px

    #newest-vidatios
        padding 50px

        h1
            margin-bottom 20px

        .img-container
            box-shadow -1px 1px 6px $color-shadow
            background $color-white
            padding 0 10px
            border-radius 4px

            img.newest
                width 100%
                position relative
                top 50%
                -webkit-transform translateY(-50%)
                -ms-transform translateY(-50%)
                transform translateY(-50%)

            img.placeholder
                height 50%
                opacity 0.4

        .title
            margin-top 20px
            text-align center

        .browse
            text-align center
            margin-top 30px

            .browse-icon
                margin-left 5px
                font-size 14px

    #popular-categories
        padding 50px
        min-height 500px
        background url(../images/kategorien-overlay.svg) no-repeat scroll 50% 50%, url(../images/placeholder-students.jpg)
        width 100%

    #press
        padding 50px 50px 20px 50px

        h1
            margin-bottom 30px

        .items
            text-align center

            img
                height 120px
                display block
                margin auto
                padding 10px
