#index
#profile

    h1
        margin-bottom 20px

    h2
        font-size 19px

    .get-started
        position absolute
        width 175px
        right 180px
        bottom -110px
        transform rotate(-10deg)

        a
            width inherit
            padding 10px
            font-size 30px
            text-align center
            display inline-block
            line-height 30px
            border-radius 5px

            &:visited
                color $color-white

            span
                position absolute
                width 50px
                top -20px
                right -15px
                display inline-block
                transform rotate(10deg)
                font-size 50px
                padding-top 15px
                padding-bottom 15px
                border-radius 5px

            &:hover
                span
                    background-color $color-hover-dark

            &:active
                span
                    background-color $color-active

    #intro
        padding 0 0 20px 0

        #slogan
            font-family Colaborate-Thin, $fonts
            font-size 24px
            margin-bottom 10px
            transform translate(45px, -40px)

        .diagram
            img
                width 100%
                box-shadow 2px 2px 2px 0px $color-shadow
                border-radius 4px

        .description
            margin-bottom 10px
            font-family Colaborate-Light, $fonts

            .font-green-dark
                font-family Colaborate-Bold, $fonts
                font-size 21px

        ol
            counter-reset li-counter
            list-style-type none
            margin 0
            padding 0

            > li
                position relative
                margin 0 0 15px 50px
                font-size 18px

                &.active
                    &:before
                        background-color $color-green

                &:before
                    position absolute
                    top 2px
                    left -50px
                    width 36px
                    height 36px
                    line-height 36px
                    border-radius 50%
                    background-color $color-grey-dark
                    color $color-white
                    text-align center
                    font-size 22px

                &:first-child
                    &:before
                        font-size 24px

                span
                    top 6px
                    position relative

        .video-wrapper
            padding-right 30px

            video
                width 100%

            .vjs-seek-handle
                background-color $color-green
            .vjs-play-control > div:before, .vjs-play-control > div:after
                color $color-green
            .vjs-play-progress
                background-color $color-hover-light

    #usp
        color $color-white
        padding 0 0 50px
        background url(../images/dotgrid.png) $color-grey-dark
        overflow hidden
        width 100%

        .row
            margin-top 40px

            div
                text-align center

            p
                line-height 20px

            .usp-icon
                font-size 90px

            .icon-2clicks
                font-size 100px
                margin-top -6px
                height 164px

    #newest-vidatios
        padding 50px 0 50px

        a
            color $color-grey-dark

            &:hover
                color $color-green

            .img-container
                box-shadow -1px 1px 6px $color-shadow
                background $color-white
                padding 0 10px
                border-radius 4px

                img.newest
                    width 100%
                    position relative
                    top 50%
                    -webkit-transform translateY(-50%)
                    -ms-transform translateY(-50%)
                    transform translateY(-50%)

                img.placeholder
                    height 50%
                    opacity 0.4

            .title
                font-family Colaborate-Medium, $fonts
                margin-top 10px
                text-align center

        .browse
            text-align center
            margin-top 20px

            a
                color $color-white

                .browse-icon
                    margin-left 5px
                    font-size 14px

    #popular-categories
        padding-top 50px
        background no-repeat scroll 50% 50%, url(../images/students.jpg) no-repeat
        background-size 100%, cover
        width 100%

        .center
            text-align center

        #placeholder
            display inline-block
            background url(../images/kategorien-overlay.svg) no-repeat
            background-size 100%
            width 80%
            height 300px

    #press
        padding-top 50px

        h1
            margin-bottom 30px

        .items
            text-align center

            img
                height 120px
                display block
                margin auto
                padding 10px

            h3
                color $color-grey-dark
                margin-bottom 30px
                line-height 20px

@media (max-width: 400px)
    #index #intro #slogan
        transform none

@media (max-width: 767px)
    #index #intro video
        padding 20px 20px 15px 20px

    #index
    #profile
        h1
        h2
            margin 0 20px 30px

        #intro
            .row
                .slogan
                    height 10px

            .description
                margin-top 20px

            ol
                margin 0 20px

        .get-started
            position relative
            top 40px
            right 0
            left calc(50% - 90px)

        #usp
            p
                margin 0 20px

        #newest-vidatios
            .img-container
                width 80%
                margin 0 auto
                height 45vw

                img.newest
                    max-height 44vw

            .title
                margin-bottom 30px
                font-size 20px

@media (min-width: 768px)
    #index #newest-vidatios
        .title
            font-size 16px

@media (max-width: 850px)
    #index #intro
        padding 0 0 100px 0

@media (min-width: 768px) and (max-width: 960px)
    #index #intro .get-started
    #profile .get-started
        bottom -80px
        right 100px

@media (min-width: 768px) and (max-width: 991px)
    #intro #press h3
        height 40px

    #index #newest-vidatios
        .img-container
            height 19vw

        img.newest
            max-height 18vw

@media (min-width: 992px)
    #index #newest-vidatios
        .img-container
            height 190px

            img.newest
                max-height 180px

        .title
            font-size 16px
