#landing-page
    section
        padding 50px 0

    h1
        margin-bottom 20px

    #intro
        padding 0

        .slogan
            font-size 30px
            margin-bottom 10px

        .diagram
            img
                width 100%
                -webkit-box-shadow 2px 2px 2px 0px $color-shadow
                -moz-box-shadow 2px 2px 2px 0px $color-shadow
                box-shadow 2px 2px 2px 0px $color-shadow
                border-radius 4px

        .promo
            .description
                margin-top 10px
                font-size 16px
                text-transform uppercase

        ol
            counter-reset li-counter
            list-style-type none
            margin 0
            padding 0

            & > li
                position relative
                margin-left 25px
                font-size 14px
                margin-bottom 8px

                &.active
                    &:before
                        background-color $color-green

                &:before
                    position absolute
                    left -25px
                    width 20px
                    height 20px
                    border-radius 50%
                    background-color $color-red
                    color $color-white
                    text-align center
                    content counter(li-counter)
                    counter-increment li-counter

        .get-started
            position relative
            width 175px
            margin 100px auto 0

            a
                width inherit
                padding 10px
                font-size 30px
                text-align center
                display inline-block
                line-height 30px
                border-radius 10px

                &:visited
                    color $color-white

                span
                    position absolute
                    width 50px
                    top -20px
                    right -15px
                    display inline-block
                    transform rotate(10deg)
                    font-size 50px
                    padding-top 15px
                    padding-bottom 15px
                    border-radius 10px
        .promo
            .video
                width 100%
                border 1px solid

                img
                    width 100%

    #usp
        margin-top -180px
        color $color-white
        padding-top 0
        background url(../images/dotgrid.png) $color-grey-dark

        div
            text-align center

            p
                font-size 14px

        .content
            margin-top 50px

        .usp-icon
            font-size 90px

        .shape
            width 100%
            margin-top -1px
            border-style none

    #featured-vidatios
        img.featured
            width 100%
            -webkit-box-shadow 2px 2px 2px 0px $color-shadow
            -moz-box-shadow 2px 2px 2px 0px $color-shadow
            box-shadow 2px 2px 2px 0px $color-shadow
            border-radius 4px

        p
            margin-top 10px
            font-size 16px

            & > a
                color $color-grey-dark

                &:hover
                    color $color-green

        .browse
            font-size: 18px;
            text-align center
            margin-top 30px

            a
                padding 10px
                color $color-white
                border-radius 4px

            img
                margin-left 5px
                margin-top -5px
                width 20px

    #popular-categories
        min-height 500px

        /* first image is in the foreground, second image in the background*/
        background url(../images/kategorien-overlay.svg) no-repeat scroll 50% 50%, url(../images/placeholder-students.jpg)
        width 100%

/* space between live diagram and video in intro section */
@media(max-width: 767px)
    #landing-page #intro .promo
        margin-top 20px

/* move get-started button and shape that they do not overlap */
@media(min-width: 701px)
    #landing-page #intro .get-started
        margin-top 100px
        margin-bottom 80px

@media(max-width: 700px)
    #landing-page #intro .get-started
        margin-top 50px
        margin-bottom 140px

@media(max-width: 767px)
    #landing-page #popular-categories
        /* first value concerns always the foreground image, the last value always the background image */
        background-size 95%, cover

@media(min-width: 768px) and (max-width: 1100px)
    #landing-page #popular-categories
        background-size 90%, cover

@media(min-width: 1101px) and (max-width: 1200px)
    #landing-page #popular-categories
        background-size 85%, cover

@media(min-width: 1201px) and (max-width: 1400px)
    #landing-page #popular-categories
        background-size 70%, cover

@media(min-width: 1401px) and (max-width: 1600px)
    #landing-page #popular-categories
        background-size 65%, cover

@media(min-width: 1601px)
    #landing-page #popular-categories
        background-size 52%, cover
