#intro.wrapper-content
    .row
        .col-sm-6.col-xs-12
            .video
               img(src="images/landing-page-placeholder-promo_video.svg", alt="Video Tutorial")

        .col-sm-6.col-xs-12
            h3
                | {{ "ONLY_LANDING_PAGE" | translate }}
                span.font-green-dark  {{ "THREE_STEPS_LANDING_PAGE" | translate }}
                |  {{ "TO_YOUR_VIDATIO_LANDING_PAGE" | translate }}!

            ol
                li.active.icon-import
                    span {{ "UPLOAD_FILE" | translate }}.
                li.icon-edit
                    span {{ "GENERATED_AUTOMATICALLY" | translate }}.
                li.icon-check
                    span {{ "SAVE_OR_SHARE" | translate }}.

            .get-started
                a.btn.btn-primary(ui-sref="app.import({ locale: locale })" title="{{ 'OPEN_IMPORT' | translate }} {{ 'OPEN' | translate }}")
                    h1 {{ "GET_LANDING_PAGE" | translate | uppercase }}
                    br
                    h1 {{ "STARTED_LANDING_PAGE" | translate | uppercase }}
                    span.bg-cyan !
