section#intro
    .wrapper-content
        .row
            .col-sm-12
                aside.slogan.light-font Hier steht der Slogan.

        .row
            .col-sm-7.diagram
                img(src='images/placeholder-diagramm-tankstatistik.svg', alt='Tankstatistik Österreich')
            .col-sm-5.promo
                .video awesome promo video here!

                div
                    p.description.bold-font
                        | In nur
                        span.font-red  drei Schritten
                        |  zur Infografik!

                    ol
                        li.active Datei hochladen.
                        li Eine Grafik wird automatisch erstellt.
                        li Speichern oder Teilen.

        .get-started
            a.bold-font.button(href='import')
                | GET
                br
                | STARTED
                span.bg-cyan !
