section#intro
    .wrapper-content
        .row
            .col-sm-12
                aside#slogan {{ "SLOGAN" | translate }}

        .row
            .col-sm-6.promo
                .video
                   img(src='images/landing-page-placeholder-promo_video.svg', alt='So funktioniert Vidatio')
            .col-sm-6
                h2.description
                    | {{ "ONLY_LANDING_PAGE" | translate }}
                    strong  {{ "THREE_STEPS_LANDING_PAGE" | translate }}
                    |  {{ "TO_YOUR_VIDATIO_LANDING_PAGE" | translate }}!

                ol
                    li.active.icon-import
                        span {{ "UPLOAD_FILE" | translate }}.
                    li.icon-edit
                        span {{ "GENERATED_AUTOMATICALLY" | translate }}.
                    li.icon-check
                        span {{ "SAVE_OR_SHARE" | translate }}.

                .get-started
                    //- generate link with correct language
                    a.bold-font.btn.btn-primary.btn-embossed(ui-sref="app.import({ locale: locale })")
                        | {{ "GET_LANDING_PAGE" | translate | uppercase }}
                        br
                        | {{ "STARTED_LANDING_PAGE" | translate | uppercase }}
                        span.bg-cyan !
