section#intro
    .wrapper-content
        .row
            .col-sm-12
                aside#slogan {{ "SLOGAN" | translate }}

        .row
            .col-sm-7.diagram
                img(src='images/placeholder-diagramm-tankstatistik.svg', alt='Tankstatistik Österreich')

            .col-sm-5.promo
                .video
                   img(src='images/landing-page-placeholder-promo_video.svg', alt='So funktioniert Vidatio')

                div
                    h2.description
                        | In nur
                        span.font-red  drei Schritten
                        |  zur Infografik!

                    ol
                        li.active {{ "UPLOAD_FILE" | translate }}.
                        li {{ "GENERATED_AUTOMATICALLY" | translate }}.
                        li {{ "SAVE_OR_SHARE" | translate }}.

        .get-started
            //- generate link with correct language
            a.bold-font.button(ui-sref="app.import({ locale: locale })")
                | GET
                br
                | STARTED
                span.bg-cyan !
