section#newest-vidatios(ng-show="newestVidatios.length")
    .wrapper-content
        .row
            .col-sm-12
                h1.underline-red-light {{ "NEWEST_VIDATIOS" | translate | uppercase }}

        .row
            .col-sm-4(ng-repeat="vidatio in newestVidatios")
                .col-wrapper
                    a(ui-sref="app.dataset({ id: vidatio._id, locale: locale })")
                        .img-container
                            img.newest(src="{{ vidatio.image }}")
                        .title {{ vidatio.name }}

        .browse
            a.button.btn.btn-embossed.btn-primary(ui-sref="app.catalog" href="") {{ "SEARCH_VIDATIOS" | translate | uppercase }}
                span.icon-bracketright.browse-icon
