section#press
    .wrapper-content
        .row
            .col-sm-12
                h1.underline-red-light {{ "VIDATIO_PUBLIC" | translate | uppercase }}

        .row.items
            .col-xs-6.col-md-3
                a(href="http://www.salzburger-landespreis.at/" target="_blank")
                    img.salzburger-landespreis(src="images/landespreis_2016.png" alt="Salzburger Landespreis 2016")
                    h3 {{ "PRESS_LANDESPREIS" | translate }}

            .col-xs-6.col-md-3
                a(href="http://data.salzburg.gv.at/" target="_blank")
                    img(src="images/ogdsalzburg-logo.png" alt="Open Government Data-Stammtisch Salzburg")
                    h3 {{ "PRESS_OGD_SALZBURG" | translate }}

            .col-xs-6.col-md-3
                a(href="https://open.wien.gv.at/site/" target="_blank")
                    img(src="images/ogdwien-logo.png" alt="Open Government Data-Stammtisch Wien")
                    h3 {{ "PRESS_OGD_WIEN" | translate }}

            .col-xs-6.col-md-3
                a(href="http://odaal.salzburgresearch.at/" target="_blank")
                    img(src="images/odaal.png" alt="Open Data Ambient Assisted Living-Workshop")
                    h3 {{ "PRESS_ODAAL" | translate }}
