section#press
    .wrapper-content
        .row
            .col-sm-12
                h1.underline-red-light {{ "VIDATIO_PUBLIC" | translate | uppercase }}

        .row
            .col-xs-12.col-sm-6.col-md-3
                .image-container
                    img.salzburger-landespreis(src='images/landespreis_2016.png', alt='So funktioniert Vidatio')
                h3 Salzburger Landespreis 2016

            .col-xs-12.col-sm-6.col-md-3
                .image-container
                    img(src='images/ogdsalzburg-logo.png', alt='So funktioniert Vidatio')
                h3 OGD-Stammtisch Salzburg

            .col-xs-12.col-sm-6.col-md-3
                .image-container
                    img(src='images/ogdwien-logo.png', alt='So funktioniert Vidatio')
                h3 OGD-Stammtisch Wien

            .col-xs-12.col-sm-6.col-md-3
                .image-container
                    img(src='images/anif-wordcloud.png', alt='So funktioniert Vidatio')
                h3 2. Anifer Journalismustage 2015
