section#press
    .wrapper-content
        .row
            .col-sm-12
                h1.underline-red-light {{ "VIDATIO_PUBLIC" | translate | uppercase }}

        .row
            .col-sm-3
                .image-container
                    img.salzburger-landespreis(src='images/landespreis_2016.png', alt='So funktioniert Vidatio')
                h3 Salzburger Landespreis 2016
                h4 Vidatio gewinnt im Wettbewerb der Bildungseinrichtung FH Salzburg/ MultiMediaTechnology.

            .col-sm-3
                .image-container
                    img(src='images/ogd-salzburg.png', alt='So funktioniert Vidatio')
                h3 OGD-Stammtisch Salzburg
                h4 Vidatio präsentiert im Jahr 2015 mehrmals auf den Open Government Data-Stammtischen in Salzburg.

            .col-sm-3
                .image-container
                    img(src='images/ogd-wien.png', alt='So funktioniert Vidatio')
                h3 OGD-Stammtisch Wien
                h4 Vidatio stellt sich im Dezember 2015 auf dem Open Government Data-Stammtisch in Wien vor.

            .col-sm-3
                .image-container
                    img(src='images/anifer-journalismustage.png', alt='So funktioniert Vidatio')
                h3 2. Anifer Journalismustage 2015
                h4 Vidatio nimmt als Gast bei den 2. Anifer Journalismustagen der FHWien der WKW teil und stellt das Projekt vor.
