section#press
    .wrapper-content
        .row
            .col-sm-12
                h1.underline-red-light {{ "VIDATIO_PUBLIC" | translate | uppercase }}

        .row.items
            .col-xs-6.col-md-3
                a(href="http://www.salzburger-landespreis.at/" target="_blank")
                    img.salzburger-landespreis(src="images/landespreis_2016.png" alt="Salzburger Landespreis 2016")
                    h3 Sieger Salzburger Landespreis 2016 Bildungseinrichtungen

            .col-xs-6.col-md-3
                a(href="http://data.stadt-salzburg.at/" target="_blank")
                    img(src="images/ogdsalzburg-logo.png" alt="Open Government Data Stammtisch Salzburg")
                    h3 Präsentation Open Government Data Stammtisch Salzburg

            .col-xs-6.col-md-3
                a(href="https://open.wien.gv.at/site/open-government-data-in-vienna-2/" target="_blank")
                    img(src="images/ogdwien-logo.png" alt="Open Government Data Stammtisch Wien")
                    h3 Präsentation Open Government Data Stammtisch Wien

            .col-xs-6.col-md-3
                a(href="http://odaal.salzburgresearch.at/" target="_blank")
                    img(src="images/odaal.png" alt="Open Data Ambient Assisted Living Workshop")
                    h3 Unterstützung Open Data Ambient Assisted Living Workshop
