section#usp(name="usp")
    .wrapper-content
        .row
            .col-sm-4
                .usp-icon.icon-magicwand
                h1 {{ "RECOMMEND" | translate | uppercase }}
                p {{ "RECOMMEND_DESCRIPTION" | translate }}

            .col-sm-4
                .usp-icon.icon-2clicks
                h1 {{ "TWO_KLICKS" | translate | uppercase }}
                p {{ "TWO_KLICKS_DESCRIPTION" | translate }}

            .col-sm-4
                .usp-icon.icon-opendata
                h1 {{ "OPEN_DATA" | translate | uppercase }}
                p {{ "OPEN_DATA_DESCRIPTION" | translate }}

