section#usp

    img.shape(src='images/landingpage-shape.svg', alt='')

    .wrapper-content
        .row
            .col-sm-4
                .usp-icon.icon-api
                h1 API
                p Vidatio bietet eine gute API

            .col-sm-4
                .usp-icon.icon-livedata
                h1 LIVE DATA
                p Vidatio biete Daten in Echtzeit

            .col-sm-4
                .usp-icon.icon-opendata
                h1 OPEN DATA
                p Vidatio unterstützt freien Zugang zu Daten
