@require "colors"

/**
 * Resetting bootstrap
 */

.row
    margin 0
    padding 0

.col-sm-4, .col-sm-3, .col-sm-6, .col-sm-12
    margin 0

.container-fluid
    padding 0

.btn-default:hover,
.btn-default:active,
.btn-default:focus
    color $color-white
    background-color $color-hover-light

.btn-primary
    background-color $color-green
    font-size 14px

.btn-primary:focus
    background-color $color-green

.btn-primary:hover
.btn-primary:active:focus
.open > .dropdown-toggle.btn-primary:focus

    background-color $color-hover-dark

.btn-group .dropdown-menu
    margin-top 3px
    min-width 0
    width 104px

.fui-check
    color $color-green

