/*  Standard colors */
$color-red = #FF5444
$color-green = #11DDC6
$color-dark-grey = #333
$color-light-grey = #FAFAFA

/* Hover */
$color-green-hover = #11AA9A

/* Editor table */

$color-editor-table-green = #ABF4E9
$color-editor-table-red = #F2B1B1
$color-editor-table-red-dark = #E2AAAA

/* Import */
$color-file-dropzone = #12ddc9
$color-import-options-hover = $color-editor-table-green

/* Navigation */
$color-navigation = #3F7773

/* Shadow */
$color-button-shadow = #089988
$color-box-shadow = #e3e3e3

