$color-red = #FF5444
$color-green = #11DDC6
$color-grey-dark = #333333
$color-grey-light = #FAFAFA

$color-black = #000000
$color-white = #FFFFFF

$color-border = #089988
$color-hover-light = #ABF4E9
$color-hover-dark = #11AA9A
$color-active = #3F7773
$color-passive = #4D4D4D
$color-shadow = #E3E3E3

//$color-shadow 10% darken
$color-disabled-border = #CACACA
//$color-shadow 20% darken
$color-disabled-hover = #B0B0B0

$color-editor-placeholder = #F8F8F8

$color-table-odd-passive = #F2F2F2
$color-table-even-passive = #E6E6E6
$color-table-odd-active = #D9D9D9
$color-table-even-active = #CCCCCC

$color-dropzone = rgba($color-green, .8)
