@font-face
    font-family Colaborate
    src url(../fonts/colaborate-regular.otf)
    font-style normal
    font-weight normal
@font-face
    font-family Colaborate-Bold
    src url(../fonts/colaborate-bold.otf)
    font-style normal
    font-weight normal
@font-face
    font-family Colaborate-Light
    src url(../fonts/colaborate-light.otf)
    font-style normal
    font-weight normal
@font-face
    font-family Colaborate-Thin
    src url(../fonts/colaborate-thin.otf)
    font-style normal
    font-weight bold
@font-face
    font-family Colaborate-Medium
    src url(../fonts/colaborate-medium.otf)
    font-style normal
    font-weight normal
