/**
 * Functions
 */
opacity(n)
    opacity n
    filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

box-shadow()
    -webkit-box-shadow arguments
    -moz-box-shadow arguments
    box-shadow arguments

box-sizing()
    -webkit-box-sizing arguments
    -moz-box-sizing arguments
    box-sizing arguments

border-radius()
    -webkit-border-radius arguments
    -moz-border-radius arguments
    border-radius arguments

transition()
    transition: arguments;
    -webkit-transition: arguments;
    -moz-transition: arguments;
    -o-transition: arguments;


/**
 * Blocks
 */
overlayParent =
    width 100%
    height 100%
    top 0
    left 0

fillParent =
    width 100%
    height 100%

centerElement =
    position absolute
    top 50%
    left 50%

/**
 * Variables
 */
$box-shadow-size = 0 2px 9px
$fonts = Arial, Helvetica, sans-serif
