@require "colors"

/**
 * Resetting bootstrap & flatUI
 */

.row
    margin 0
    padding 0

.col-sm-4, .col-sm-3, .col-sm-6, .col-sm-12
    margin 0

.container-fluid
    padding 0

.btn-default:hover,
.btn-default:active,
.btn-default:focus
    color $color-white
    background-color $color-hover-light

.btn-primary
    background-color $color-green
    font-size 16px

    &:focus
        background-color $color-green

.btn-primary:hover
.btn-primary:active:focus
.open > .dropdown-toggle.btn-primary:focus
    background-color $color-hover-dark

.btn-group .dropdown-menu
    margin-top 3px
    min-width 0
    width 104px

.form-control
    &:focus
    &:hover
        border-color $color-green


.form-control.input-sm
    font-size 14px

    &:focus
        color $color-black

.input-group-btn .btn
    background $color-passive
    border-color $color-passive

    &:hover
        border-color $color-green
        background $color-green

.fui-check
    color $color-green

/* Arrows in our buttons */
.fui-arrow-left
    &::before
        margin-right 10px

.fui-arrow-left
.fui-arrow-right
    &::before
        font-size 14px

/* deactivate FlatUIs hover transitions */
a
.btn
.form-control
.input-group-addon
    transition none
    -webkit-transition none


/* Registration specific styles */

.form-control
    border-radius 4px

.input-group
    &:hover
        .input-group-addon
        input.form-control
            border-color $color-green

/* VALID */
.input-group.form-group
    .input-group-addon
    .form-control-feedback
        color $color-green
        background white

/* VALID WITH FOCUS */
.input-group.form-group
    &.focus .input-group-addon
    .input-group-addon.focus
    input.form-control:focus
    .form-control-feedback
        border-color $color-green

/* INVALID */
.has-error.input-group.form-group
    .input-group-addon
    input.form-control
    .form-control-feedback
        color $color-red
        border-color $color-red


.input-group.form-group
input.form-control
    &:focus
        color $color-black

.input-group .form-control:not(:first-child):not(:last-child)
    border-radius 0 4px 4px 0

.input-group-addon
    border-radius 4px

span.error
    width 100%
    color $color-grey-light
    text-align center
    background $color-red
    padding 5px 10px
    display block
    border-radius 4px
    margin-bottom 10px

    &.ng-hide-add
        animation: 0.5s fadeOut ease;

    &.ng-hide-remove
        animation: 0.5s fadeIn ease;


@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}
