@require "colors"
@require "helpers"

/**
 * Resetting bootstrap & flatUI
 */

/* deactivate FlatUIs hover transitions */
a
.btn
.form-control
.input-group-addon
    transition none

.row
    margin 0
    padding 0

.col-sm-4, .col-sm-3, .col-sm-6, .col-sm-12
    margin 0

.container-fluid
    padding 0

.btn-default:hover,
.btn-default:active,
.btn-default:focus
    color $color-white
    background-color $color-hover-light

.btn-primary
    background-color $color-green
    color $color-white
    font-size 16px

    &:hover
    &:focus,
    &:active,
    &:active:hover
        background-color $color-hover-dark

.btn-group .dropdown-menu
    margin-top 3px
    min-width 0
    width 104px

.btn-embossed
    box-shadow inset 0 -4px 0 $color-border
    position relative
    top 0
    padding-bottom 14px

    &:hover
        background-color $color-green
        box-shadow inset 0 -3px 0 $color-border
        top 1px

        span
            top: 1px
            box-shadow none

    &:focus,
    &:active,
    &:active:hover
        top: 2px
        background-color $color-green
        box-shadow none

        span
            background-color $color-green


.dropdown-menu > li > a
    &:hover
        background-color $color-hover-dark
        color $color-white

.form-control.input-sm
    font-size 14px

    &:focus
        color $color-black

.input-group-btn .btn
    background $color-passive
    border-color $color-passive

    &:hover
        border-color $color-green
        background $color-green

.btn-tip
    font-size 16px

.fui-check
    color $color-green

/* Arrows in our buttons */
.fui-arrow-left
    &::before
        margin-right 7px

.fui-arrow-right
    &::before
        margin-left 7px

.fui-arrow-left
.fui-arrow-right
    &::before
        font-size 14px


/* Registration specific styles */
.form-control
    border-radius 4px

    &:focus
    &:hover
        border-color $color-green

.input-group
    &:hover
        .input-group-addon
        input.form-control
            border-color $color-green

.input-group-btn .btn
    background $color-green
    border-color $color-green

.input-group-btn .btn-default
    &:focus
    &:active
        background $color-green
        border-color $color-green

/* STATE VALID */
.input-group.form-group
    .input-group-addon
    .form-control-feedback
        color $color-green
        background white

/* STATE VALID WITH FOCUS */
.input-group.form-group
    &.focus .input-group-addon
    .input-group-addon.focus
    input.form-control:focus
    .form-control-feedback
        border-color $color-green

/* STATE INVALID */
.has-error.input-group.form-group
    .input-group-addon
    input.form-control
    .form-control-feedback
        color $color-red
        border-color $color-red

.input-group.form-group
input.form-control
    &:focus
        color $color-black

.input-group .form-control:not(:first-child):not(:last-child)
    border-radius 0 4px 4px 0

.input-group-addon
    border-radius 4px

span.error
    width 100%
    color $color-grey-light
    text-align center
    background $color-red
    padding 5px 10px
    display block
    border-radius 4px
    margin-bottom 10px

    &.ng-hide-add
        animation: 0.5s fadeOut ease;

    &.ng-hide-remove
        animation: 0.5s fadeIn ease;
