.vidatios
    .row.cards
        display flex
        flex-wrap wrap

        > div
            display flex

.vidatio
    margin-bottom 20px
    background #F2F2F2
    border-top 3px solid $color-green
    box-shadow $box-shadow-size $color-shadow
    position relative
    width 100%
