.vidatio
    margin-bottom 20px
    background #F2F2F2
    border-top 3px solid $color-green
    box-shadow $box-shadow-size $color-shadow
    position relative

    h4, img
        font-size 18px
        width 100%

    .img
        background-color $color-white
        display block

    .text
        padding 10px 10px 25px

    .title
        margin-bottom 15px

    a.img:hover ~ .text a
        color $color-hover-dark

    p
        line-height 1.2
        font-size 14px

    #create-vidatio
        font-size 12px
        padding 6px 8px
        right 10px
        top 10px
        position absolute
        visibility hidden

        span
            margin-left 2px

    &:hover #create-vidatio
        visibility visible

    @media(max-width 768px)
        #create-vidatio
            visibility visible
