.vidatio
    margin-bottom 20px
    background #F2F2F2
    border-top 3px solid $color-green
    box-shadow $box-shadow-size $color-shadow

    h4, img
        font-size 18px
        width 100%

    .img
        background #F2F2F2

    .text
        padding 10px 10px 25px

    .title
        margin-bottom 15px

    a.img:hover ~ .text a
        color $color-hover-dark

    p
        line-height 1.2
        font-size 14px
    a
        display block
        padding 0
        width 100%

    a.right
        padding 0 8px
        text-align right
