vidatio-overview
    text-align center
    padding-bottom  20px

    .content-container
        width 100%
        height 100%

    .btns-container
        width 100%
        height 60px

    .icon-edit
    .icon-trash
        width 50px
        margin 0 10px

    .btns
        position absolute
        bottom 15px
        left 50%
        width 100%
        transform translateX(-50%)
