.content-container
    a.img(ui-sref="app.dataset({ id: vidatio._id, locale: locale })" title="{{'OPEN_IN_DETAILVIEW' | translate }}")

        img(ng-class="{placeholder: vidatio.image == 'images/logo-greyscale.svg'}" src="{{ vidatio.image }}" alt="vidatio.name")

    .text
        a.inverse(ui-sref="app.dataset({ id: vidatio._id, locale: locale })" title="{{ 'OPEN_IN_DETAILVIEW' | translate }}")
            h4.title {{ vidatio.metaData.name }}
        p {{ "CATEGORY" | translate }}: {{ vidatio.metaData.categoryId.name }}
        p {{ "DATE" | translate }}: {{ vidatio.createdAt | date: "dd.MM.yyyy" }}

.btns-container
    .btns
        .action-button
            a.icon-edit.icons(ui-sref="app.editor({ locale: locale })" ng-click="openInEditor()" title="{{'OPEN_IN_EDITOR'|translate}}")
                span  {{ "USE" | translate }}
            a.icon-trash.icons(ng-show="authorized" title="{{'DATASET_DELETE'|translate}}" ng-click="deleteVidatio()")
                span  {{ "DELETE" | translate }}
