nav
    .cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-right
        .menu-header
            .col-md-6
                .menu-close-button
                    a(ng-click="toggleMenu()") &times;

            .col-md-6
                #logo-menu
                    a(ui-sref="app.landingPage({ locale: locale })", ng-click="toggleMenu()")

        div
            a(href="") Verfügbare Datensets
            a(ui-sref="app.import({ locale: locale })", ng-click="toggleMenu()") Daten importieren
            a(href="") Features
            a(href="") Pricing
            a(href="") API

        h3 {{ 'USER_SECTION' | translate }}
        .login-container
            p {{ 'MAIL' | translate }}
            input.form-control.input-sm(type="text" placeholder="{{ 'MAIL' | translate }}")
            p {{ 'PASSWORD' | translate }}
            input.form-control.input-sm(type="text" placeholder="{{ 'PASSWORD' | translate }}")
            button.btn.btn-primary.btn-wide.input-sm(type="submit") {{ 'LOGIN' | translate }}
