section#team
    .wrapper-content
        .row.layout-3-columns
            .col-sm-4
                    .img-and-text-wrapper
                        img(src='/images/vidatio-team-g.jpg') 
                        h3 Georg
                        a(href='mailto:georg@vidatio.com') georg@vidatio.com
                        p At vero eos et accusam et justo duo dolores et ea rebum. At vero eos et accusam et justo duo dolores et ea rebum.

            .col-sm-4
                    .img-and-text-wrapper 
                        img(src='/images/vidatio-team-a.jpg') 
                        h3 Andi
                        a(href='mailto:andi@vidatio.com') andi@vidatio.com
                        p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

            .col-sm-4
                    .img-and-text-wrapper
                        img(src='/images/vidatio-team-c.jpg') 
                        h3 Christian
                        a(href='mailto:christian@vidatio.com') christian@vidatio.com
                        p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod.

        .row.other
            .col-sm-4
                    .img-and-text-wrapper 
                        img(src='/images/vidatio-team-l.jpg') 
                        h3 Lukas
                        a(href='mailto:lukas@vidatio.com') lukas@vidatio.com
                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
            .col-sm-4
                    .img-and-text-wrapper
                        img(src='/images/vidatio-team-f.jpg') 
                        h3 Fabio
                        a(href='mailto:fabio@vidatio.com') fabio@vidatio.com
                        p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

 
 section#team-all
    .wrapper-content
        .row
            .col-sm-12
                h1 Seeing the bigger picture
                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

section#team-photo