section#team
    .wrapper-content
        .row.layout-3-columns
            .col-sm-4
                    .img-and-text-wrapper
                        img(src='/images/vidatio-team-g.jpg') 
                        h3 Georg
                        a(href='mailto:georg@vidatio.com') georg@vidatio.com
                        h4 Product Owner & Clean Coder
                        p Georg ist rund um die Uhr für Vidatio im Einsatz, fast immer erreichbar und allzeit für die Erarbeitung nachhaltiger Lösungsansätze bereit. Er ist der Chef in Sachen Refactoring, ein Shortcut-Ninija und das Oberhaupt des Procrastination-Channels. Außerdem ist er Rekordhalter im Bugfixing und zeigt beim Pair Programming gerne seineDJ-Künste.   

            .col-sm-4
                    .img-and-text-wrapper 
                        img(src='/images/vidatio-team-a.jpg') 
                        h3 Andi
                        a(href='mailto:andi@vidatio.com') andi@vidatio.com
                        h4 UX-Hero
                        p Andi ist ein hilfsbereiter Vollblut-Bayer und in seiner Freizeit meist in der Heimat bei seinen Freunden und seiner Familie anzutreffen. Außerdem zieht es ihn in die Natur, wo er in seinen Turnschuhen oder auf dem Radl unterwegs ist. Mit seinen selbstgebackenen Kuchen sorgt er immer für gute Stimmung bei Team-Meetings.

            .col-sm-4
                    .img-and-text-wrapper
                        img(src='/images/vidatio-team-c.jpg') 
                        h3 Christian
                        a(href='mailto:christian@vidatio.com') christian@vidatio.com
                        h4 Frontend-König & Dockerexperte
                        p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod.

        .row.other
            .col-sm-4
                    .img-and-text-wrapper 
                        img(src='/images/vidatio-team-l.jpg') 
                        h3 Lukas
                        a(href='mailto:lukas@vidatio.com') lukas@vidatio.com
                        h4 Entwickler, Stratege &  Durchblicker
                        p Lukas ist die Team-Mama, die immer den Überblick behält und sich darum kümmert, dass es allen gut geht. Wenn er nicht gerade am Coden ist, knackt er gerne Schlösser oder widmet sich der Nahrungsaufnahme (was seinen Teamkollegen zufolge oftmals im Schneckentempo passiert).  

            .col-sm-4
                    .img-and-text-wrapper
                        img(src='/images/vidatio-team-f.jpg') 
                        h3 Fabio
                        a(href='mailto:fabio@vidatio.com') fabio@vidatio.com
                        h4 Backend-Champion & Ruhepol
                        p Fabio ist der Sportler im Team und nutzt jede freie Minute um für den Triathlon zu trainieren. Die morgendliche Radlfahrt ins Vidatio Büro verbessert dabei auch noch Vidatios ökologischen Fußabdruck. 

 
 section#team-all
    .wrapper-content
        .row
            .col-sm-12
                h1 Seeing the bigger picture
                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

section#team-photo
section#team-photo-caption
    .wrapper-content
        .row
            .col-sm-12
                p Alle Vidatio Mitglieder (von links nach rechts): Georg Eschbacher, Christian Lehner, Jill Gori, Benjamin Fillei, Lukas Wanko, Mona Fenzl, Nino Kratzer, Carola Englert, Andreas Frank, Kathrin Suppanz, Fabian Schneider, Fabio Batz  