#teampage
    section#team
        .wrapper-content
            .row.layout-3-columns
                .col-sm-4
                        .img-and-text-wrapper
                            img(src='/images/vidatio-team-g.jpg')
                            h3 Georg
                            a(href='mailto:georg.eschbacher@vidatio.com') georg.eschbacher@vidatio.com
                            h4 Product Owner & Clean Coder
                            p Georg ist rund um die Uhr für Vidatio im Einsatz, fast immer erreichbar und allzeit für die Erarbeitung nachhaltiger Lösungsansätze bereit. Er ist der Chef in Sachen Refactoring, ein Shortcut-Ninija und das Oberhaupt des Procrastination-Channels. Außerdem ist er Rekordhalter im Bugfixing und zeigt beim Pair Programming gerne seine DJ-Künste.

                .col-sm-4
                        .img-and-text-wrapper
                            img(src='/images/vidatio-team-a.jpg')
                            h3 Andreas
                            a(href='mailto:andreas.frank@vidatio.com') andreas.frank@vidatio.com
                            h4 UX-Hero, Organizer & Scrum-Master
                            p Andi ist leidenschaftlicher Usability Tester und Frontend-Designer. In seiner Freizeit ist der hilfsbereite Vollblut-Bayer meist in der Heimat bei Freunden und Familie anzutreffen oder macht das Salzachufer in Turnschuhen und auf dem Radl unsicher. Neben der Planung und Koordination der Vidatio-Meetings, sorgt Andi mit selbstgebackenen Kuchen auch gerne für das leibliche Wohl seiner Teamkollegen.

                .col-sm-4
                        .img-and-text-wrapper
                            img(src='/images/vidatio-team-c.jpg')
                            h3 Christian
                            a(href='mailto:cchristian.lehner@vidatio.com') christian.lehner@vidatio.com
                            h4 Frontend-König & Dockerexperte
                            p Chri ist ein Weltenbummler und reist zusammen mit seiner Freundin gerne in alle Herren Länder. Ob auf Reisen oder zuhause, scharfes Essen ist für den passionierten Chili-Züchter und Schärfe-Experten ein Muss. Wenn es um neue Technologien und aktuelle Programmiertrends geht, ist Chri außerdem erster Ansprechpartner und immer up to date.

            .row.other
                .col-sm-4
                        .img-and-text-wrapper
                            img(src='/images/vidatio-team-l.jpg')
                            h3 Lukas
                            a(href='mailto:lukas.wanko@vidatio.com') lukas.wanko@vidatio.com
                            h4 Entwickler, Stratege &  Durchblicker
                            p Lukas ist die Team-Mama, die immer den Überblick behält und sich darum kümmert, dass es allen gut geht. Wenn er nicht gerade am Coden ist, beschäftigt er sich mit Sperrtechnik oder widmet sich der gesunden Nahrungsaufnahme (was laut seinen Teamkollegen im Schneckentempo passiert). Außerdem feilt Lukas an seiner Tanzkarriere und schwebt bis zu dreimal in der Woche mit seiner Freundin über das Parkett.

                .col-sm-4
                        .img-and-text-wrapper
                            img(src='/images/vidatio-team-f.jpg')
                            h3 Fabio
                            a(href='mailto:fabio.batz@vidatio.com') fabio.batz@vidatio.com
                            h4 Backend-Champion & Ruhepol
                            p Fabio ist die Sportskanone im Team und nutzt jede freie Minute um unermüdlich für den Triathlon zu trainieren. Mit seiner allmorgendlichen Radfahrt ins Vidatio Büro verbessert er dabei auch noch Vidatios ökologischen Fußabdruck. Egal ob Backend-Hacking oder Frontend-Programmierung, Fabio ist das Mädchen für alles und als unkomplizierter Allrounder unersätzlich für seine Teamkollegen. Außerdem wird durch Fabios energischen Laptop Lüfter jede Video-Konferenz mit dem überzeugten Badener zum Highlight.


     section#team-all
        .wrapper-content
            .row
                .col-sm-12
                    h1 Seeing the bigger picture
                    p Hinter Vidatio steht die Vision Daten für jedermann sichtbar zu machen. Und das in ihrer verständlichsten und stimmigsten Form. Mit dieser Idee vor Augen arbeiten neben dem fünfköpfigen Vidatio-Kernteam aus Webentwicklern noch sieben weitere Teilzeit-Teammitglieder eifrig an der Konzeption, Gestaltung, Entwicklung und Vermarktung der Webplattform. Insgesamt besteht das interdisziplinäre Vidatio-Team aus einem Dutzend kluger Köpfe und ist eine Mischung aus Design-Genies, UX-Experten, Creative Codern, Manager-Meistern und Cyberpunks.
            .row
                .col-sm-4
                    h2 Konzept & Design
                    ul
                        li Jill Goritschnig
                        li Benjamin Fillei
                        li Fabian Schneider
                        li Mona Fenzl
                .col-sm-4
                    h2 Frontend Development
                    ul
                        li Fabian Schneider
                        li Mona Fenzl
                .col-sm-4
                    h2 Management
                    ul
                        li Carola Englert
                        li Kathrin Suppanz
                        li Nino Kratzer

    section#team-photo
    section#team-photo-caption
                    p Vidatio von links nach rechts: Georg Eschbacher, Christian Lehner, Jill Goritschnig, Benjamin Fillei, Lukas Wanko, Mona Fenzl, Nino Kratzer, Carola Englert, Andreas Frank, Kathrin Suppanz, Fabian Schneider, Fabio Batz
