.visualization

    .map(ng-show="options.type == 'map'")
        leaflet(id="map" geojson="geojson")

    .chart(ng-hide="options.type == 'map' || !options.type")

    .placeholder(ng-show="!options.type")
        img(src="images/logo-without-name.png")
