#login
    max-width 400px

    h4
        text-align center
        margin 15px auto
        width 100%
        font-family Colaborate-Regular, $fonts

    p
        {lightText}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}
