nav
    .cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-right
        .menu-header
            .col-md-6
                .menu-close-button
                    a(ng-click="toggleMenu()") &times;

            .col-md-6
                #logo-menu
                    a(ui-sref="app.index({ locale: locale })", ng-click="toggleMenu()")

        .menu-list
            a(href="") {{ 'AVAILABLE_DATASETS' | translate }}
            a(ui-sref="app.import({ locale: locale })", ng-click="toggleMenu()") {{ 'IMPORT_DATA' | translate }}
            a(href="") {{ 'FEATURES' | translate }}
            a(href="") {{ 'PRICING' | translate }}
            a(href="") {{ 'API' | translate }}
            br
            a(ui-sref="app.login({ locale: locale })", ng-click="toggleMenu()") {{ 'LOG_ON' | translate }}
            a(ui-sref="app.registration({ locale: locale })", ng-click="toggleMenu()") {{ 'REGISTRATION' | translate }}

        registration
        login
