#visualization.wrapper-content(ng-controller="VisualizationCtrl" ng-show="$root.showVisualizationView" ng-class="{'col-md-6': $parent.activeViews === 2, 'col-md-12': $parent.activeViews === 1}")
    .content.height-500
        .settings-bar
            .axis-selection
                p {{ "X_AXIS" | translate }}
                select.btn.btn-default.dropdown-toggle(name="xAxisSelect" ng-model="xAxisCurrent" ng-change="changeAxisColumnSelection()")
                    //- option(value="") -- {{ "COLUMN" | translate }} --
                    option(ng-repeat="(id, header) in colHeadersSelection track by $index" value="{{id}}") {{ header }}
                p {{ "Y_AXIS" | translate }}
                p {{ $scope.xAxisCurrent }} - {{ $scope.yAxisCurrent }}
                select.btn.btn-default.dropdown-toggle(name="yAxisSelect" ng-model="yAxisCurrent" ng-change="changeAxisColumnSelection()")
                    //- option(value="") -- {{ "COLUMN" | translate }} --
                    option(ng-repeat="(id, header) in colHeadersSelection track by $index" value="{{id}}") {{ header }}

            .download-button
                a(href='#')
                ul
                    li
                        a(ng-click='shareVisualization("png")') PNG
                    li
                        a(ng-click='shareVisualization("jpg")') JPG

        leaflet(geojson="geojson" id="map" ng-show="diagramType == 'map'")
        #chart(ng-hide="diagramType == 'map'")
