#visualization.wrapper-content(ng-controller="VisualizationCtrl" ng-show="$root.showVisualizationView" ng-class="{'col-md-6': $parent.activeViews === 2, 'col-md-12': $parent.activeViews === 1}")
    .content.height-500
        .settings-bar
            #visualization-settings-container
                .download-button
                    a(href='#')
                    ul
                        li
                            a(ng-click='shareVisualization("png")') PNG
                        li
                            a(ng-click='shareVisualization("jpg")') JPG

        leaflet(geojson="geojson" id="map" ng-show="recommendedDiagram == 'map'")
        #chart(ng-hide="recommendedDiagram == 'map'")
