#visualization
    margin 0 auto 30px

    .angular-leaflet-map
        height 100%
        width 100%

        a:link, a:visited
            color $color-black

    .leaflet-container
        a.leaflet-popup-close-button
            top 5px
            right 2px

        .leaflet-popup-content-wrapper
            min-width 140px
            border-top 5px solid $color-red
            border-radius 0px

            .leaflet-popup-content
                padding-right 15px
                a:hover
                    color $color-active

        .leaflet-popup-tip
            width 20px
            height 20px

        path.leaflet-clickable
            stroke #4d4d4d
            stroke-opacity 1
            fill #11ddc6
            fill-opacity 0.25
            stroke-width 3px
            stroke-dasharray 5


