#visualization.wrapper-content(ng-controller="VisualizationCtrl" ng-show="$root.showVisualizationView" ng-class="{'col-md-6': $parent.activeViews === 2, 'col-md-12': $parent.activeViews === 1}")
    .content.height-500
        .settings-bar
            .axis-selection(ng-if="meta.fileType != 'shp'")
                p(ng-if="diagramType != 'map'") {{ "X_AXIS" | translate }}
                p(ng-if="diagramType == 'map'") {{ "LONGITUDE" | translate }}
                .btn-group
                    button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") {{ colHeadersSelection[xAxisCurrent] }}
                        span.caret
                    ul.dropdown-menu(role="menu")
                        li(ng-repeat="(id, header) in colHeadersSelection track by $index")
                            a(href="#" ng-click="setAxisColumnSelection('x', id)") {{ header}}

                p(ng-if="diagramType != 'map'") {{ "Y_AXIS" | translate }}
                p(ng-if="diagramType == 'map'") {{ "LATITUDE" | translate }}
                .btn-group
                    button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") {{ colHeadersSelection[yAxisCurrent] }}
                        span.caret
                    ul.dropdown-menu(role="menu")
                        li(ng-repeat="(id, header) in colHeadersSelection track by $index")
                            a(href="#" ng-click="setAxisColumnSelection('y', id)") {{ header}}
            .diagram-selection
                .btn-group
                    button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") {{ selectedDiagramName }}
                        span.caret
                    ul.dropdown-menu(role="menu")
                        li(ng-repeat="diagram in supportedDiagrams")
                            a(href="#" ng-click="selectDiagram(diagram.name, diagram.type)")
                                img.graph-icon(src="{{ diagram.imagePath }}")
                                | {{ diagram.name }}

            .color-selection
                a(href='#').icon-download-3
                    color-picker(ng-model="color")

            .download-button
                a(href='#').icon-download-3
                ul
                    li
                        a(ng-click='shareVisualization("png")') PNG
                    li
                        a(ng-click='shareVisualization("jpg")') JPG

        leaflet(geojson="geojson" id="map" ng-show="diagramType == 'map'")
        #chart(ng-hide="diagramType == 'map' || diagramType == false")
        #chart-empty(ng-hide="diagramType")
            .row
                .col-md-12.diagram-placeholder
                    div
                        img(src="images/logo-without-name.png" )
