#visualization.wrapper-content(ng-controller="VisualizationCtrl" ng-show="$root.showVisualizationView" ng-class="{'col-md-6': $parent.activeViews === 2, 'col-md-12': $parent.activeViews === 1}")
    .content.height-500
        .settings-bar

            .x-axis
                p {{ $scope.xAxis }}
                p X-Axis
                select.btn.btn-default.dropdown-toggle(name="xAxisSelect" ng-model="xAxis")
                    each diagram in ["Scatter", "Line", "Bar"]
                        option= diagram

            #visualization-settings-container
                .download-button
                    a(href='#')
                    ul
                        li
                            a(ng-click='shareVisualization("png")') PNG

                        li
                            a(ng-click='shareVisualization("jpg")') JPG

        leaflet(geojson="geojson" id="map")
