#visualization.wrapper-content(ng-controller="VisualizationCtrl" ng-show="$root.showVisualizationView" ng-class="{'col-md-6': $parent.activeViews === 2, 'col-md-12': $parent.activeViews === 1}")
    .content.height-500
        .settings-bar
            a.recommend-button.btn.btn-primary.btn-small(ng-hide="data.meta.fileType == 'shp'" href="#" ng-click="recommend()" title="{{ 'DIAGRAMS.RECOMMEND' | translate }}")
                i.icon-magicwand.icon
                span.text {{ "DIAGRAMS.RECOMMEND" | translate }}

            .diagram-selection.settings-button(ng-hide="data.meta.fileType == 'shp'")
                a(href='#' title="{{'CHANGE_DIAGRAM'|translate}}").icon-diagrammenu
                    span {{ "DIAGRAMS.DIAGRAM_TYPE" | translate }}
                ul.diagram-menu
                    li.diagram-button
                        a.icon-barchart(href="#" ng-click="selectDiagram('bar')")
                            span {{ "DIAGRAMS.BAR_CHART" | translate }}
                    li.diagram-button
                        a.icon-scatterplotchart(href="#" ng-click="selectDiagram('scatter')")
                            span {{ "DIAGRAMS.SCATTER_PLOT" | translate }}
                    li.diagram-button
                        a.icon-linechart(href="#" ng-click="selectDiagram('timeseries')")
                            span {{ "DIAGRAMS.TIME_SERIES" | translate }}
                    li.diagram-button
                        a.icon-parallelcoordinateschart(href="#" ng-click="selectDiagram('parallel')")
                            span {{ "DIAGRAMS.PARALLEL_COORDINATES" | translate }}
                    li.diagram-button
                        a.icon-map(href="#" ng-click="selectDiagram('map')")
                            span {{ "DIAGRAMS.MAP" | translate }}

            .color-selection.settings-button(ng-hide="visualization.type == 'map'")
                a.icon-colorbucket(href="#" colorpicker="hex" colorpicker-position="bottom" ng-model="visualization.color" colorpicker-with-input="true" title="{{'CHANGE_COLOR'|translate}}")
                    span {{ "COLORS" | translate }}

            .download-selection.settings-button
                a(href='#' title="{{'DOWNLOAD'|translate}} {{'VISUALIZATION'|translate}}").icon-download
                    span {{ "DOWNLOAD" | translate }}
                ul.download-menu
                    li.download-button
                        a.icon-downloadvisualization(href="#" ng-click="shareVisualization('jpg')")
                            span JPEG
                    li.diagram-button
                        a.icon-downloadvisualization(href="#" ng-click="shareVisualization('png')")
                            span PNG

        leaflet(geojson="geojson" id="map" ng-show="visualization.type == 'map'")
        #chart(ng-hide="visualization.type == 'map' || visualization.type == false")
        #chart-placeholder(ng-hide="visualization.type")
            img(src="images/logo-without-name.png" )
