#visualization
    padding-left 30px

    #chart, .angular-leaflet-map, #chart-placeholder
        height 100% !important
        width 100% !important

    #chart
        input[id^="d3plus_"][id$="_inline_input"]
            position absolute
            padding 5px
            font-family Helvetica
            font-weight 200
            font-size 12px

    .angular-leaflet-map
        a:link, a:visited
            color $color-black

        .leaflet-bar a
            &:hover
                background-color $color-hover-light

    .leaflet-container
        a.leaflet-popup-close-button
            top 5px
            right 2px

            &:hover
                color $color-red !important

        .leaflet-popup-content-wrapper
            min-width 140px
            border-top 5px solid $color-red
            border-radius 0px

            .leaflet-popup-content
                padding-right 15px
                overflow-wrap break-word

                a:link, a:visited
                    color $color-active
                a:hover, a:active
                    color $color-black

        .leaflet-popup-tip
            width 20px
            height 20px

        path.leaflet-clickable
            stroke $color-passive
            stroke-opacity 1
            fill $color-green
            fill-opacity 0.25
            stroke-width 3px
            stroke-dasharray 5

    .settings-bar
        .axis-selection
            margin-top 5px
            p
                display inline-block

                &:last-of-type
                    margin-left 15px

            ul
                max-height 500px
                overflow auto

            .btn-group
                display inline-block
            .btn
                min-width 20px

        .diagram-selection
            margin-top 1px

        .color-selection a .angular-color-picker
            display none

            //bugfix angular-color-picker cursors
            .angular-color-picker > ._hues > ._cursor
                left -6px
                width 40px

        .color-selection a:hover .angular-color-picker
            display block

        .graph-icon
            width 30px
            margin-right 10px
            margin-top 5px

        .download-button li:first-child
            border-bottom 2px solid $color-green

    #chart-empty
        overflow hidden

        .row
            border-top none


    #chart-placeholder
        box-shadow inset $box-shadow-size $color-shadow

            .diagram-placeholder
                padding 0 0

                div
                    box-shadow inset 0 0 15px $color-shadow
                    height 100%

                img
                    width 120px
                    display inline-block
                    opacity .4
                    position absolute
                    top 0
                    left 0
                    right 0
                    bottom 0
                    margin auto

@media(max-width: 991px)
    #chart-empty
        height calc(100% - 15px)

        .diagram-placeholder
            height 100%

@media(min-width: 992px)
    #chart-empty
        height calc(100% - 50px)

        .diagram-placeholder
            height calc(100% - 80px)
