#visualization.wrapper-content(ng-controller="VisualizationCtrl" ng-show="$root.showVisualizationView" ng-class="{'col-md-6': $parent.activeViews === 2, 'col-md-12': $parent.activeViews === 1}")
    .content.height-500
        .settings-bar
            .axis-selection(ng-if="meta.fileType != 'shp'")
                p(ng-if="visualization.type != 'map'") {{ "X_AXIS" | translate }}
                p(ng-if="visualization.type == 'map'") {{ "LONGITUDE" | translate }}
                .btn-group
                    button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") {{ header[visualization.xColumn] || "HEADER_DEFAULT" | translate }}
                        span.caret
                    ul.dropdown-menu(role="menu")
                        li(ng-repeat="(id, column) in header track by $index" ng-if="column != null")
                            a(href="#" ng-click="setAxisColumnSelection('x', id)") {{ column }}

                p(ng-if="visualization.type != 'map'") {{ "Y_AXIS" | translate }}
                p(ng-if="visualization.type == 'map'") {{ "LATITUDE" | translate }}
                .btn-group
                    button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") {{ header[visualization.yColumn] || "HEADER_DEFAULT" | translate }}
                        span.caret
                    ul.dropdown-menu(role="menu")
                        li(ng-repeat="(id, column) in header track by $index" ng-if="column != null")
                            a(href="#" ng-click="setAxisColumnSelection('y', id)") {{ column }}

            .diagram-selection(ng-hide="meta.fileType == 'shp'")
                .btn-group
                    button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") {{ visualization.selectedDiagramName || "DIAGRAMS.DIAGRAM_TYPE" | translate }}
                        span.caret
                    ul.dropdown-menu(role="menu")
                        li
                            a(href="#" ng-click="selectDiagram('scatter')")
                                img.graph-icon(src="/images/diagram-icons/scatter-plot.svg")
                                | {{ "DIAGRAMS.SCATTER_PLOT" | translate }}
                        li
                            a(href="#" ng-click="selectDiagram('map')")
                                img.graph-icon(src="/images/diagram-icons/map.svg")
                                | {{ "DIAGRAMS.MAP" | translate }}
                        li
                            a(href="#" ng-click="selectDiagram('parallel')")
                                | {{ "DIAGRAMS.PARALLEL_COORDINATES" | translate }}
                        li
                            a(href="#" ng-click="selectDiagram('bar')")
                                img.graph-icon(src="/images/diagram-icons/bar-chart.svg")
                                | {{ "DIAGRAMS.BAR_CHART" | translate }}
                        li
                            a(href="#" ng-click="selectDiagram('timeseries')")
                                img.graph-icon(src="/images/diagram-icons/line-chart.svg")
                                | {{ "DIAGRAMS.TIME_SERIES" | translate }}

            .trigger-recommender.hover-button(ng-hide="meta.fileType == 'shp'")
                a.icon-search(href='#' ng-click="recommend()")

            .color-selection.hover-button(ng-hide="visualization.type == 'map'")
                a.icon-edit(colorpicker="hex" colorpicker-position="bottom" ng-model="visualization.color" colorpicker-with-input="true")

            .download-button.hover-button
                a.icon-download-3(href='#')
                ul
                    li
                        a(ng-click='shareVisualization("png")') PNG
                    li
                        a(ng-click='shareVisualization("jpg")') JPG

        leaflet(geojson="geojson" id="map" ng-show="visualization.type == 'map'")

        #chart(ng-hide="visualization.type == 'map' || visualization.type == false")

        #chart-placeholder(ng-hide="visualization.type")
            img(src="images/logo-without-name.png" )
