doctype html
html(ng-app='vidatio')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Vidatio
    link(rel='stylesheet', href='bower_components/handsontable/dist/handsontable.full.css')
    link(href='../css/font-awesome.css', rel='stylesheet')
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='assets/css/icons.css', rel='stylesheet')
    link(rel='stylesheet', href='../css/main.css')
    link(rel='stylesheet', href='../css/index.css')
  body.container-fluid
    header
      .row
        #line-right.col-xs-6
        #line-left.col-xs-6
      div
        #navigation.row
          .col-xs-6.logo
            a(href='#')
              #logo
          .col-xs-6.menu-buttons
            a#menu.icon-profile(href='#')
            a#user.icon-hamburger(href='#')
    section#intro
      .content
        .row
          .col-sm-12
            aside.slogan.light-font Hier steht der Slogan.
        .row
          .col-sm-7.diagram
            img(src='assets/img/placeholder-diagram.png', alt='placeholder')
          .col-sm-5.promo
            .video awesome promo video here!
            div
              p.description.bold-font
                | In nur
                span.font-red drei Schritten
                |  zur Infografik!
              ol
                li.active Datei hochladen.
                li Eine Grafik wird automatisch erstellt.
                li Speichern oder Teilen.
        .get-started
          a.bold-font.button(href='import.html')
            | GET
            br
            | STARTED
            span.bg-cyan !
    section#usp
      img.shape(src='assets/img/landingpage-shape.png', alt='')
      .content
        .row
          .col-sm-4
            .usp-icon.icon-api
            h2 API
            p Vidatio bietet eine gute API
          .col-sm-4
            .usp-icon.icon-livedata
            h2 LIVE DATA
            p Vidatio biete Daten in Echtzeit
          .col-sm-4
            .usp-icon.icon-opendata
            h2 OPEN DATA
            p Vidatio unterstützt freien Zugang zu Daten
    section#featured-vidatios
      .content
        .row
          .col-sm-12
            h1.underline-turqoise BELIEBTE VIDATIOS
        .row.layout-3-columns
          .col-sm-4
            .col-wrapper
              img(src='assets/img/placeholder-featured-vidatios.png', alt='')
              p
                | Wasserverbrauch
                a.thin-font(href='#') Mehr
          .col-sm-4
            .col-wrapper
              img(src='assets/img/placeholder-featured-vidatios.png', alt='')
              p
                | Wasserverbrauch
                a.thin-font(href='#') Mehr
          .col-sm-4
            .col-wrapper
              img(src='assets/img/placeholder-featured-vidatios.png', alt='')
              p
                | Wasserverbrauch
                a.thin-font(href='#') Mehr
        .browse
          a.light-font.button(href='#')
            | VIDATIOS DURCHSUCHEN
            img(src='assets/img/arrow.png', alt='')
    section#popular-categories
      .content
        .row
          .col-sm-12
            h1.underline-red BELIEBTE KATEGORIEN
    section#customers
      .content
        .row
          .col-sm-12
            h1.underline-turqoise UNSERE NUTZER
        .row
          .col-sm-3
            h2 Logo Platzhalter
          .col-sm-3
            h2 Logo Platzhalter
          .col-sm-3
            h2 Logo Platzhalter
          .col-sm-3
            h2 Logo Platzhalter
    footer
      .content
        .row
          .col-xs-4
            a(href='#') Über das Projekt
            |  |
            a(href='#') API
            |  |
            a(href='#') Team
            |  |
            a(href='#') Impressum
          .col-xs-4.middle
            a.icon-mail(href='mailto:gbeschbacher@sbg.at') gbeschbacher@sbg.at
          .col-xs-4
    script(src='bower_components/angular/angular.js')
    script(src='assets/js/main.js')
