#profile.wrapper-content

    .area
        padding 30px
        border-top 3px solid $color-green
        background $color-white
        box-shadow $box-shadow-size $color-shadow
        margin 0 auto 40px auto
        color $color-grey-dark

    .has-link
        padding-top 5px
        text-align center

        button
            width 200px

    h2
        display block
        margin-bottom 15px

    li
        list-style-type none

    .vidatios
        .row.cards
            display flex
            flex-wrap wrap

            > div
                display flex

    .vidatio
        width 100%

        img
            background-color $color-white
