#profile.wrapper-content(ng-controller="ProfileCtrl")
    .row
        .col-xs-12
            .area

                .no-vidatios(ng-hide="vidatios.length")
                    .row.same-height
                        .col-xs-6
                            p {{ "MY_0_VIDATIOS1" | translate }}
                            p {{ "MY_0_VIDATIOS2" | translate }}
                        .col-xs-6
                            .get-started
                                a.bold-font.btn.btn-primary(ui-sref="app.import({ locale: locale })" title="{{ 'OPEN_IMPORT' | translate }} {{ 'OPEN' | translate }}")
                                    | {{ "GET_LANDING_PAGE" | translate | uppercase }}
                                    br
                                    | {{ "STARTED_LANDING_PAGE" | translate | uppercase }}
                                    span.bg-cyan !

                .vidatios(ng-show="vidatios.length")
                    h3 {{ "MY_VIDATIOS" | translate | uppercase }}

                    .row.cards
                        .col-xs-12.col-sm-6.col-md-3(ng-repeat="vidatio in vidatios")
                            vidatio(vidatio="vidatio")
                    .row
                        .col-xs-12.has-link
                            a.btn.btn-primary(ui-sref="app.catalog({ locale: locale, myvidatios: true })" title="{{'OPEN_CATALOG' | translate }}") {{ "MORE_VIDATIOS" | translate }}
                                span.icon-bracketright
