#profile.wrapper-content

    min-width 400px

    .row .col-md-12 .area
        padding 30px
        border-top 3px solid $color-green
        background $color-white
        box-shadow $box-shadow-size $color-shadow
        margin 0 auto 40px auto
        color $color-grey-dark

    .col-xs-12.has-link
        padding-top 5px
        text-align center

        button
            width 200px

    h2
        display block
        margin-bottom 5px

    li
        list-style-type none

    .vidatio
        img
            padding-bottom 20px
            background-color $color-white

        .text
            margin-top -15px

    .btn.btn-primary.icon-edit
        position relative
        top -20px
        height 40px
        width 90%
        margin 0 auto
        line-height 40px

        &:before
            font-size 20px

        span
            position relative
            top -1px
