#profile.wrapper-content

    .row .col-md-12 .area
        padding 30px
        border-top 3px solid $color-green
        background $color-white
        box-shadow $box-shadow-size $color-shadow
        margin 0 auto 50px auto
        color $color-grey-dark

    .vidatio
        margin-top 10px

        h4, img
            width 100%
        h4
            margin 10px 0
        img
            box-shadow $box-shadow-size $color-shadow
        p
            line-height 1
            font-size 16px
