#profile.wrapper-content(ng-controller="ProfileCtrl")
    .row
        .col-md-12
            .area
                .vidatios(ng-show="vidatios.length")
                    h2 {{ "MY_VIDATIOS" | translate }}

                    .row
                        .col-xs-6.col-md-3(ng-repeat="vidatio in vidatios")
                            .vidatio
                                a.img(ui-sref="app.dataset({ id: vidatio._id, locale: locale })" href="#")
                                    img(src="{{ vidatio.image }}")

                                a.btn.btn-primary.icon-edit(ui-sref="app.editor({ id: vidatio._id, locale: locale })" ng-click="openInEditor(vidatio)")
                                    span  {{ "OPEN_IN_EDITOR" | translate | uppercase }}

                                .text
                                    a.inverse(ui-sref="app.dataset({ id: vidatio._id, locale: locale })" href="#")
                                        h4.title {{ vidatio.metaData.name }}

                    .row
                        .col-xs-12.has-link
                            a.btn.btn-primary(ui-sref="app.catalog({ locale: locale, myvidatios: true })" ) {{ "MORE_VIDATIOS" | translate }}...
