#profile.wrapper-content(ng-controller="ProfileCtrl")
    .row
        .col-md-12
            .area
                .vidatios(ng-show="vidatios.length")
                    h2 {{ "MY_VIDATIOS" | translate }}

                    .row
                        .col-xs-6.col-md-3(ng-repeat="vidatio in vidatios")
                            .vidatio
                                a.img(ui-sref="app.dataset({ id: vidatio._id, locale: locale })" href="#" title="{{ 'OPEN_IN_DETAILVIEW' | translate }}")
                                    img(src="{{ vidatio.image }}" alt="vidatio.name")

                                a.btn.btn-primary.icon-edit(ui-sref="app.editor({ locale: locale })" ng-click="openInEditor(vidatio)" title="{{'OPEN_IN_EDITOR'|translate}}")
                                    span  {{ "OPEN_IN_EDITOR" | translate | uppercase }}

                                .text
                                    a.inverse(ui-sref="app.dataset({ id: vidatio._id, locale: locale })" href="#" title="{{ 'OPEN_IN_DETAILVIEW' | translate }}")
                                        h4.title {{ vidatio.name }}
                                    p {{ vidatio.description | limitTo: 120}} ...

                    .row
                        .col-xs-12.has-link
                            a.btn.btn-primary(ui-sref="app.catalog({ locale: locale, myvidatios: true })" title="{{'OPEN_CATALOG' | translate }}") {{ "MORE_VIDATIOS" | translate }}...
