#registration
    h3 {{ 'REGISTRATION' | translate }}

    form(name="registrationForm" ng-submit="register()")
        .row
            .col-xs-12
                .input-group
                    span.input-group-addon.fui-mail
                    input.form-control(type="email" name="mail" ng-model="user.mail" placeholder="{{ 'MAIL' | translate }}" required ng-minlength=10 ng-maxlength=128 ensureUnique="mail" ng-focus)
                    span.error(ng-show="registrationForm.mail.$dirty && registrationForm.mail.$invalid && !registrationForm.mail.$focused") {{ RESPONSE.ERROR | translate }}
        .row
            .col-xs-12
                .input-group
                    span.input-group-addon.fui-user
                    input.form-control(type="text" ng-model="user.name" name="name" placeholder="{{ 'USERNAME' | translate }}" required ng-minlength=3 ng-maxlength=64 ensureUnique="name" ng-focus)
                    span.error(ng-show="registrationForm.name.$dirty && registrationForm.name.$invalid && !registrationForm.name.$focused") {{ RESPONSE.ERROR | translate }}
        .row
            .col-xs-12
                .input-group
                    span.input-group-addon.fui-lock
                    input.form-control(type="password" ng-model="user.password" name="password" placeholder="{{ 'PASSWORD' | translate }}" required ng-minlength=8 ng-maxlength=128 ng-focus)
                    span.error(ng-show="registrationForm.password.$dirty && registrationForm.password.$invalid && !registrationForm.password.$focused") {{ RESPONSE.ERROR | translate }}
        .row
            .col-xs-12.middle
                button.btn.btn-block.btn-primary(type="submit" ng-disabled="registrationForm.$invalid") {{ 'REGISTER' | translate }}

    .row
        .col-xs-12.right
            a(href="#") {{ 'LOG_ON' | translate }}
