#registration
#login
    background $color-grey-dark

    .form-group
        margin-bottom 0

    .row .input-group
        margin-bottom 10px

    .row a
        display inline-block

    .middle
        text-align center

    .left
        text-align  left

    .right
        text-align right

    a
        font-size 12px

    h3
        width 100%
        margin 40px 0px 10px 0px
        text-align center

    .col-xs-12
    .col-xs-6
        padding 0
