#fourofour.wrapper-content.light-font
    .row
        .col-sm-12
            .area
                .row
                    .col-sm-12
                        div.bignumber.bold-font 404
                        h1 {{ "PAGE_NOT_FOUND" | translate}}
                        p {{ "PAGE_NOT_FOUND_LONG" | translate }}
                        a.button.btn.btn-primary(ui-sref="app.index") {{ "HOME" | translate }}
