#fourofour
    text-align center

    .area
        padding 30px
        border-top 3px solid #11ddc6
        background $color-white
        box-shadow 0 2px 9px #e3e3e3
        margin 0 auto 40px auto
        color $color-grey-dark

    .bignumber
        font-size 220px
        line-height 1
        color $color-grey
        font-family Colaborate-Bold, Arial, Helvetica, sans-serif

    h1
        text-transform none

    p
        margin-top 10px

    #home-button
        margin-top 20px
        font-family Colaborate, $fonts

        .back-to-home-icon
            margin-right 3px
            font-size 16px

        @media (max-width: 480px)
            font-size 120px

