#terms
    .area
        padding 20px
        border-top 3px solid $color-green
        background $color-white
        box-shadow 0 2px 9px $color-shadow
        margin 0 auto 20px
        color $color-grey-dark

        h1
            margin-bottom 20px
            hyphens auto
            word-wrap break-word
            display block
