#terms
    .area
        padding 20px
        border-top 3px solid #11ddc6
        background #fff
        box-shadow 0 2px 9px #e3e3e3
        margin 0 auto 20px
        color #333

        h1
            margin-bottom 20px
            hyphens auto
            word-wrap break-word
            display block
