/**
 * LAYOUT
 **/

#container-file-read {
    width: 1024px;
    margin: 20px auto 0px auto;
    text-align: center;
}

#container-file-read .row.other, #container-file-read .row.file-read {
    margin-bottom: 56px;
}

#container-file-read .row.file-read .col-sm-4 {
    height: 254px;
    width: 304px;
}

#container-file-read .row.other .col-sm-6 {
    height: 254px;
    width: 484px;
}

#container-file-read .row.other .col-sm-6#empty-table {
    margin-right: 28px;
}

#container-file-read .row.other #browse-data {
    margin-left: 28px;
}

#container-file-read .file-read #browse-filesystem {
    margin-right: 28px;
}

#container-file-read .file-read #drag-and-drop {
    margin-left: 28px;
    margin-right: 28px;
}

#container-file-read .row.file-read .col-sm-4#link {
    margin-left: 28px;
}

/**
 * COLORS
 **/

#container-file-read .file-read .area, #container-file-read .other .area {
    background: white;
    -webkit-box-shadow: 0px 2px 9px #e3e3e3; /* webkit browser*/
    -moz-box-shadow: 0px 2px 9px #e3e3e3; /* firefox */
    box-shadow: 0px 2px 9px #e3e3e3;
}

#container-file-read .row.other > div, #container-file-read .row.other > div {
    border-top: 3px solid #ff5347;
}

#container-file-read .row.file-read > div {
    border-top: 3px solid #12ddc9;
}

#container-file-read .text {
    padding: 10px;
    font-size: 18px;
}

/**
 *  FILE BY BROWSING
 **/

#container-file-read #browse-filesystem, #input-browse-filesystem {
    position: relative;
}

/**
 * Set the input type=file opacity = 0
 * so the user only see the big button below
 **/
#input-browse-filesystem {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    -moz-opacity: 0;
    filter: alpha(opacity:0);
    opacity: 0;
    z-index: 2;
}

/**
 * HOVER EFFECTS
 **/

#container-file-read .file-read .area:hover {
    background: #93F3E6;
}

#container-file-read .other .area:hover {
    background: #FFB3B4;
}

/**
 * ICONS
 **/

#container-file-read .icon {
    width: 100px;
    margin: 60px auto 0px auto;
    height: 100px;
}

#container-file-read #empty-table .icon {
    background: url(../img/icons.png) -400px 0px no-repeat;
    background-size: 1200px;
}

#container-file-read #browse-data .icon {
    background: url(../img/icons.png) -100px 0px no-repeat;
    background-size: 1200px;
}

#container-file-read #browse-filesystem .icon {
    background: url(../img/icons.png) -400px 0px no-repeat;
    background-size: 1200px;
}

#container-file-read #drag-and-drop .icon {
    background: url(../img/icons.png) -300px 0px no-repeat;
    background-size: 1200px;
}

#container-file-read #link .icon {
    background: url(../img/icons.png) -200px 0px no-repeat;
    background-size: 1200px;
}

/**
 * DRAG AND DROP OVERLAY
 */

#container-file-read #drop-zone {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(18, 221, 201, 0.8);
    top: 0;
    left: 0;
    z-index: 999;
}

#container-file-read #drop-zone .col-sm-12 {
    padding: 30px;
    height: 100%;
}

#container-file-read #drop-zone .area {
    width: 100%;
    height: 100%;
    background: none;
    border: 10px solid white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#container-file-read #drop-zone .area .glyphicon-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -195px;
    margin-top: -200px;
    font-size: 35em;
    color: white;
}

#container-file-read #drop-zone .area .text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -105px;
    margin-top: -25px;
    font-size: 30px;
}

.drag-enter {
    background: #F8F8F8;
    border: 5px dashed #DDD;
}

#container-file-read .drop-area {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
}

.breadcrumb:hover {
    background: #4F4E4E;
}

.breadcrumb {
    margin: 5px auto;
    width: 150px;
    height: 40px;
    background: #598380;
    border-top: 3px solid #56BDB7;
    position: relative;
    border-radius: 4px;
    color: white;
    text-align: center;
    padding: 7px;
    font-family: Colaborate-Light;
}

.breadcrumb::after, #button_test::before {
    border: medium solid transparent;
    content: " ";
    height: 0;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 0;
}

.breadcrumb::after {
    border-top-color: #56BDB7;
    border-width: 3px;
    margin-left: -3px;
}

.breadcrumb::before {
    border-top-color: #56BDB7;
    border-width: 3px;
    margin-left: -3px;
}

#button-upload {
    width: 180px;
    height: 40px;
    font-family: Colaborate-Bold;
    font-size: 16px;
    background: #55BEB5;
    border-radius: 5px;
    line-height: 40px;
    vertical-align: middle;
}

#button-upload:hover{
    box-shadow: 4px 4px 0px 0px #44948E;
}

#link-submit-button {
    top:0px;
}

.form-link{
    width:80%;
    margin: 0 auto;
}