/**
 * GENERAL STYLING
 **/
.thin-font {
  font-family: Colaborate-Thin, Arial, Helvetica, sans-serif;
}

.light-font {
  font-family: Colaborate-Light, Arial, Helvetica, sans-serif;
}

.container-fluid.content-wrapper {
  padding: 0 !important;
  background-color: #FBFBFB;
  
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}

section {
  padding: 50px 0;
}



/**
 * INTRO SECTION
 **/
section#intro {
  padding-top: 0;
}

#intro .slogan {
  font-size: 25px;
}

#intro .diagram img {
  width: 100%;
}

#intro .promo .video {
  width: 100%;
  height: 200px;
  border: 1px solid;
}

#intro .promo .description {
  margin-top: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

/* styled ordered list: numbers in colored circles */
#intro ol {
  counter-reset: li-counter;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#intro ol > li {
  position: relative;
  margin-left: 25px;
  font-size: 14px;
  margin-bottom: 8px;
}

#intro ol > li.active:before {
  background-color: #12ddc9;
}

#intro ol > li:before {
  position: absolute;
  left: -25px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ff5347;
  color: white;
  text-align: center;
  content: counter(li-counter);
  counter-increment: li-counter;
}

/* Get started button */
#intro .get-started {
  position: relative;
  width: 120px;
  margin: 50px auto 0;
}

#intro .get-started a {
  color: #fff;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -webkit-box-shadow: 3px 3px 0 #009989;
  -moz-box-shadow: 3px 3px 0 #009989;
  box-shadow: 3px 3px 0 #009989;
}

#intro .get-started span {
  position: absolute;
  width: 25px;
  top: -10px;
  right: -10px;
  display: inline-block;
  transform: rotate(10deg);

  -webkit-box-shadow: 3px 0 0 #009989;
  -moz-box-shadow: 3px 0 0 #009989;
  box-shadow: 3px 0 0 #009989;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#intro .get-started a:hover {
  background-color: #11AA9A;
}

#intro .get-started a:hover span {
  background-color: #11AA9A;
}

#intro .get-started a {
  width: inherit;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

#intro .get-started a:visited {
  color: #fff;
}

/**
 * USP SECTION
 **/
#usp {
  color: #fff;
}

#usp .api {
  width: 100px;
  height: 100px;
  background: url(../img/icons.png) 0px -200px no-repeat;
  background-size:1200px;
  margin: 0 auto;
}

#usp .live-data {
  width: 100px;
  height: 100px;
  background: url(../img/icons.png) -200px -200px no-repeat;
  background-size:1200px;
  margin: 0 auto;
}

#usp .open-data {
  width: 100px;
  height: 100px;
  background: url(../img/icons.png) -100px -200px no-repeat;
  background-size:1200px;
  margin: 0 auto;
}

#usp div {
  text-align: center;
}

/**
 * FEATURED VIDATIOS SECTION
 **/
#featured-vidatios {
  background: url(../img/pattern_bright.jpg);
}

#featured-vidatios img {
  width: 100%;
}

#featured-vidatios h1 {
  display: inline-block;
  margin: 0 0 20px;
  border-bottom: 3px solid #12ddc9;
}

#featured-vidatios p {
  margin-top: 10px;
}

#featured-vidatios p > a {
  color: #000;
}

#featured-vidatios .browse {
  text-align: center;
  margin-top: 30px;
}

#featured-vidatios .browse a {
  padding: 10px;
  color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#featured-vidatios .browse a:hover {
  background-color: #11AA9A;
}

#featured-vidatios .browse img {
  margin-left: 5px;
  width: 20px;
}

/**
 * POPULAR CATEGORIES SECTION
 **/
#popular-categories{
  min-height: 500px;
}

#popular-categories h1 {
  display: inline-block;
  border-bottom: 3px solid #ff5347;
}

/**
 * CUSTOMERS SECTION
 **/

footer {
  height: 200px;
}

footer ul {
  display: inline-block;
  margin: 20px 0;
  padding: 0;
}

footer ul li {
  list-style-type: none;
}

footer ul li a {
  color: #fff;
}

footer .contact {
  text-align: center;
  font-size: 20px;
}

/**
 * CUSTOMIZE BOOTSTRAP
 **/
.col-sm-3-custom {
  width: 32%;
  float: left;
  margin-right: 2%;
}

.col-sm-3-custom:last-child {
  margin-right: 0;
}

.col-sm-7 {
  padding-left: 0 !important;
}
