/**
 * DEFAULTS
 **/

@font-face {
  font-family: Colaborate;
  src: url(../fonts/ColabReg.otf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Colaborate-Bold;
  src: url(../fonts/ColabBol.otf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: Colaborate-Light;
  src: url(../fonts/ColabLig.otf);
  font-style: normal;
  font-weight: normal;
}

h1, h2{
  padding:0;
  margin:0;
}

h1 {
  font-family: Colaborate-Bold, Arial, Helvetica, sans-serif;
  font-size: 30px;
}

h2 {
  font-family: Colaborate-Light, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.underline-red{
  border-bottom: 3px solid #ff5444;
}

.underline-turqoise{
  border-bottom: 3px solid #11ddc6;
}

/**
 * RESET BOOTSTRAP
 */

.row {
  margin: 0;
  padding: 0;
}

.col-sm-4, .col-sm-3, .col-sm-6, .col-sm-12 {
  margin: 0;
}

.container-fluid {
  padding: 0;
}

.btn-default:hover,
.btn-default:active {
  color: white;
  background-color: #11ddc6;
}

/**
 * LAYOUT
 **/

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 480px;
  height: 100%;
  font-family: Colaborate, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.wrapper {
  min-height:80vh;
  background: #FAFAFA;
}

/* row layout with 3 columns and margin between */

.layout-3-columns .col-sm-4:first-child .area {
  margin-right: 18.66px;
}

.layout-3-columns .col-sm-4:nth-child(2n) .area {
  margin-right: 9.33px;
  margin-left:9.33px;
}

.layout-3-columns .col-sm-4:last-child .area {
  margin-left: 18.66px;
}

/**
 * HEADER
 **/

header #line-right {
  background: #ff5444;
  height: 8px;
}

header #line-left {
  background: #11ddc6;
  height: 8px;
}

header #navigation {
  clear: both;
  max-width: 1024px;
  margin: 0px auto;
  padding: 30px 0 30px 0;
  height: 100px;
}

header .logo {
  text-align: left;
  line-height: 40px;
  font-size: 24px;
  height: 40px;
}

header .logo a, header .logo a:hover{
  color: #000000;
}

header .logo #logo{
  background: url(../img/logo.png) no-repeat;
  background-size: 30px;
  width:40px;
  height:40px;
  float:left;
}

header .logo span{
  float:left;
}

header .middle{
  text-align:center;
  height:100%;
}

header .menu-buttons {
  height: 100%;
  text-align: right;
}

header .menu-buttons a {
  width: 40px;
  height: 40px;
  float: right;
  margin-left:3px;
}

header .menu-buttons #user {
  background: url(../img/icons.png) -255px -5px;
  background-size: 600px;
}

header .menu-buttons #user:hover {
  background: url(../img/icons.png) -255px -55px;
  background-size: 600px;
}

header .menu-buttons #menu {
  background: url(../img/icons.png) -405px -5px;
  background-size: 600px;
}

header .menu-buttons #menu:hover {
  background: url(../img/icons.png) -405px -55px;
  background-size: 600px;
}

/**
 * FOOTER
 **/

footer {
  color: white;
  max-width: 100%;
  font-size: 12px;
  padding: 20px;
  min-height: 20vh;
  background: url(../img/dotgrid.png) #333333;
}

footer .container-fluid{
  max-width:1024px;
}

footer .container-fluid a {
  display: inline-block;
  padding: 0 5px 0px 5px;
  height:30px;
}

footer span.icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  float: left;
}

footer span.text {
  width: auto;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  float: right;
}

/* TODO: Reset focus state for btn-default button?! */

/**
 * LINK STYLES
 */

a:link, a {
  color: white;
  text-decoration: none;
}

a:hover, a:active {
  color: #11ddc6;
}
