section#customers
    .content
        .row
            .col-sm-12
                h1.underline-turqoise UNSERE NUTZER

        .row
            .col-sm-3
                h2 Logo Platzhalter

            .col-sm-3
                h2 Logo Platzhalter

            .col-sm-3
                h2 Logo Platzhalter

            .col-sm-3
                h2 Logo Platzhalter
