section#featured-vidatios

    .content
        .row
            .col-sm-12
                h1.underline-turqoise BELIEBTE VIDATIOS

        .row.layout-3-columns
            .col-sm-4
                .col-wrapper
                    img(src='images/placeholder-featured-vidatios.png', alt='')
                    p Wasserverbrauch |
                        a.thin-font(href='#')  Mehr

            .col-sm-4
                .col-wrapper
                    img(src='images/placeholder-featured-vidatios.png', alt='')
                    p Wasserverbrauch |
                        a.thin-font(href='#')  Mehr

            .col-sm-4
                .col-wrapper
                    img(src='images/placeholder-featured-vidatios.png', alt='')
                    p Wasserverbrauch |
                        a.thin-font(href='#')  Mehr

        .browse
            a.light-font.button(href='#')
                | VIDATIOS DURCHSUCHEN
                img(src='images/arrow.png', alt='')
