section#usp

    img.shape(src='images/landingpage-shape.png', alt='')

    .content
        .row
            .col-sm-4
                .usp-icon.icon-api
                h2 API
                p Vidatio bietet eine gute API

            .col-sm-4
                .usp-icon.icon-livedata
                h2 LIVE DATA
                p Vidatio biete Daten in Echtzeit

            .col-sm-4
                .usp-icon.icon-opendata
                h2 OPEN DATA
                p Vidatio unterstützt freien Zugang zu Daten
