@require "assets/styl/colors"

footer
    font-size 16px
    min-height 80px
    color $color-grey-light
    width 100%
    padding 20px 0
    background url(../images/dotgrid.png) $color-grey-dark
    text-align center

    a.link
        color $color-grey-light
        display inline-block
        font-weight 400
        padding 8px 10px

        &:hover
        &:focus
            color $color-green

        &:active
            color $color-hover-dark

        .icon
            margin-right 5px


@media (min-width: 768px)
    footer
        .row div
            &:first-child
                text-align left
            &:last-child
                text-align right
