footer
    .wrapper-content
        .row

            .col-xs-12.col-md-4
                a(href='#') Über das Projekt
                | |
                a(href='#') API
                | |
                a(href='#') Team
                | |
                a(href='#') Impressum

            .col-xs-12.col-md-4
                a.icon-mail(href='mailto:gbeschbacher@sbg.at') gbeschbacher@sbg.at

