footer
    .wrapper-content
        .row

            .col-xs-12.col-sm-6
                a.link(href="#") Impressum
                | |
                a.link(href="https://api.vidatio.com/docs" target="_blank") API

            .col-xs-12.col-sm-6
                a.link(href="mailto:office@vidatio.com")
                    span.icon.icon-mail
                    | office@vidatio.com

                a.link(target="_blank" href="https://twitter.com/_vidatio")
                    span.icon.icon-twitter
                    | @_vidatio

