@require "assets/styl/colors"

footer
    font-size 16px
    min-height 80px
    position absolute
    bottom 0
    color $color-grey-light
    width 100%
    padding 20px 0
    background url(../images/dotgrid.png) $color-grey-dark
    text-align center

    a
        padding 8px 10px

        .icon
            margin-right 5px
