footer
    .wrapper-content
        .row

            .col-xs-4
                ul
                    li
                        a(href='#') Über das Projekt
                    li |
                    li
                        a(href='#') API
                    li |
                    li
                        a(href='#') Team
                    li |
                    li
                        a(href='#') Impressum

            .col-xs-4.middle
                a.icon-mail(href='mailto:gbeschbacher@sbg.at') gbeschbacher@sbg.at

            .col-xs-4
