footer
    .wrapper-content
        .row

            .col-xs-12.col-sm-6
                a.button.btn-embossed(href='#') Über das Projekt
                | |
                a.button.btn-embossed(href='#') API
                | |
                a.button.btn-embossed(href='#') Team
                | |
                a.button.btn-embossed(href='#') Impressum

            .col-xs-12.col-sm-6
                a.button.btn-embossed(href='mailto:gbeschbacher@sbg.at')
                    span.icon-mail
                    | gbeschbacher@sbg.at

