@require "assets/css/colors"

footer
    color white
    max-width 100%
    font-size 12px
    padding 20px
    min-height 20vh
    background url(../images/dotgrid.png) $color-dark-grey

    a
        display inline-block
        padding 0 5px 0px 5px
        height 30px

    .middle
        text-align center

        a
            &:link
                font-size 14px
                font-weight bold
    span
        &.icon
            width 40px
            height 40px
            margin-right 10px
            float left

        &.text
            width auto
            height 40px
            line-height 40px
            vertical-align middle
            float right
