footer
    .wrapper-content
        .row

            .col-xs-12.col-sm-6
                a.link(ui-sref="app.imprint()" href="#" title="{{ 'IMPRINT' | translate }} {{ 'OPEN' | translate }}") {{ "IMPRINT" | translate }}
                | |
                a.link(href="https://api.vidatio.com/docs" target="_blank" title="{{ 'API_DOCUMENTATION' | translate }} {{ 'OPEN' | translate }}") {{ "API.NAME" | translate }}

            .col-xs-12.col-sm-6
                a.link(href="mailto:office@vidatio.com" title="{{ 'WRITE_EMAIL' | translate }}")
                    span.icon.icon-mail
                    | office@vidatio.com

                a.link(target="_blank" href="https://twitter.com/_vidatio" title="{{ 'TWITTER' | translate }} {{ 'OPEN' | translate }}")
                    span.icon.icon-twitter
                    | @_vidatio

