footer
    .wrapper-content
        .row

            .col-xs-12.col-sm-6
                a.link(href='#') Über das Projekt
                | |
                a.link(href='#') API
                | |
                a.link(href='#') Team
                | |
                a.link(ui-sref="app.imprint" href="") Impressum

            .col-xs-12.col-sm-6
                a.link(href='mailto:office@vidatio.com')
                    span.icon.icon-mail
                    | office@vidatio.com

                a.link(target='_blank' href='https://twitter.com/_vidatio')
                    span.icon.icon-twitter
                    | @_vidatio

