header

    .row
        #line-right.col-xs-6
        #line-left.col-xs-6

    div
        .switch-container(ng-switch on="$state.current.title")
            #navigation.row(ng-switch-when="import")
                .col-xs-3.logo
                    a(href='#')
                        #logo
                .col-xs-6.middle
                    h1.underline-red IMPORT
                .col-xs-3.menu-buttons
                    a#menu.icon-profile(href='#')
                    a#user.icon-hamburger(href='#')

            #navigation.row(ng-switch-when="editor")
                .col-xs-3.logo
                    a(href='#')
                        #logo
                .col-xs-6.middle
                    a.tab.border-left(href='#' ng-click="tab = 1") Daten
                    a.tab(href='#' ng-click="tab = 2") Visualisierung
                    a.tab.border-right(href='#' ng-click="tab = 3") Speicherung
                .col-xs-3.menu-buttons
                    a#menu.icon-profile(href='#')
                    a#user.icon-hamburger(href='#')

            #navigation.row(ng-switch-default)
                .col-xs-6.logo
                    a(href='#')
                        #logo
                .col-xs-6.menu-buttons
                    a#menu.icon-profile(href='#')
                    a#user.icon-hamburger(href='#')
