include header/navigation-bar

header.ng-cloak

    .row
        #line-left.col-xs-6
        #line-right.col-xs-6

    div
        .switch-container(ng-switch on="$state.current.title")
            +navigation-bar("dataset")(ng-switch-when="dataset")

            +navigation-bar("editor")(class="editor" ng-switch-when="editor" ng-controller="HeaderCtrl")

            +navigation-bar("share")(ng-switch-when="share" ng-controller="HeaderCtrl")

            +navigation-bar("import")(ng-switch-when="import" ng-controller="HeaderCtrl")

            +navigation-bar("agb")(ng-switch-when="agb")

            +navigation-bar("login")(ng-switch-when="login")

            +navigation-bar("registration")(ng-switch-when="registration")

            +navigation-bar("profile")(ng-switch-when="profile")

            +navigation-bar("catalog")(ng-switch-when="catalog")

            +navigation-bar("team")(ng-switch-when="team")

            +navigation-bar()(ng-switch-default)
