header.ng-cloak

    .row
        #line-left.col-xs-6
        #line-right.col-xs-6

    div
        .switch-container(ng-switch on="$state.current.title")

            #navigation.row(ng-switch-when="dataset")
                .col-xs-6.logo
                    a#logo(ui-sref="app.index({ locale: locale })")
                    a#back-to-datasets-overview.btn.btn-primary(ui-sref="app.catalog({ locale: locale })")
                        span.btn-tip.fui-arrow-left
                        span {{ "OVERVIEW" | translate | uppercase }}

                .col-xs-6.menu-buttons
                    div(ng-if="globals.authorized")
                        a#login-button.button.fui-user(ui-sref="app.profile({ locale: locale})")
                    div(ng-if="!globals.authorized")
                        a#login-button.button.fui-exit(ui-sref="app.login({ locale: locale})")
                    a#menu.button.icon-hamburger.toggle-menu.menu-right.push-body(href="#")

            #navigation.row.editor(ng-switch-when="editor" ng-controller="HeaderCtrl")
                .col-xs-6.col-sm-2.logo
                    a#logo(ui-sref="app.index({ locale: locale })")

                .col-xs-6.col-sm-push-8.col-sm-2.menu-buttons
                    div(ng-if="globals.authorized")
                        a#save-button.icon-trash(href="#" ng-click="saveDataset()")
                    div(ng-if="globals.authorized")
                        a#login-button.fui-user(ui-sref="app.profile({ locale: locale})")
                    div(ng-if="!globals.authorized")
                        a#login-button.fui-exit(ui-sref="app.login({ locale: locale})")
                    a#menu.icon-hamburger.toggle-menu.menu-right.push-body(href="#")

                .col-xs-12.col-sm-pull-2.col-sm-8
                    #process-nav
                        a#back-to-import(ui-sref="app.import({ locale: locale })")
                            span.icon-import-2
                            span  {{ "IMPORT" | translate | uppercase }}
                        a#edit-data.active(href='#')
                            span.icon-edit
                            span  {{"EDIT" | translate | uppercase}}
                        a#save-dataset(ui-sref="app.share({ locale: locale })")
                            span.icon-check
                            span  {{"USE" | translate | uppercase}}

            #navigation.row.editor(ng-switch-when="share" ng-controller="HeaderCtrl")
                .col-xs-6.col-sm-2.logo
                    a#logo(ui-sref="app.index({ locale: locale })")

                .col-xs-6.col-sm-push-8.col-sm-2.menu-buttons
                    div(ng-if="globals.authorized")
                        a#login-button.fui-user(ui-sref="app.profile({ locale: locale})")
                    div(ng-if="!globals.authorized")
                        a#login-button.fui-exit(ui-sref="app.login({ locale: locale})")
                    a#menu.icon-hamburger.toggle-menu.menu-right.push-body(href="#")

                .col-xs-12.col-sm-pull-2.col-sm-8
                    #process-nav
                        a#back-to-import(ui-sref="app.import({ locale: locale })")
                            span.icon-import-2
                            span  {{ "IMPORT" | translate | uppercase }}
                        a#edit-data(ui-sref="app.editor({ locale: locale })")
                            span.icon-edit
                            span  {{"EDIT" | translate | uppercase}}
                        a#save-dataset.active(href="#")
                            span.icon-check
                            span  {{"USE" | translate | uppercase}}

            #navigation.row(ng-switch-when="import" ng-controller="HeaderCtrl")
                .col-xs-6.col-sm-2.logo
                    a#logo(ui-sref="app.index({ locale: locale })")

                .col-xs-6.col-sm-push-8.col-sm-2.menu-buttons
                    div(ng-if="globals.authorized")
                        a#login-button.fui-user(ui-sref="app.profile({ locale: locale})")
                    div(ng-if="!globals.authorized")
                        a#login-button.fui-exit(ui-sref="app.login({ locale: locale})")
                    a#menu.icon-hamburger.toggle-menu.menu-right.push-body(href='#')

                .col-xs-12.col-sm-pull-2.col-sm-8
                    #process-nav
                        a#back-to-import.active(ui-sref="app.import({ locale: locale })")
                            span.icon-import-2
                            span  {{ "IMPORT" | translate | uppercase }}
                        a#edit-data.clickable(ui-sref="app.editor({ locale: locale })"  ng-disabled="header.savedWorks" ng-class="{'disabled': header.savedWorks}")
                            span.icon-edit
                            span  {{"EDIT" | translate | uppercase}}
                        a#save-dataset(ui-sref="app.share({ locale: locale })" ng-disabled="header.savedWorks" ng-class="{'disabled': header.savedWorks}")
                            span.icon-check
                            span  {{"USE" | translate | uppercase}}

            #navigation.row(ng-switch-when="login")
                .col-xs-3.logo
                    a#logo(ui-sref="app.index({ locale: locale })")

                .col-xs-6.middle
                    h1.underline-red {{ "LOGIN" | translate | uppercase }}
                .col-xs-3.menu-buttons
                    a#menu.icon-hamburger.toggle-menu.menu-right.push-body(href="#")

            #navigation.row(ng-switch-when="registration")
                .col-xs-3.logo
                    a#logo(ui-sref="app.index({ locale: locale })")

                .col-xs-6.middle
                    h1.underline-red {{ "REGISTRATION" | translate | uppercase }}
                .col-xs-3.menu-buttons
                    a#menu.icon-hamburger.toggle-menu.menu-right.push-body(href="#")

            #navigation.row(ng-switch-when="catalog")
                .col-xs-3.logo
                    a#logo.button(ui-sref="app.index({ locale: locale })")

                .col-xs-6.middle
                    h1.underline-red {{ "CATALOG" | translate | uppercase }}
                .col-xs-3.menu-buttons
                    div(ng-if="globals.authorized")
                        a#login-button.button.fui-user(ui-sref="app.profile({ locale: locale})")
                    div(ng-if="!globals.authorized")
                        a#login-button.button.fui-exit(ui-sref="app.login({ locale: locale})")
                    a#menu.button.icon-hamburger.toggle-menu.menu-right.push-body(href="#")

            #navigation.row(ng-switch-default)
                .col-xs-6.logo
                    a#logo(ui-sref="app.index({ locale: locale })")

                .col-xs-6.menu-buttons
                    div(ng-if="globals.authorized")
                        a#login-button.fui-user(ui-sref="app.profile({ locale: locale})")
                    div(ng-if="!globals.authorized")
                        a#login-button.fui-exit(ui-sref="app.login({ locale: locale})")
                    a#menu.icon-hamburger.toggle-menu.menu-right.push-body(href="#")
