header.ng-cloak

    .row
        #line-left.col-xs-6
        #line-right.col-xs-6

    div
        .switch-container(ng-switch on="$state.current.title")

            #navigation.row(ng-switch-when="dataset")
                .col-xs-6.logo
                    a#logo(ui-sref="app.index({ locale: locale })")
                    a#back-to-datasets-overview(ui-sref='app.catalog({ locale: locale })')
                        i.fa.fa-reply.back-icon
                        span {{ "OVERVIEW" | translate | uppercase }}

                .col-xs-6.menu-buttons
                    div(ng-if="globals.authorized")
                        a#login-button.button.fui-user(ui-sref="app.profile({ locale: locale})")
                            span {{ "LOGIN_DETAILVIEW" | translate | uppercase }}
                    div(ng-if="!globals.authorized")
                        a#login-button.button.fui-exit(ui-sref="app.login({ locale: locale})")
                            span {{ "LOGIN_DETAILVIEW" | translate | uppercase }}
                    div
                        a#menu.button.icon-hamburger.toggle-menu.menu-right.push-body(href='#')
                            span {{ "MENU" | translate | uppercase }}

            #navigation.row.editor(ng-switch-when="editor" ng-controller="HeaderCtrl")
                .col-xs-6.col-sm-2.logo
                    a#logo(ui-sref="app.index({ locale: locale })")

                .col-xs-6.col-sm-push-8.col-sm-2.menu-buttons
                    div(ng-if="globals.authorized")
                        a#login-button.button.fui-user(ui-sref="app.profile({ locale: locale})")
                            span {{ "LOGIN_DETAILVIEW" | translate | uppercase }}
                    div(ng-if="!globals.authorized")
                        a#login-button.button.fui-exit(ui-sref="app.login({ locale: locale})")
                            span {{ "LOGIN_DETAILVIEW" | translate | uppercase }}
                    div
                        a#menu.button.icon-hamburger.toggle-menu.menu-right.push-body(href='#')
                            span {{ "MENU" | translate | uppercase }}

                .col-xs-6.col-sm-pull-2.col-sm-2
                    a#back-to-import.btn.btn-primary(ui-sref='app.import({ locale: locale })')
                        span.fui-arrow-left
                        span {{ "IMPORT" | translate | uppercase }}

                .col-xs-6.col-sm-2.col-sm-push-2
                    a#save-dataset.btn.btn-primary(href='#' type="submit" ng-click="saveDataset()") {{"SAVE" | translate | uppercase}}

                .col-xs-12.col-sm-4.col-sm-pull-4.editor-panel
                    a.tab.border-left(href='#' ng-class="{'active': activeViews[0]}" ng-click="tabClicked(0)") {{ "DATA" | translate | uppercase }}
                    .separator
                    a.tab.border-right(href='#' ng-class="{'active': activeViews[1]}" ng-click="tabClicked(1)") {{ "VISUALIZATION" | translate | uppercase }}


            #navigation.row(ng-switch-when="import")
                .col-xs-3.logo
                    a#logo.button(ui-sref="app.index({ locale: locale })")

                .col-xs-6.middle
                    h1.underline-red {{ "IMPORT" | translate | uppercase }}
                .col-xs-3.menu-buttons
                    div(ng-if="globals.authorized")
                        a#login-button.button.fui-user(ui-sref="app.profile({ locale: locale})")
                            span {{ "LOGIN_DETAILVIEW" | translate | uppercase }}
                    div(ng-if="!globals.authorized")
                        a#login-button.button.fui-exit(ui-sref="app.login({ locale: locale})")
                            span {{ "LOGIN_DETAILVIEW" | translate | uppercase }}
                    div
                        a#menu.button.icon-hamburger.toggle-menu.menu-right.push-body(href='#')
                            span {{ "MENU" | translate | uppercase }}


            #navigation.row(ng-switch-when="login")
                .col-xs-3.logo
                    a#logo(ui-sref="app.index({ locale: locale })")

                .col-xs-6.middle
                    h1.underline-red {{ "LOGIN" | translate | uppercase }}
                .col-xs-3.menu-buttons
                    a#menu.icon-hamburger.toggle-menu.menu-right.push-body(href='#')

            #navigation.row(ng-switch-when="registration")
                .col-xs-3.logo
                    a#logo(ui-sref="app.index({ locale: locale })")

                .col-xs-6.middle
                    h1.underline-red {{ "REGISTRATION" | translate | uppercase }}
                .col-xs-3.menu-buttons
                    a#menu.icon-hamburger.toggle-menu.menu-right.push-body(href='#')

            #navigation.row(ng-switch-when="catalog")
                .col-xs-3.logo
                    a#logo.button(ui-sref="app.index({ locale: locale })")

                .col-xs-6.middle
                    h1.underline-red {{ "CATALOG" | translate | uppercase }}
                .col-xs-3.menu-buttons
                    div(ng-if="globals.authorized")
                        a#login-button.button.fui-user(ui-sref="app.profile({ locale: locale})")
                            span {{ "LOGIN_DETAILVIEW" | translate | uppercase }}
                    div(ng-if="!globals.authorized")
                        a#login-button.button.fui-exit(ui-sref="app.login({ locale: locale})")
                            span {{ "LOGIN_DETAILVIEW" | translate | uppercase }}
                    div
                        a#menu.button.icon-hamburger.toggle-menu.menu-right.push-body(href='#')
                            span {{ "MENU" | translate | uppercase }}

            #navigation.row(ng-switch-default)
                .col-xs-6.logo
                    a#logo(ui-sref="app.index({ locale: locale })")

                .col-xs-6.menu-buttons
                    div(ng-if="globals.authorized")
                        a#login-button.button.fui-user(ui-sref="app.profile({ locale: locale})")
                            span {{ "LOGIN_DETAILVIEW" | translate | uppercase }}
                    div(ng-if="!globals.authorized")
                        a#login-button.button.fui-exit(ui-sref="app.login({ locale: locale})")
                            span {{ "LOGIN_DETAILVIEW" | translate | uppercase }}
                    div
                        a#menu.button.icon-hamburger.toggle-menu.menu-right.push-body(href='#')
                            span {{ "MENU" | translate | uppercase }}

