header

    .row
        #line-right.col-xs-6
        #line-left.col-xs-6

    div
        #navigation.row
            .col-xs-6.logo
                a(href='#')
                    #logo

            .col-xs-6.menu-buttons
                a#menu.icon-profile(href='#')
                a#user.icon-hamburger(href='#')
