header

    .row
        #line-left.col-xs-6
        #line-right.col-xs-6

    div
        .switch-container(ng-switch on="$state.current.title")
            #navigation.row(ng-switch-when="import")
                .col-xs-3.logo
                    a(ui-sref="app.index({ locale: locale })")
                        #logo
                .col-xs-6.middle
                    h1.underline-red IMPORT
                .col-xs-3.menu-buttons
                    a#login-button.fui-user(ui-sref="app.login({ locale: locale})")
                    a#menu.icon-hamburger.toggle-menu.menu-right.push-body(href='#')

            #navigation.row.editor(ng-switch-when="editor" ng-controller="HeaderCtrl")
                .col-xs-6.col-sm-3.logo
                    a(ui-sref='app.index({ locale: locale })')
                        #logo

                    a(ui-sref='app.import({ locale: locale })')
                        #back-to-import-button
                            button.btn.btn-embossed.btn-primary
                                span.btn-tip.fui-arrow-left {{ "IMPORT" | translate | uppercase }}

                .col-xs-6.col-sm-push-6.col-sm-3.menu-buttons
                    a#login-button.fui-user(ui-sref="app.login({ locale: locale})")
                    a#menu.icon-hamburger.toggle-menu.menu-right.push-body(href='#')

                .col-xs-12.col-sm-pull-3.col-sm-6.editor-panel
                    a.tab.border-left(href='#' ng-class="{'active': activeViews[0]}" ng-click="tabClicked(0)") {{ "DATA" | translate | uppercase }}
                    .separator
                    a.tab.border-right(href='#' ng-class="{'active': activeViews[1]}" ng-click="tabClicked(1)") {{ "VISUALIZATION" | translate | uppercase }}

            #navigation.row(ng-switch-when="login")
                .col-xs-3.logo
                    a(ui-sref="app.index({ locale: locale })")
                        #logo
                .col-xs-6.middle
                    h1.underline-red ANMELDUNG
                .col-xs-3.menu-buttons
                    a#menu.icon-hamburger.toggle-menu.menu-right.push-body(href='#')

            #navigation.row(ng-switch-when="login")
                .col-xs-3.logo
                    a(ui-sref="app.index({ locale: locale })")
                        #logo
                .col-xs-6.middle
                    h1.underline-red REGISTRIERUNG
                .col-xs-3.menu-buttons
                    a#menu.icon-hamburger.toggle-menu.menu-right.push-body(href='#')

            #navigation.row(ng-switch-default)
                .col-xs-6.logo
                    a(ui-sref="app.index({ locale: locale })")
                        #logo
                .col-xs-6.menu-buttons
                    a#login-button.fui-user(ui-sref="app.login({ locale: locale})")
                    a#menu.icon-hamburger.toggle-menu.menu-right.push-body(href='#')

