header

    #line-right
        background $color-green
        height 8px

    #line-left
        background $color-red
        height 8px

    .middle
        text-align center

    #navigation
        clear both
        max-width 1024px
        margin 0 auto
        padding 30px 0

        .editor-panel
            display flex
            flex-direction row
            display -webkit-flex /* Safari */
            -webkit-flex-direction row

        .separator
            width 1px
            background-color $color-green

    #navigation.editor
        max-width 98%

    #logo
        background url(../images/logo-text-black.svg) no-repeat
        background-size 111px
        width 111px
        height 40px
        float left

    #back-to-import-button
        position relative
        height 40px
        text-align center

        button.btn
            padding 0 10px

        button.btn-primary
            font-size 16px
            height 40px

            .btn-tip
                padding-left 0
                padding-right 10px


    .tab
        border-top 3px solid $color-passive
        display inline-block
        width 50%
        height 40px
        line-height 34px
        background $color-passive

        position relative
        float left

        color white
        text-align center
        font-family Colaborate, $fonts
        font-size 16px
        box-sizing border-box

        &.active
            border-top 3px solid $color-green
            line-height 34px
            background $color-active

            &::after
                border medium solid transparent
                content " "
                height 0
                left 50%
                pointer-events none
                position absolute
                top 0
                width 0
                border-top-color $color-green
                border-width 4px
                margin-left -4px
            &::before
                border-top-color $color-green
                border-width 4px
                margin-left -4px

    .border-right
        border-right none


    .menu-buttons
        height 100%
        text-align right

        a
            line-height 40px
            vertical-align middle
            text-align center
            width 40px
            height 40px
            display inline-block
            margin-left 3px
            background $color-passive
            border-radius 4px
            color $color-grey-light

            &:hover
                color $color-green

        .menu-active
            color $color-green

            &:hover
                color $color-grey-light

        a#menu
            font-size 20px


@media(max-width: 767px)
    #navigation
        .editor-panel
            margin-top: 20px

    #back-to-import-button
        float left
        left 20%

@media(min-width: 768px)
    #back-to-import-button
        float right

    #navigation
        .editor-panel
            position absolute
            margin 0 auto
            left 0
            right 0
            max-width 600px


@media(min-width: 768px) and (max-width: 850px)
    #back-to-import-button
        right 0

@media (min-width: 851px) and (max-width: 1024px)
    #back-to-import-button
        right 10%

@media (min-width: 1025px)
    #back-to-import-button
        right 15%
