header

    #line-right
        background $color-green
        height 8px

    #line-left
        background $color-red
        height 8px

    .middle
        text-align center

    #navigation
        clear both
        max-width 1024px
        margin 0 auto
        padding 30px 0 70px

        .separator
            width 2px
            background-color $color-green

    #navigation.editor
        max-width 98%

    #logo
        background url(../images/logo-text-black.svg) no-repeat
        background-size 111px
        width 111px
        height 40px
        float left

    #process-nav

        a
            font-family Colaborate-Medium, $fonts
            border-bottom 3px solid $color-passive
            color $color-passive
            font-size 21px
            line-height 54px
            float left
            height 50px
            text-align center
            width 33.333%

            &:hover,
            &:focus
                color $color-hover-dark
                border-color $color-hover-dark

            &.active
                color $color-green
                border-color $color-green

                //arrow in line on active
                &::after
                    border-left 16px solid transparent
                    border-right 16px solid transparent
                    border-top: 12px solid $color-grey-light
                    content ""
                    display block
                    margin -16px auto 0
                    width 15px

                span
                    //arrow in line on active, 1st span is icon
                    &:nth-child(2)
                        &::after
                            border-left 16px solid transparent
                            border-right 16px solid transparent
                            border-top 12px solid $color-green
                            content ""
                            display block
                            margin -5px auto 0
                            width 15px

                &:hover,
                &:focus
                    color $color-green
                    border-color $color-green

            &.disabled
                opacity 0.15
                cursor default

                &:hover,
                &:focus
                    color $color-passive
                    border-color $color-passive


        //editable field
        .title
            position absolute
            top 67px
            margin-left -15px
            text-align center
            width 100%

            p
                border 1px dotted $color-table-even-passive
                display inline-block
                font-family Colaborate-Thin, $fonts
                font-size 30px
                height 35px
                line-height 33px
                padding 0 2px

    #back-to-datasets-overview
        float left
        margin-left 60px
        line-height 17px

    #back-to-datasets-overview
        position relative
        height 40px
        text-align center

        .btn-tip
            padding-left 0

        .fui-arrow-left
            &::before
                margin-right 5px
                font-size 14px

        span
            margin-right 1px

        &:hover
            color $color-white

        &.active
            border-bottom 4px solid $color-green
            line-height 41px
            color $color-white

            &::after
                border medium solid transparent
                content " "
                height 0
                left 50%
                pointer-events none
                position absolute
                top 39px
                width 0
                border-top-color $color-green
                border-width 10px
                margin-left -10px

            &::before
                border-top-color $color-green
                border-width 10px
                margin-left -10px

    .menu-buttons
        height 42px
        text-align right

        div
            display inline

        a#login-button, a#menu
            color $color-black
            line-height 42px
            vertical-align middle
            text-align center
            width 42px
            height 42px
            display inline-block
            margin-left 3px
            border-radius 4px

            &:hover, &:focus
                color $color-grey-light
                background-color $color-passive

            &:active
                color $color-green

            &.menu-active
                color $color-green !important

        a#menu
            font-size 20px

        a#login-button
            font-size 23px
            padding-left 2px

    #link-overlay
        position absolute
        top 90px
        right calc(100vw * 0.01)
        z-index 310
        box-shadow $box-shadow-size $color-shadow
        background $color-white
        border-top 3px solid $color-green
        padding 5px 10px 10px 10px
        text-align right
        max-width 98%

        p
            float left
            margin 0

        .fui-cross
            background $color-white
            color $color-grey-dark
            text-align right
            &:hover
                color $color-red

        .form-control
            border-color $color-grey-dark

        #copy-link
            background $color-white
            color $color-grey-dark
            border 2px solid $color-green
            margin-top 10px
            &:hover
                background $color-hover-light
                border-color $color-hover-light


@media(max-width: 767px)
    header
        #process-nav
            margin-top 15px

            a
                height 65px
                line-height 28px

                span
                    display block

                    &:nth-child(2)
                        font-size 16px

                &.active
                        span
                             &:nth-child(2)
                                    &::after
                                        margin-top 5px
            .title
                    p
                        margin-top 15px
                        font-size 21px
