doctype html
html
    head
        base(href="/")
        include includes/meta

        title Vidatio
        include includes/styl

    body.container-fluid(ng-app="app" ng-file-drop-start)
        .wrapper(ng-controller="AppCtrl")
            include header
            toast
            .app-view(ui-view)

            include footer
            include includes/js
