doctype html
html(ng-app="app")
    head
        base(href="/")
        include includes/meta

        title Vidatio

        include includes/js
        include includes/styl

    body.container-fluid(ng-file-drop-start)

        .wrapper(ng-controller="AppCtrl" ng-click="disableMenuActive()")
            include header
            toast
            progress
            menu

            .app-view(ui-view)

            include footer
