doctype html
html(ng-app="app" lang="{{ 'LANG_DE' | translate}}")
    head
        base(href="/")
        include includes/meta

        title(ng-bind="title + ' | vidatio'")

        include includes/js
        include includes/styl
        include includes/analytics

body.container-fluid(ng-file-drop-start)

        .wrapper(ng-controller="AppCtrl" ng-click="disableMenuActive()")
            include header

            toast
            vidatio-progress(progress-message="progressMessage")
            menu

            .app-view(ui-view)

            include footer
