doctype html
html
    head
        base(href="/")
        include includes/meta

        title Vidatio
        include includes/styl

    body.container-fluid(ng-app="app" ng-file-drop-start)
        include header

        div(ui-view)

        include footer
        include includes/js
