/*!!
 * Vidatio
 * @version v0.0.48
 * @link https://vidatio.com
 * @copyright 2014-2016 Vidatio
 *
 * University of Applied Science
 * MultiMediaTechnology Master
 *
 * Commercial use without owners' permission is prohibited
 */

@require "assets/styl/*"

@require "../**/*"
