doctype html
html
    head
        base(href="/")
        include includes/meta

        title Vidatio
        include includes/styl

    //- body.container-fluid(ng-app="app")
    body.container-fluid()
        include header

        div(ui-view)

        include footer
        include includes/js
