/*!!
 * Vidatio
 * @version v0.0.48
 * @link https://vidatio.com
 * @copyright 2014-2016 Vidatio
 *
 * University of Applied Science
 * MultiMediaTechnology Master
 *
 * It is not allowed to use this code commercial without
 * permission of the owner. Released for private use only.
 */

@require "assets/styl/*"

@require "../**/*"
