//- script(type='text/javascript').
//-   L_PREFER_CANVAS = true
script(src="js/plugins.js")
script(src="js/config.js")
script(src="js/app.js")
script(src="js/templates.js")

script#cookiebanner(type='text/javascript' src='//cookiebanner.eu/js/cookiebanner.min.js' data-accept-on-scroll="true" data-accept-on-click="true" data-linkmsg = "Mehr erfahren" data-bg="#11AA9A" data-fg="#FFFFFF" data-link="#FFFFFF" data-message='Wir verwenden Cookies, um Inhalte und Anzeigen zu personalisieren, Funktionen für soziale Medien anbieten zu können und die Zugriffe auf unsere Website zu analysieren.')
