script(src="js/angular.js")
script(src="js/angular.js")
script(src="js/app.js")

script(src='js/controller/main.js')
script(src='js/controller/fileRead.js')
script(src='js/directives/ngFileSelect.js')
script(src='js/directives/ngFileDropStart.js')
script(src='js/directives/ngFileDropEnd.js')
script(src='js/services/fileReader.js')
