link(href="bower_components/handsontable/dist/handsontable.full.css", rel="stylesheet")

link(href="css/font-awesome.css", rel="stylesheet")

link(href="css/bootstrap.min.css", rel="stylesheet")

link(href="css/icons.css", rel="stylesheet")

link(href="css/main.css", rel="stylesheet")

link(href="css/index.css", rel="stylesheet")
