#share
    h4
        text-align center
        margin 15px auto
        width 100%
        font-family Colaborate-Regular, $fonts

    #login
        max-width 100%

    .row
        .to-detail-view
            margin-top 30px
            padding-left 20px

            .go-icon
                font-size 14px
                margin-left 5px

        #download > div
            {fillParent}
            display inline
            color $color-grey-dark


        #preview
            position relative
            width auto
            height 293px
            padding 20px

            #map
                z-index 5

            .visualization .placeholder img
                width 80px
                margin-top -50px
                margin-left -40px

            .metadata-preview
                position absolute
                z-index 1
                width calc(100% - 40px)
                background-color rgba($color-green, .4)
                border-top 2px solid $color-table-odd-active
                text-align left
                padding 15px

                li
                    list-style-type none
                    {lightText}
                    line-height 16px
                    max-width 70%
                    span.author
                        margin-left 5px
                        font-family Colaborate-Thin, $fonts
                    &.author
                    &.title
                        font-family Colaborate, $fonts
                        font-size 15px
                        line-height 17px
                    &.tags
                        color $color-active
                    &.edit
                        position absolute
                        right 10px
                        top 10px
                        a
                            padding 5px
                            border-radius 4px
                            &:hover
                            &:focus
                                background-color $color-passive
                                color $color-grey-light
                                cursor pointer

        #download
            height 226px

            .download-selection
                a
                    height 40px
                    width 100px
                    margin-top 15px
                    padding-top 9px

        .save-share
            height auto
            min-height 544px

            .icon-save
                font-size 50px
                height 67px

            .share-options
                text-align center
                padding 0
                margin 0
                list-style none outside none
                height 45px

                li
                    display inline
                    list-style-type none
                    margin 0 5px

                    a
                        width 45px
                        height 45px
                        padding 5px
                        font-size 25px
                        color $color-white

                .icon-twitter:before
                    margin-left 2px

                .icon-googleplus
                    font-size 26px

            .icon-embeddedcode
                &:before
                    font-weight bold
                    font-size 20px

            .embeddedcodeShowOne
                font-size 32px !important

                &:before
                    position relative
                    top -4px
                    margin-left 2px

            .input-group
                margin-bottom 0
                width 100%

                &.selection
                    &::after
                        top 48%

                    select
                        height 42px
                        text-align left

                        &:not(.selected)
                            color $color-grey

                        &:selected
                            color $color-grey-dark

                        option
                            color $color-grey-dark
                            padding 5px 12px

                input
                    color $color-grey-dark

                #vidatio-link
                    border-radius 4px
                    -webkit-border-radius 4px
                    -moz-border-radius 4px

                ul.select2-choices
                    padding-left 3px
                    margin-right 5px

                textarea.embed-code
                    word-break break-all
                    min-height 120px

            button[type="submit"]
                margin-top 8px

            p
                {lightText}
                margin-bottom 20px

            .option-icon
               &.icon-lock
                    margin-top 45px

            .checkbox
                margin 20px 0
                width 100%
                {lightText}
                line-height 20px
                padding-left 32px

                .icons
                    left -0.5px

            .form-control[readonly]
                color $color-passive
                font-size 14px

            h3
                margin-top 30px

            .input-group.form-group.selection
                &:hover
                    z-index 2

            .select2-container
                border-radius 0 0 4px 4px

@media (max-width: 767px)
    #share
        .save-share
            margin-bottom 50px

        .download-selection
            .col-xs-4
                padding-left 0

                a
                    width 80px !important
                    padding-left 5px
                    padding-right 5px
