#share
    margin 10px auto 0
    h4
        text-align center
        margin 15px auto
        width 100%

    .row
        .area
            height 254px
            border-top 3px solid $color-green
            background $color-white
            box-shadow $box-shadow-size $color-shadow
            text-align center
            margin-bottom 56px

            a:not(.inverse)
                {fillParent}
                display inline-block
                color $color-grey-dark

            &:hover
                background $color-white

        .option-icon
            width 100px
            margin 15px auto 0
            height 62px
            font-size 45px
            color $color-dark-grey
            text-align center

        #preview
            height 293px
            padding 20px
            .chart-preview
                width 100%
                height 100%
                background-color $color-hover-light
                .metadata-preview
                    background-color $color-overlay
                    border-top 2px solid $color-table-odd-active
                    text-align left
                    padding 15px
                    position relative
                    li
                        list-style-type none
                        {lightText}
                        line-height 16px
                        max-width 70%
                        span.author
                            margin-left 5px
                            font-family Colaborate-Thin, $fonts
                        &.author
                        &.title
                            font-family Colaborate, $fonts
                            font-size 15px
                            line-height 17px
                        &.title
                            margin-bottom 5px
                        &.category
                        &.licence
                            float left
                            margin-right 5px
                        &.tags
                            color $color-active
                        &.edit
                            position absolute
                            right 10px
                            top 10px
                            a
                                padding 5px
                                border-radius 4px
                                &:hover
                                &:focus
                                    background-color $color-passive
                                    color $color-grey-light
                                    cursor pointer

        #preview
        #download
            margin-right 13px

        #download
            height 215px
            a
                display inline
                .option-icon
                    margin-top 5px
            form
                width 70%
                margin 0 auto

                .form-group
                    width 43%
                    margin 0 3%
                    float left

                    option
                        text-align center
            &:hover
                background-color $color-hover-light

        #save-share
            padding 0 45px 20px
            height auto
            min-height 564px
            margin-left 13px

            .share-options
                display block
                height 45px
                margin 0 auto 15px
                padding 0
                width 275px

                li
                    list-style-type none
                    float left
                    margin 0 5px

                    button
                        width 45px
                        height 45px
                        padding 5px
                        font-size 25px
                        color $color-white

            .input-group
                margin-bottom 0
                width 100%
                .form-control:not(:first-child)
                    border-left none

                &.selection
                    &::after
                        top 48%
                    select
                        height 42px
                        text-align left
                        color $color-table-even-active
                        &.selected
                            color $color-black
                        option
                            color $color-black
                            padding 5px 12px

            button[type="submit"]
                margin-top 8px

            p
                {lightText}
                margin-bottom 12px

            .option-icon
               &.icon-lock
                    margin-top 45px

            .col-xs-6.left
                text-align left
                padding 0

            .col-xs-6.right
                text-align right
                padding 0

            .checkbox
                margin 12px 7px 3px
                width 265px
                {lightText}
                line-height 19px
                padding-left 30px

            .share-only
                margin-top 90px
                display block

            .form-control[readonly]
                color $color-passive
                font-size 14px

            h3
                margin-top 30px

@media(max-width 768px)
    #share
        .row
            .area
                margin-bottom 25px !important

            #preview
            #download
            #save-share
                margin 0
                padding 0 15px 20px
            #download
                form
                    width 90%
