#share.wrapper-content(ng-controller="ShareCtrl")
        .row
            .col-sm-6
                #preview.area
                    a(href="#")
                #download.area
                    a(href="#")
                        .option-icon.icon-download
                        h4 {{ "DOWNLOAD" | translate | uppercase }}

            .col-sm-6
                #save-share.area
                    a(href="#")
                        .option-icon.icon-sharing
                        h4 {{ "SAVE_AND_SHARE_VIDATIO" | translate | uppercase }}
