#register-wrapper
#login-wrapper
#share
    margin 10px auto 0
    h4
        text-align center
        margin 15px auto
        width 100%
        font-family Colaborate-Regular, $fonts

    .row
        .to-detail-view
            margin-top 30px

        .area
            height 254px
            border-top 3px solid $color-green
            background $color-white
            box-shadow $box-shadow-size $color-shadow
            margin-bottom 56px

            &:hover
                background $color-white

        #download > div
            {fillParent}
            display inline
            color $color-grey-dark

        .option-icon
            width 100px
            margin 15px auto 0
            height 62px
            font-size 45px
            color $color-dark-grey
            text-align center

        #preview
            position relative
            width auto
            height 293px
            padding 20px

            #map
                z-index 5

            .visualization .placeholder img
                width 80px
                margin-top -50px
                margin-left -40px

            .metadata-preview
                position absolute
                z-index 1
                width calc(100% - 40px)
                background-color rgba($color-green, .4)
                border-top 2px solid $color-table-odd-active
                text-align left
                padding 15px

                li
                    list-style-type none
                    {lightText}
                    line-height 16px
                    max-width 70%
                    span.author
                        margin-left 5px
                        font-family Colaborate-Thin, $fonts
                    &.author
                    &.title
                        font-family Colaborate, $fonts
                        font-size 15px
                        line-height 17px
                    &.tags
                        color $color-active
                    &.edit
                        position absolute
                        right 10px
                        top 10px
                        a
                            padding 5px
                            border-radius 4px
                            &:hover
                            &:focus
                                background-color $color-passive
                                color $color-grey-light
                                cursor pointer

        #preview
        #download
            margin-right 13px

        #download
            height 215px

        .save-share
            padding 0 45px 20px
            height auto
            min-height 564px
            margin-left 13px

            .icon-save
                font-size 50px
                height 67px

            .icon-embeddedcode
                &:before
                    font-weight bold

            .embeddedcodeShowOne
                font-size 32px !important

                &:before
                    position relative
                    top -4px
                    margin-left 2px

            .share-options
                text-align center
                padding 0
                margin 0
                list-style none outside none
                height 45px
                li
                    display inline
                    list-style-type none
                    margin 0 5px

                    a
                        width 45px
                        height 45px
                        padding 5px
                        font-size 25px
                        color $color-white

            .input-group
                margin-bottom 0
                width 100%

                &.selection
                    &::after
                        top 48%

                    select
                        height 42px
                        text-align left
                        color $color-table-even-active
                        border-bottom-left-radius 4px
                        border-bottom-right-radius 4px

                        &.selected
                            color $color-black

                        option
                            color $color-black
                            padding 5px 12px

            button[type="submit"]
                margin-top 8px

            p
                {lightText}
                margin-bottom 20px

            .option-icon
               &.icon-lock
                    margin-top 45px

            .col-xs-6.left
                text-align left
                padding 0

            .col-xs-6.right
                text-align right
                padding 0

            .checkbox
                margin 20px 0
                width 100%
                {lightText}
                line-height 20px
                padding-left 31px

            .form-control[readonly]
                color $color-passive
                font-size 14px

            h3
                margin-top 30px

            .bootstrap-tagsinput
                padding 0 !important

@media(max-width 768px)
    #register-wrapper
    #login-wrapper
    #share
        .row
            .area
                margin-bottom 25px !important

            #download
            #save-share
                margin 0
                padding 0 15px 20px

            #download
                form
                    width 90%
