#share.wrapper-content
        .row
            .col-sm-6
                #preview.area
                    ul.metadata-preview(ng-show="goToPreview")
                        li.editor {{vidatio.metaData.userId.name}}
                            span.author {{vidatio.metaData.creator}}
                        li.title {{vidatio.metaData.name}}
                        li.category {{vidatio.categoryId.name}}
                        li.licence Licence
                        li.tags Tags, Tags, Tags
                        li.edit
                            a.fui-new(ng-click="show = 'metaData'")
                    visualization

                #download.area
                    div
                        .option-icon.icon-download
                        h4 {{ "DOWNLOAD" | translate | uppercase }}

                    .download-selection
                        .col-xs-4
                            a.icon-emptytable.btn.btn-primary.center-block(href="#" ng-click="downloadCSV()") CSV
                        .col-xs-4
                            a.icon-downloadvisualization.btn.btn-primary.center-block(href="#" ng-click="downloadVisualization('jpg')" ng-disabled="!visualization.type") JPG
                        .col-xs-4
                            a.icon-downloadvisualization.btn.btn-primary.center-block(href="#" ng-click="downloadVisualization('png')" ng-disabled="!visualization.type") PNG

            .col-sm-6
                .save-share.area(ng-if="globals.authorized" ng-hide="goToPreview")
                    .option-icon.icon-share
                    h4 {{ "SAVE_AND_SHARE" | translate | uppercase }}
                    .row
                        p Damit alle Vidatio-Nutzer sich auf nachprüfbare Daten verlassen können, gebe bitte folgende Daten zu dem von dir verwendeten Datenset ein.
                    form(name="metadataForm")
                        .row
                            .input-group.form-group.first
                                input.form-control(type="text" name="author" ng-model="vidatio.author" placeholder="{{ 'AUTHOR' | translate }}" required ng-minlength=3 ng-maxlength=128)
                        .row
                            .input-group.form-group
                                input.form-control(type="text" name="title" ng-model="vidatio.name" placeholder="{{ 'TITLE' | translate }}" required ng-minlength=5 ng-maxlength=128)
                        .row
                            .input-group.form-group.selection
                                select.form-control(name="category" ng-model="vidatio.categoryId" ng-options="category._id as category.name for category in categories" required)
                                    option(selected="selected" disabled="true" value="") {{ 'CATEGORY' | translate }}
                        .row
                            label.checkbox(for="publish")
                                input#publish.custom-checkbox(data-toggle="checkbox" type="checkbox" ng-model="vidatio.publish" checked="checked")
                                | Vidatio im öffentlichen Katalog anzeigen

                        .row
                            .tagsinput-primary
                                    input(name="tagsinput" class="tagsinput" data-role="tagsinput")
                                    span.add-tag +
                                    span.placeholder Füge Tags hinzu, damit dein Vidatio besser gefunden wird

                        .row
                            button.btn.btn-block.btn-embossed.btn-primary(ng-click="saveDataset()" type="button" ng-disabled="metadataForm.$invalid || metadataForm.$pending || metadataForm.category.$invalid") {{ 'SAVE' | translate }}

                login(ng-if="!globals.authorized")

                .save-share.area(ng-show="goToPreview && globals.authorized")
                    .option-icon.icon-share
                    h4 {{ "SHARE" | translate | uppercase }}
                    .row
                        ul.share-options
                            li: button.btn.btn-primary.icon-facebook
                            li: button.btn.btn-primary.icon-twitter
                            li: button.btn.btn-primary.icon-link(ng-click="copyVidatioLink()")
                    .row
                        h3 Embed Code
                            span.icon-embeddedcode
                        .input-group.single
                            textarea.form-control(name="embedcode" rows="4" readonly) <a class="embed" href="http://www.vidatio.at/das/ist/ein/embed-code/code/">Mein Vidatio</a><script async charset="UTF8" src="//cdn.embedly.com/widget/platform.js"></script>
                    .row
                        h3 {{ "LINK" | translate }}
                            span.icon-link
                        .input-group.single
                            input.form-control#vidatio-link(ng-model="link" onClick="this.select();" readonly)

                    .row
                        a.btn.btn-primary.center-block.to-detail-view(ui-sref="app.dataset({ id: vidatio._id, locale: locale })") {{ 'SHOW_DETAIL_VIEW' | translate | uppercase }}
