#share.wrapper-content
        .row
            .col-sm-6
                #preview.area
                    ul.metadata-preview(ng-show="goToPreview && vidatio.metaData")
                        li.editor {{vidatio.metaData.userId.name}}
                            span.author {{vidatio.metaData.creator}}
                        li.title {{vidatio.metaData.name}}
                        li.category {{vidatio.metaData.categoryId.name}}
                        li.tags
                            span.tag(ng-repeat="tag in vidatio.metaData.tagIds track by $index") {{tag.name}}
                        //- li.edit
                            a.fui-new(ng-click="show = 'metaData'")
                    visualization

                #download.area
                    div
                        .option-icon.icon-download
                        h4 {{ "DOWNLOAD" | translate | uppercase }}

                    .download-selection
                        .col-xs-4
                            a.icon-downloaddataset.btn.btn-primary.center-block(href="#" ng-click="hasData && downloadCSV()" ng-disabled="!hasData") CSV
                        .col-xs-4
                            a.icon-downloadvisualization.btn.btn-primary.center-block(href="#" ng-click="visualization.type && downloadVisualization('jpg')" ng-disabled="!visualization.type") JPG
                        .col-xs-4
                            a.icon-downloadvisualization.btn.btn-primary.center-block(href="#" ng-click="visualization.type && downloadVisualization('png')" ng-disabled="!visualization.type") PNG

            .col-sm-6
                .save-share.area(ng-show="!goToPreview && globals.authorized")
                    .option-icon.icon-share
                    h4 {{ "SAVE_AND_SHARE" | translate | uppercase }}
                    .row
                        p {{ "SAVE_AND_SHARE_DESCRIPTION" | translate }}
                    form(name="metadataForm")
                        .row
                            .input-group.form-group.first
                                input.form-control(type="text" name="author" ng-model="vidatio.author" placeholder="{{ 'AUTHOR' | translate }}" required ng-minlength=3 ng-maxlength=128)
                        .row
                            .input-group.form-group
                                input.form-control(type="text" name="title" ng-model="vidatio.name" placeholder="{{ 'TITLE' | translate }}" required ng-minlength=3 ng-maxlength=128)
                        .row
                            .input-group.form-group.selection
                                select.form-control(name="category" ng-model="vidatio.categoryId" ng-options="category._id as category.name for category in categories" ng-selected="vidatio.categoryId" required)
                                    option(selected="selected" disabled="true" value="") {{ 'CATEGORY' | translate }}
                        .row
                            label.checkbox(for="publish")
                                input#publish.custom-checkbox(data-toggle="checkbox" type="checkbox" ng-model="vidatio.publish")
                                | {{ "PUBLISH_VIDATIO" | translate }}

                        .row
                            .tagsinput-primary
                                    input(name="tagsinput" class="tagsinput" data-role="tagsinput" ng-model="vidatio.tags")
                                    span.add-tag +
                                    span.placeholder(ng-hide="vidatio.tags") {{ "SAVE_AND_SHARE_TAGS" | translate }}

                        .row
                            p {{ visualization }}
                        .row
                            button.btn.btn-block.btn-primary(ng-click="saveDataset()" type="button" ng-disabled="!hasData || metadataForm.$invalid || metadataForm.$pending || metadataForm.category.$invalid") {{ 'SAVE' | translate }}

                login(ng-show="!globals.authorized")

                .save-share.area(ng-show="goToPreview")
                    .option-icon.icon-share
                    h4 {{ "SHARE_VIDATIO" | translate | uppercase }}
                    .row
                        ul.share-options
                            li: a.btn.btn-primary.icon-facebook(title="{{'SHARE_FACEBOOK' | translate}}" ng-click="openPopup('http://www.facebook.com/sharer.php?u=', 'Facebook Share', '600', '450')" href="#")
                            li: a.btn.btn-primary.icon-googleplus(title="{{'SHARE_GOOGLEPLUS' | translate}}" ng-click="openPopup('https://plus.google.com/share?url=', 'Google Plus Share', '500', '500')" href="#")
                            li: a.btn.btn-primary.icon-twitter(title="{{'SHARE_TWITTER' | translate}}" ng-click="openPopup('http://twitter.com/home?status=', 'Twitter Share', '500', '280')" href="#")
                            li: a.btn.btn-primary.icon-link(ng-click="copyVidatioLink()" title="{{'SHOW_LINK' | translate}}")
                            li: a.btn.btn-primary.icon-embeddedcode(title="{{'SHOW_EMBEDDED_CODE' | translate}}")
                    .row
                        h3 Embed Code
                            span.icon-embeddedcode
                        .input-group.single
                            textarea.form-control(rows="4" onClick="this.select();" readonly) <iframe src="{{host}}/embedding/{{vidatio._id}}" name="{{vidatio.name}}" title="{{vidatio.name}}" width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                    .row
                        h3 {{ "LINK" | translate }}
                            span.icon-link
                        .input-group.form-link.copy-vidatio-button-group
                            input#vidatio-link.form-control(ng-model="link" onClick="this.select();" readonly)
                            span.input-group-btn
                                #copy-vidatio-link.btn.btn-primary(ng-click="copyVidatioLink()")
                                    span.icon-copyclipboard.icons
                                    span.button-text  {{"COPY" | translate | uppercase }}

                    .row
                        a.btn.btn-primary.center-block.to-detail-view(ui-sref="app.dataset({ id: vidatio._id, locale: locale })") {{ 'SHOW_DETAIL_VIEW' | translate | uppercase }}
                            span.icon-bracketright.go-icon
