#share.wrapper-content
        .row
            .col-sm-7.right-content
                #preview.area
                    visualization

                #download.area
                    div
                        .option-icon.icon-download
                        h3 {{ "DOWNLOAD" | translate | uppercase }}

                    .download-selection
                        .col-xs-4
                            a.icon-downloaddataset.btn.btn-primary.center-block(href="#" ng-click="hasData && downloadCSV()" ng-disabled="!hasData")
                                span  CSV
                        .col-xs-4
                            a.icon-downloadvisualization.btn.btn-primary.center-block(href="#" ng-click="visualization.type && downloadVisualization('jpg')" ng-disabled="!visualization.type")
                                span  JPG
                        .col-xs-4
                            a.icon-downloadvisualization.btn.btn-primary.center-block(href="#" ng-click="visualization.type && downloadVisualization('png')" ng-disabled="!visualization.type")
                                span  PNG

            .col-sm-5
                login(ng-show="!globals.authorized")

                .col-xs-12.save-share.area(ng-show="!goToPreview && globals.authorized")
                    .option-icon.icon-share
                    h3 {{ "SAVE_AND_SHARE" | translate | uppercase }}
                    .row
                        p {{ "SAVE_AND_SHARE_DESCRIPTION" | translate }}
                        p {{ "SAVE_AND_SHARE_OPTIONS" | translate }}
                    form(name="metadataForm")
                        .row
                            .input-group.form-group.first-share(ng-class="{ 'has-error' : metadataForm.author.$invalid && !metadataForm.author.$pristine }")
                                input.form-control(type="text" name="author" ng-model="vidatio.author" placeholder="{{ 'AUTHOR' | translate }} *" required ng-minlength=3 ng-maxlength=128 validate-data-name)
                            span.error(ng-show="metadataForm.author.$invalid && !metadataForm.author.$pristine && !metadataForm.author.$error.valid") {{ 'FORM.ERROR.INVALID_AUTHOR' | translate }}
                            span.error(ng-show="metadataForm.author.$invalid && !metadataForm.author.$pristine && metadataForm.author.$error.valid") {{ 'FORM.ERROR.VALID_AUTHOR_NAME' | translate }}
                        .row
                            .input-group.form-group(ng-class="{ 'has-error' : metadataForm.title.$invalid && !metadataForm.title.$pristine }")
                                input.form-control(type="text" name="title" ng-model="vidatio.name" placeholder="{{ 'TITLE' | translate }} *" required ng-minlength=3 ng-maxlength=128 validate-data-name)
                            span.error(ng-show="metadataForm.title.$invalid && !metadataForm.title.$pristine && metadataForm.title.$error.valid") {{ 'FORM.ERROR.VALID_DATASET_NAME' | translate }}
                            span.error(ng-show="metadataForm.title.$invalid && !metadataForm.title.$pristine && !metadataForm.title.$error.valid") {{ 'FORM.ERROR.INVALID_DATASET_NAME_LENGTH' | translate }}
                        .row
                            .input-group.form-group.selection
                                select.form-control(name="category" ng-model="vidatio.categoryId" ng-options="category._id as category.name for category in categories" ng-selected="vidatio.categoryId" required)
                                    option(selected="selected" disabled="true" value="") {{ 'CATEGORY' | translate }} *
                        .row
                            .input-group.form-group
                                select2#tags.form-control.multiselect(multiple ng-model="vidatio.tags" custom-placeholder="'DATASET_TAGS'" ajax-content="tags" ng-list=",")
                                    option
                        .row
                            label.checkbox(for="publish")
                                input#publish.custom-checkbox(data-toggle="checkbox" type="checkbox" ng-model="vidatio.publish")
                                | {{ "PUBLISH_VIDATIO" | translate }}

                        .row
                            button.btn.btn-block.btn-primary(ng-click="saveDataset()" type="button" ng-disabled="metadataForm.$invalid || metadataForm.$pending || metadataForm.category.$invalid") {{ 'SAVE' | translate }}

                .col-xs-12.save-share.area(ng-show="goToPreview")
                    .option-icon.icon-share
                    h3 {{ "SHARE_VIDATIO" | translate | uppercase }}
                    .row
                        ul.share-options
                            li: a.btn.btn-primary.icon-facebook(title="{{'SHARE_FACEBOOK' | translate}}" ng-click="openPopup('http://www.facebook.com/sharer.php?u=', 'Facebook Share', '600', '450')" href="#")
                            li: a.btn.btn-primary.icon-twitter(title="{{'SHARE_TWITTER' | translate}}" ng-click="openPopup('http://twitter.com/home?status=', 'Twitter Share', '500', '280')" href="#")
                            li: a.btn.btn-primary.icon-googleplus(title="{{'SHARE_GOOGLEPLUS' | translate}}" ng-click="openPopup('https://plus.google.com/share?url=', 'Google Plus Share', '500', '500')" href="#")

                    .row
                        h4.icon-embeddedcode Embedded Code
                        .input-group.single
                            textarea.form-control.embed-code(rows="4" onClick="this.select();" readonly) <iframe src="{{host}}/embedding/{{vidatio._id}}" width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

                    .row
                        h4.icon-link {{ "LINK" | translate }}
                        .input-group.form-link.copy-vidatio-button-group
                            input#vidatio-link.form-control(ng-model="link" onClick="this.select();" readonly)

                    .row
                        a.btn.btn-primary.center-block.to-detail-view(ui-sref="app.dataset({ id: vidatio._id })") {{ 'SHOW_DETAIL_VIEW' | translate }}
                            span.icon-bracketright
