#catalog.wrapper-content
    .row.content(ng-class="vidatios.length ? '' : 'same-height'")
        #filter.col-xs-12.col-sm-12.col-md-3.col-lg-3
            h3  {{ "FILTER_BY" | translate }}

            label(for="search-title") {{ "TITLE" | translate }}
            #search-filter.input-group
                input#search-title.form-control.input-sm(placeholder="{{ 'SEARCH_TITLE' | translate }}" type="text" ng-model="filter.name" ng-change="setStateParams()")
                span.input-group-btn
                    button.btn(type="submit", ng-click="setStateParams()")
                        span.fui-search

            #time-filter
                label(for="from-filter") {{ "TIME" | translate }}
                input#from-filter.form-control.input-sm(date-time ng-model="filter.dates.from" placeholder="{{ 'FROM' | translate }}" format="DD.MM.YYYY" min-view="date" max-date="maxDate")
                span.to  -
                input.form-control.input-sm(date-time ng-model="filter.dates.to" placeholder="{{ 'TO' | translate }}" format="DD.MM.YYYY" min-view="date" max-date="maxDate")

            #category-filter
                label {{ "CATEGORY" | translate }}
                .btn-group
                    button.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") {{ filter.category }}
                        span.caret
                    ul.dropdown-menu(role="menu")
                        li
                            a(href="#" ng-click="setCategory()") {{ "RESET_FILTER" | translate }}
                        li(ng-repeat="category in categories")
                            a(href="#" ng-click="setCategory(category.name)") {{ category.name }}

            #tags-filter
                label(for="tags") {{ "DATASET_TAGS" | translate }}
                select2#tags.form-control.multiselect(multiple ng-model="filter.tags" custom-placeholder="'DATASET_TAGS'" ajax-content="tags" ng-list="," ng-change="setStateParams()")

            #my-vidatio-filter(ng-show="globals.authorized")
                label.checkbox(for="my-vidatio-checkbox")
                    p {{ "MY_VIDATIOS" | translate }}
                    input#my-vidatio-checkbox.custom-checkbox(data-toggle="checkbox", type="checkbox", ng-model="filter.showMyVidatios" ng-click="setStateParams()")

            .reset-filters
                a(href="#" ng-click="reset()") {{ "RESET_ALL_FILTERS" | translate }}

        .no-vidatios.col-xs-12.col-sm-12.col-md-9.col-lg-9(ng-hide="vidatios.length")
            p {{ "NO_DATASETS" | translate }}

        .vidatios.col-xs-12.col-sm-12.col-md-9.col-lg-9(ng-show="vidatios.length")
            .row.cards
                .col-xs-12.col-sm-6.col-md-4.col-lg-4(
                    ng-repeat="vidatio in vidatios | dateFilter: filter.dates.from : filter.dates.to | categoryFilter : filter.category| tagsFilter: filter.tags | searchFilter: filter.name | myVidatioFilter : filter.showMyVidatios"
                )
                    vidatio(vidatio="vidatio")
