#catalog
    li
        list-style-type none

    .vidatio
        img
            padding-bottom 20px
            background-color $color-white

        .text
            margin-top -15px

    #create-vidatio
        position relative
        top -15px
        height 30px
        width 90%
        margin 0 auto
        line-height 33px
