#catalog.wrapper-content(ng-controller="CatalogCtrl")
    .row
        #filter.col-xs-12.col-sm-12.col-md-3.col-lg-3
            #time-filter
                h2 {{ "FILTER.BY_TIME" | translate }}
                input.form-control.input-sm(date-time ng-model="dates.from" placeholder="{{ 'FROM' | translate }}" format="DD.MM.YYYY" min-view="date" max-date="maxDate")
                |  -
                input.form-control.input-sm(date-time ng-model="dates.to" placeholder="{{ 'TO' | translate }}" format="DD.MM.YYYY" min-view="date" max-date="maxDate")
        .vidatios.col-xs-12.col-sm-12.col-md-9.col-lg-9(ng-show="vidatios.length")
            .row
                .col-xs-6.col-md-4.col-lg-4(ng-repeat="vidatio in vidatios | dateFilter: dates.from : dates.to")
                    .vidatio
                        a.img(ui-sref="app.dataset({ id: vidatio._id, locale: locale })")
                            img(src="{{ vidatio.image }}")

                        a#create-vidatio.btn.btn-primary(ui-sref="app.editor.id({ id: vidatio._id, locale: locale })" ng-click="createVidatio(vidatio._id)")
                            i.fa.fa-plus.edit-icon
                            |   {{ "CREATE_VIDATIO" | translate | uppercase }}

                        .text
                            a.inverse(ui-sref="app.dataset({ id: vidatio._id, locale: locale })")
                                h4.title {{ vidatio.title }}
                            p {{ vidatio.description | limitTo: 120}} ...
                            p {{ "DATE" | translate }}: {{ vidatio.createdAt | date: "dd.MM.yyyy" }}
