#catalog
    h2
        display block
        margin-bottom 5px

    li
        list-style-type none

    #filter
        padding 15px
        background $color-table-odd-passive
        border-top 3px solid $color-green

        #time-filter
            input
                width 100px
