#catalog.wrapper-content(ng-controller="CatalogCtrl")
    .vidatios(ng-show="vidatios.length")
        .row
            .col-xs-12.col-sm-6.col-md-4(ng-repeat="vidatio in vidatios")
                .vidatio
                    .img
                        img(src="{{ vidatio.image }}")
                    .text
                        a(ui-sref="/vidatio/{{vidatio.id}}" href="#")
                            h4 {{ vidatio.name }}
                        p {{ vidatio.description | limitTo: 45}} ...
                        a(ui-sref="/vidatio/{{vidatio.id}}" href="#") Mehr
