#imprint
    .area
        padding 30px
        border-top 3px solid #11ddc6
        background #fff
        box-shadow 0 2px 9px #e3e3e3
        margin 0 auto 40px auto
        color #333
    h1
        margin-bottom 1em

    .team
        margin-bottom 20px

        p
            margin 0

    p
    address
        line-height 1.5

    .disclaimer
        p
            line-height 1.5
            font-size 14px
            color $color-passive

        .bold
            font-family Colaborate-Medium, $fonts
            margin 20px 0 0

        .first
            font-family Colaborate-Medium, $fonts
            margin 0

    .logos
        min-height 100px
        height auto
        width 100%
        margin 30px 0 50px

        .logo-fh
        .logo-mmt
            float left
            height 90px
            margin-top 20px

        .logo-fh
            margin-left 20px
            margin-bottom 20px



