#imprint
    .area
        padding 30px
        border-top 3px solid #11ddc6
        background #fff
        box-shadow 0 2px 9px #e3e3e3
        margin 0 auto 40px auto
        color #333
    h1
        margin-bottom 1em

    .team
        margin-bottom 20px

        p
            margin 0

    p
    address
        line-height 1.5

    .disclaimer
        line-height 1.5
        font-size 14px
        color $color-passive
