#imprint.wrapper-content
    .row
        .col-sm-12
            .area
                .row
                    .col-sm-12
                        h1 {{ "IMPRINT" | translate }}
                .row
                    .col-md-5.col-sm-12
                        h3 Vidatio.com
                        address
                            | Fachhochschule Salzburg GmbH<br>
                            | Campus Urstein Süd 1<br>
                            | A-5412 Puch/ Salzburg<br>
                            a.inverse(href="mailto:office@vidatio.com") office@vidatio.com

                        h3 Verantwortlich für den Inhalt
                        .team
                            p Fabio Batz
                            p Georg Eschbacher
                            p Andreas Frank
                            p Christian Lehner
                            p Lukas Wanko
                        a.inverse(href="#" ui-sref="app.team({ locale: locale })" title="{{ 'OPEN_TEAM' | translate }}" ) Mehr über das Vidatio-Team

                        br
                        br
                        h3 Musik
                        br
                        a.inverse(href="http://www.bensound.com" target="_blank") www.bensound.com

                        .logos
                            img.logo-mmt(src="../images/logo-mmt.png")
                            img.logo-fh(src="../images/logo-fh.png")

                    .col-md-7.col-sm-12
                        h3 Disclaimer
                        .disclaimer
                            b Urheberrecht
                            p Alle auf diesen Seiten veröffentlichten Inhalte unterliegen dem Urheberrecht. Dementsprechend dürfen sämtliche Inhalte ohne der ausdrücklichen schriftlichen Genehmigung des Urhebers nicht kopiert, bearbeitet, veröffentlicht oder anderwertig vervielfältigt werden. Ausgenommen hiervon sind von Vidatio-Usern auf der Plattform zur Verfügung gestellte Inhalte.<br>
                            b Verlinkungen zu fremden Seiten<br>
                            p Wir erklären ausdrücklich, daß wir keinerlei Verantwortung für und Einfluß auf die Gestaltung und die Inhalte der von uns verlinkten Seiten haben. Wir distanzieren uns hiermit ausdrücklich von den deren Inhalten, Meinungen und Gesinnungen.<br>
                            b Datenschutz
                            p Personenbezogene Daten werden von der Plattform vidatio.com ausschließlich nach den Vorgaben des österreichischen Datenschutzrechts erhoben, verarbeitet und genutzt.<br>
                            b Haftungsausschluß
                            p Die Inhalte unserer Webseite wurden sorgfältig geprüft und nach bestem Wissen erstellt. Für die dargebotenen Informationen, Inhalte und Daten wird kein Anspruch auf Vollständigkeit, Aktualität, Qualität und Richtigkeit erhoben. Es kann keine Verantwortung und Haftung für sachliche und körperliche Schäden jedweder Art übernommen werden, die durch das Vertrauen auf die Inhalte und Daten unserer Webseite entstehen.
                            p Wir behalten uns vor, ohne Ankündigung Änderungen oder Ergänzungen der bereitgestellten Informationen/ Daten vorzunehmen.
