#imprint.wrapper-content
    .row
        .col-sm-12
            .area
                .row
                    .col-sm-12
                        h1 {{ "IMPRINT" | translate }}
                .row
                    .col-md-5.col-sm-12
                        h2 Vidatio.com
                        address
                            | Examplestreet 3 <br>
                            | A-5020 Salzburg <br>
                            a.inverse(href="mailto:office@vidatio.com") office@vidatio.com

                        h3 Verantwortlich für den Inhalt
                        p Vorname Nachname
                        p Lorem ipsum In eiusmod ex reprehenderit ut Ut do deserunt deserunt ad ullamco ut deserunt.

                        h3 Lorem Ipsum
                        p Lorem ipsum Ullamco enim ullamco anim veniam nostrud ea irure sed labore adipisicing ex adipisicing dolore incididunt ea labore laboris non qui exercitation id sint commodo veniam ex dolore ex id quis dolor eiusmod minim deserunt cupidatat incididunt.


                    .col-md-7.col-sm-12
                        h2 Disclaimer
                        p.disclaimer.
                            Lorem ipsum Excepteur et quis ut deserunt non nulla aliquip eu sit consectetur pariatur consequat qui quis aliqua ut in cillum proident amet in occaecat velit elit nulla Duis veniam qui sit est sunt enim laboris in anim dolore in exercitation sit deserunt officia aliqua deserunt eu in ex amet Ut consequat sed labore occaecat in dolore esse nisi nisi pariatur amet ullamco et non velit adipisicing aliquip commodo id esse fugiat officia aute non veniam id labore exercitation mollit cillum sed consequat consequat irure amet aliqua sed velit et pariatur aute fugiat occaecat est dolor tempor quis elit ex culpa ut anim laboris eiusmod incididunt aliqua ullamco enim sunt sint in aute deserunt proident in exercitation in officia id dolore qui tempor aute velit culpa ullamco eiusmod cillum sit minim proident sint cillum consequat nulla magna reprehenderit dolor exercitation dolor do nostrud nulla culpa adipisicing dolor id nisi eu mollit est exercitation aliquip voluptate Ut minim ut sunt aliquip ullamco qui cupidatat cillum elit laboris adipisicing et ullamco aute velit cillum fugiat in amet culpa et magna adipisicing velit cupidatat laborum laborum fugiat aliqua non incididunt dolor non sed dolor sed Ut consequat in in reprehenderit in ea aliquip quis incididunt officia incididunt tempor in et qui nisi dolore adipisicing nostrud reprehenderit anim aliqua nostrud aliquip labore Excepteur Ut deserunt nulla aliquip eiusmod aliqua quis Excepteur ut nostrud incididunt in ut.
