#imprint.wrapper-content.light-font
    .row
        .col-sm-12
            .area
                .row
                    .col-sm-12
                        h1 {{ "IMPRINT" | translate }}
                .row
                    .col-md-5.col-sm-12
                        h2 Vidatio.com
                        address
                            | Fachhochschule Salzburg<br>
                            | Campus Urstein Süd 1<br>
                            | A-5412 Puch/ Salzburg<br>
                            a.inverse(href="mailto:office@vidatio.com") office@vidatio.com

                        h3 Verantwortlich für den Inhalt
                        .team
                            p Fabio Batz
                            p Georg Eschbacher
                            p Andreas Frank
                            p Christian Lehner
                            p Lukas Wanko

                        //p Alle Rechte vorbehalten!

                        h3 Kurzbeschreibung
                        p Vidatio ist ein studentisches Masterprojekt, dass an der Fachhochschule Salzburg im Rahmen des Masterstudiengangs "MultiMediaTechnology" entwickelt wurde. <br>Mit Vidatio können Visualisierungen aus Datensätzen mit nur 2 Klicks automatisiert erstellt werden.


                    .col-md-7.col-sm-12
                        h2 Disclaimer
                        p.disclaimer.
                            Urheberrecht<br>
                            Alle auf diesen Seiten veröffentlichten Inhalte unterliegen dem Urheberrecht. Dementsprechend dürfen sämtliche Inhalte, ausgenommen von Vidatio-Usern zur Verfügung gestellte Inhalte, ohne der ausdrücklichen schriftlichen Genehmigung des Urhebers nicht kopiert, bearbeitet, veröffentlicht oder anderwertig vervielfältigt werden.<br>
                            <br>
                            Verlinkungen zu fremden Seiten<br>
                            Wir erklären ausdrücklich, daß wir keinerlei Einfluß auf die Gestaltung und die Inhalte der von uns verlinkten Seiten haben. Wir distanzieren uns hiermit ausdrücklich von den deren Inhalten, Meinungen und Gesinnungen.<br>
                            <br>
                            Datenschutz<br>
                            Personenbezogene Daten werden von der Plattform vidatio.com ausschließlich nach den Vorgaben des österreichischen Datenschutzrechts erhoben, verarbeitet und genutzt.<br>
                            <br>
                            Haftungsausschluß<br>
                            Die Inhalte unserer Webseite wurden sorgfältig geprüft und nach bestem Wissen erstellt. Für die dargebotenen Informationen, Inhalte und Daten wird kein Anspruch auf Vollständigkeit, Aktualität, Qualität und Richtigkeit erhoben. Es kann keine Verantwortung und Haftung für sachliche und körperliche Schäden jedweder Art übernommen werden, die durch das Vertrauen auf die Inhalte und Daten unserer Webseite entstehen.<br>
                            Wir behalten uns vor, ohne Ankündigung Änderungen oder Ergänzungen der bereitgestellten Informationen/ Daten vorzunehmen.
                            <br>

                .row
                    .col-xs-12
