nav
    .cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-right
        .menu-header
            a(ui-sref='app.landingPage({ locale: locale })')
                #logo-menu
        a(href="#") Verfügbare Datensets
        a(ui-sref='app.import({ locale: locale })') Daten importieren
        a(href="#") Features
        a(href="#") Pricing
        a(href="#") API

