nav
    .cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-right
        .menu-header
            #logo-menu
                a(ui-sref='app.landingPage({ locale: locale })').toggle-menu.menu-right.push-body

        .toggle-menu.menu-right.push-body
            a(href="#") Verfügbare Datensets
            a(ui-sref='app.import({ locale: locale })') Daten importieren
            a(href="#") Features
            a(href="#") Pricing
            a(href="#") API

        h3 {{ 'USER_SECTION' | translate }}
        .login-container
            p {{ 'MAIL' | translate }}
            input.form-control.input-sm(type="text" placeholder="{{ 'MAIL' | translate }}")
            p {{ 'PASSWORD' | translate }}
            input.form-control.input-sm(type="text" placeholder="{{ 'PASSWORD' | translate }}")
            button.btn.btn-primary.btn-wide.input-sm(type="submit") {{ 'LOGIN' | translate }}
