nav
    .cbp-spmenu-right
        right -350px

    .cbp-spmenu-vertical
        width 350px

        a
            border none

    .cbp-spmenu
        background $color-grey-dark
        text-align right
        padding 40px
        text-transform uppercase
        overflow scroll

        .menu-header
            margin-top -2px
            height 70px
            width 100%

            #logo-menu
                background url(../images/logo-text-white-align-right.svg) no-repeat
                background-size 111px
                width 111px
                height 40px
                float right

                a
                    padding 0
                    height 100%
                    width 100%

        a
            font-size 18px
            padding 15px 0
            clear both

        a:hover
            background none
            color $color-hover-dark

        h3
            background none
            color $color-red
            margin-top 50px
            text-align right
            padding 0

        .login-container
            margin-top 20px
            text-align center

            p
                color $color-white
                text-align right

            input
                margin-bottom 20px
                text-align right
