/*  Standard colors */
$color-red = #FF5444
$color-green = #11DDC6
$color-dark-grey = #333333
$color-light-grey = #FAFAFA

/* Editor table */
$color-editor-table-green = #ABF4E9
$color-editor-table-red = #F2B1B1
$color-editor-table-red-dark = #E2AAAA

/* Navigation */
$color-navigation-bg = #3F7773

/* Buttons */
$color-button-border = #089988
$color-button-hover = #11AA9A
