#dataset-view.wrapper-content(ng-controller="DatasetCtrl" ng-repeat="info in information")
    .row.dataset-title
        .col-sm-12
            h1.underline-red-light.dataset-title-text {{ info.title }}

    .row
        .col-sm-12
            .visualization-container
                leaflet(geojson="geojson" id="map" ng-show="visualization.type == 'map'")
                #chart(ng-hide="visualization.type == 'map' || visualization.type == false")
                img(src="{{ info.image }}" ng-hide="visualization.type")

            .row.buttons-first-row
                .col-xs-12.col-sm-4.middle
                    a#create-vidatio.btn.btn-primary(ui-sref="app.editor.id({ id: info.id, locale: locale })" ng-click="openInEditor()")
                        span.icon-edit.icons
                        span.button-text  {{ "OPEN_IN_EDITOR" | translate | uppercase }}

                .col-xs-12.col-sm-4.middle
                    #download-dataset
                        a.title.btn.btn-primary(href='#')
                            span.icon-download.icons
                            span.button-text  {{ "DOWNLOAD" | translate | uppercase }}

                        ul
                            li
                                a(ng-click="downloadCSV()")
                                    span.icon-downloaddataset
                                    span  {{ "DATASET" | translate }}
                            li
                                a(ng-click="downloadJPEG()")
                                    span.icon-downloadvisualization
                                    span  {{ "VISUALIZATION" | translate }}

                .col-xs-12.col-sm-4.middle
                    a#link-dataset.btn.btn-primary(href='#' ng-click="toggleVidatioLink()")
                        span.icon-link.icons
                        span.button-text  {{ "LINK" | translate | uppercase }}

                .col-xs-12
                    #vidatio-link-box(ng-show="$root.showVidatioLink")
                        p
                            span.icon-link.link-box-icon
                            span  {{ "LINK_TO_SHARE" | translate }}
                        a.fui-cross(href="#" ng-click="hideVidatioLink()")
                        form
                            input#vidatio-link.form-control(ng-model="link" onClick="this.select();")
                        a#copy-vidatio-link.btn.btn-primary(ng-click="copyVidatioLink()")
                            span.icon-copyclipboard.icons
                            span.button-text  {{"COPY_LINK" | translate | uppercase }}

    .row
        .col-sm-12
            h1.underline-red-light {{ "INFORMATION_DATASET" | translate | uppercase }}

    .row
        .col-sm-12
            .metadata-container
                .one-row
                    .description {{ info.description }}
                .one-row.space
                .one-row
                    .text {{ "DATASET_ORIGIN" | translate }}:
                    .dataset-creator.info {{ info.origin }}
                .one-row
                    .text {{ "DATASET_EDITOR" | translate }}:
                    .dataset-creator.info {{ info.creator }}
                .one-row.space
                .one-row
                    .text {{ "DATASET_ID" | translate }}:
                    .dataset-creator.info {{ info.id }}
                .one-row
                    .text {{ "DATASET_PARENT" | translate }}:
                    .dataset-creator.info {{ info.parent }}
                .one-row.space
                .one-row
                    .text {{ "DATASET_CREATED" | translate }}:
                    .dataset-created.info {{ info.created | date: "dd.MM.yyyy" }}
                .one-row
                    .text {{ "DATASET_UPDATED" | translate }}:
                    .dataset-update.info {{ info.updated | date: "dd.MM.yyyy" }}
                .one-row.space
                .one-row
                    .text {{ "CATEGORY" | translate }}:
                    .dataset-creator.info {{ info.category }}
                .one-row
                    .text {{ "DATASET_TAGS" | translate }}:
                    .dataset-creator.info {{ info.tags }}
