#dataset-view.wrapper-content(ng-controller="DatasetCtrl" ng-repeat="info in information")
    .row.dataset-title
        .col-sm-12
            h1.underline-turqoise.dataset-title-text {{ info.title }}

    .row
        .col-sm-12
            .visualization-container
                img(src="{{ info.image }}")

            .row.buttons-first-row
                .col-xs-4.col-sm-4.middle
                    a#edit-dataset.btn.btn-primary(ui-sref="app.editor.id({ id: info.id, locale: locale })" ng-click="editDataset()")
                        i.fa.fa-plus
                        |   {{ "EDIT" | translate | uppercase }}

                .col-xs-4.col-sm-4.middle
                    a#link-dataset.btn.btn-primary(href='#' ng-click='getLinkDataset()')
                        i.fa.fa-link
                        |   {{ "LINK" | translate | uppercase }}

                .col-xs-4.col-sm-4.middle
                    #download-dataset
                        a.title.btn.btn-primary(href='#')
                            i.fa.fa-download
                            |   {{ "DOWNLOAD" | translate | uppercase }}

                        ul
                            li
                                a(href="#" ng-click='downloadDataset()')
                                    i.fa.fa-file-text-o
                                    |   {{ "DATASET" | translate }}
                            li
                                a(href="#" ng-click='downloadImage()')
                                    i.fa.fa-file-image-o
                                    |   {{ "VISUALIZATION" | translate }}

    .row
        .col-sm-12
            h1.underline-turqoise {{ "INFORMATION-DATASET" | translate | uppercase }}

    .row
        .col-sm-12
            .metadata-container
                .one-row
                    .description {{ info.description }}
                .one-row
                    .text {{ "DATASET-ORIGIN" | translate }}:
                    .dataset-creator.info {{ info.creator }}
                .one-row
                    .text {{ "DATASET-FORMAT" | translate }}:
                    .dataset-creator.info {{ info.format }}
                .one-row.space
                .one-row
                    .text {{ "DATASET-ID" | translate }}:
                    .dataset-creator.info {{ info.id }}
                .one-row
                    .text {{ "DATASET-PARENT" | translate }}:
                    .dataset-creator.info {{ info.parent }}
                .one-row.space
                .one-row
                    .text {{ "DATASET-CREATED" | translate }}:
                    .dataset-created.info {{ info.created }}
                .one-row
                    .text {{ "DATASET-UPDATED" | translate }}:
                    .dataset-update.info {{ info.updated }}
                .one-row.space
                .one-row
                    .text {{ "CATEGORY" | translate }}:
                    .dataset-creator.info {{ info.category }}
                .one-row
                    .text {{ "DATASET-TAGS" | translate }}:
                    .dataset-creator.info {{ info.tags }}
