#dataset-view.wrapper-content(ng-controller="DatasetCtrl" ng-repeat="info in information")
    .row.dataset-title
        .col-sm-12
            h1.underline-turqoise.dataset-title-text {{ info.title }}

    .row
        .col-sm-12
            .visualization-container
                img(src="{{ info.image }}")

            .row.buttons-first-row
                .col-xs-4.col-sm-4.middle
                    a#edit-dataset.btn.btn-primary(ui-sref="app.editor.id({ id: info.id, locale: locale })" ng-click="createVidatio()")
                        span.icon-plus
                        span  {{ "CREATE_VIDATIO" | translate | uppercase }}

                .col-xs-4.col-sm-4.middle
                    a#link-dataset.btn.btn-primary(href='#' ng-click="getVidatioLink()")
                        span.icon-link
                        span  {{ "LINK" | translate | uppercase }}

                .col-xs-4.col-sm-4.middle
                    #download-dataset
                        a.title.btn.btn-primary(href='#')
                            span.icon-download-3
                            span  {{ "DOWNLOAD" | translate | uppercase }}

                        ul
                            li(ui-sref="app.editor.id({ id: info.id, locale: locale })" ng-click="downloadDataset()")
                                a
                                    span.icon-download-dataset
                                    span  {{ "DATASET" | translate }}
                            li(ui-sref="app.editor.id({ id: info.id, locale: locale })" ng-click="downloadImage()")
                                a
                                    span.icon-download-visualization
                                    span  {{ "VISUALIZATION" | translate }}

                .col-xs-12
                    #vidatio-link-overlay(ng-show="$root.showVidatioLink")
                        p
                            span.icon-link.link-icon-overlay
                            span  {{ "LINK_TO_SHARE" | translate }}
                        a.fui-cross(href="#" ng-click="hideLinkToVidatio()")
                        form
                            input#vidatio-link.form-control(ng-model="link" onClick="this.select();")
                        a#copy-vidatio-link.btn.btn-primary(ng-click="copyVidatioLink()")
                            span.icon-copy-clipboard
                            span  {{"COPY_LINK" | translate | uppercase }}

    .row
        .col-sm-12
            h1.underline-turqoise {{ "INFORMATION_DATASET" | translate | uppercase }}

    .row
        .col-sm-12
            .metadata-container
                .one-row
                    .description {{ info.description }}
                .one-row.space
                .one-row
                    .text {{ "DATASET_ORIGIN" | translate }}:
                    .dataset-creator.info {{ info.origin }}
                .one-row
                    .text {{ "DATASET_EDITOR" | translate }}:
                    .dataset-creator.info {{ info.creator }}
                .one-row.space
                .one-row
                    .text {{ "DATASET_ID" | translate }}:
                    .dataset-creator.info {{ info.id }}
                .one-row
                    .text {{ "DATASET_PARENT" | translate }}:
                    .dataset-creator.info {{ info.parent }}
                .one-row.space
                .one-row
                    .text {{ "DATASET_CREATED" | translate }}:
                    .dataset-created.info {{ info.created }}
                .one-row
                    .text {{ "DATASET_UPDATED" | translate }}:
                    .dataset-update.info {{ info.updated }}
                .one-row.space
                .one-row
                    .text {{ "CATEGORY" | translate }}:
                    .dataset-creator.info {{ info.category }}
                .one-row
                    .text {{ "DATASET_TAGS" | translate }}:
                    .dataset-creator.info {{ info.tags }}
                .one-row.space
                .one-row
                    .text {{ "DATASET_FORMAT" | translate }}:
                    .dataset-creator.info {{ info.format }}
