.row
    .col-sm-8
        h1 Animals
    .col-sm-4
        .pull-right.clearfix
            p.penguin-info
                span.heading {{penguins.length}}
                span.content &nbsp;Penguin{{ penguins.length == 1 ? "" : "s"}}

.row
    div(ng-class="{'col-sm-3': state.current.name!='penguins', 'col-sm-offset-2 col-sm-8': state.current.name=='penguins'}")
        form.form-horizontal(role="form", name="search", novalidate)
            input#search(type="text", ng-model="search_penguin")
            span.search.glyphicon.glyphicon-search
        .well
            a.clearfix(ng-repeat="_penguin in penguins | filter:search_penguin",
                    ui-sref="penguins.detail({penguin: _penguin._id})")
                | Penguin : {{_penguin.name}}
            a.clearfix(ui-sref="penguins.new",
                    ng-class="{'active': newPenguin}")
                | Add a Penguin
    .col-sm-9.content(ng-show="state.current.name!='penguins'")
        ui-view.ui-view-container.col-xs-12

