#progress-overlay
    width 1000px
    height 100%
    position absolute
    z-index 3000
    top 0

    .progress-overlay-background
        position fixed
        top 0
        left 0
        background-color $color-grey-dark
        opacity .3
        z-index 100
        width 100%
        height 100%

    .progress-overlay-content
        position absolute
        background-color $color-white
        top calc((100vh - 300px) / 2)
        left calc((100vw - 400px) / 2)
        width 400px
        padding 25px
        z-index 110
        border-top 3px solid $color-red

        h4
            display block
            text-align center

        /*
         * ANIMATED LOGO
         */

        .logo-animation-container
            position relative
            left 50%
            margin 0 0 30px -50px
            width 100px
            height 130px
            background white

        .pie
            background #FF5444
            position absolute
            width 100px
            height 100px
            margin-top 30px
            -moz-border-radius 50px
            -webkit-border-radius 50px
            -o-border-radius 50px
            border-radius 50px
            clip rect(0px, 50px, 100px, 0px)

        .left-fix
            transform rotate(-45deg)
            animation pie-left 4s steps(1, end) infinite

        .right-fix-second
            z-index 90
            clip rect(0px, 50px, 100px, 0px)
            transform rotate(-135deg)
            animation pie-fix-second 4s steps(1, end) infinite

        .right-rotating-second
            z-index 50
            transform rotate(45deg)
            animation pie-right-second 4s linear infinite

        .right
            transform rotate(-135deg)
            animation rotation 4s linear infinite

        .logo-marker-container
            position absolute
            width 100px
            height 100px

        .logo-marker
            width 55px
            height 55px
            margin 0 auto
            border-radius 50% 50% 50% 0
            background #11DDC6
            position relative
            z-index 100
            transform rotate(-45deg)

        .mask
            width 100px
            height 100px
            position absolute
            margin-top 30px
            background inherit
            opacity 1
            z-index 50
            clip rect(0px, 50px, 100px, 0px)

        .one
            transform rotate(135deg)
            animation mask-right 4s steps(1, end) infinite

        .two
            background inherit
            z-index 60
            transform rotate(45deg)
            animation mask-right-second 4s steps(1, end) infinite

        .circle-mask
            background transparent
            border solid white 3px
            position absolute
            z-index 95
            width 104px
            height 104px
            margin-left -2px
            margin-top 28px
            -moz-border-radius 50px
            -webkit-border-radius 50px
            -o-border-radius 50px
            border-radius 50px

        @keyframes rotation
            0%
                transform rotate(-135deg)
                opacity 1
            48%
                transform rotate(135deg)
                opacity 1
            49%
            100%
                opacity 0

        @keyframes pie-left
            0%
            99%
                opacity 1
            17.5%
            98%
                opacity 0

        @keyframes mask-right
            0%
            85%
                opacity 0
            16%
            100%
                opacity 1

        @keyframes pie-right-second
            0%
            52%
                opacity 0
            53%
                transform rotate(45deg)
                opacity 1
            100%
                transform rotate(315deg)
                opacity 1

        @keyframes pie-fix-second
            0%
                opacity 0
            83%
            100%
                opacity 1

        @keyframes mask-right-second
            0%
            84%
              opacity 0
            49%
              opacity 1
