#progress-overlay(ng-show="progress.getMessage().length")
    .progress-overlay-background
    .progress-overlay-content

        .logo-animation-container
            .logo-marker-container
                .logo-marker
            .pie.right
            .pie.left-fix
            .mask.one
            .pie.right-rotating-second
            .mask.two
            .pie.right-fix-second
            .circle-mask

        h3 {{ progress.getMessage() }}
