#link-overlay
    position absolute
    top 40px
    z-index 400
    box-shadow $box-shadow-size $color-shadow

    .content
        padding 0px 20px 20px 20px
        border-top 3px solid $color-green
        background $color-white

        .fui-cross
            background $color-white
            color $color-grey-dark
            &:hover
                color $color-red

        .form-control
            width 350px
            border-color $color-green

