#link-overlay
    position absolute
    top 40px
    z-index 400
    box-shadow $box-shadow-size $color-shadow
    background $color-white
    border-top 3px solid $color-green
    padding 0px 20px 20px 20px

    .fui-cross
        background $color-white
        color $color-grey-dark
        &:hover
            color $color-red

    .form-control
        border-color $color-green

