#drop-zone
    .row
        .col-sm-12
            .drop-zone-area
                div.glyphicon.glyphicon-plus
                span.text {{ "FILE_DROP" | translate }}
    .row
        .col-sm-12.drop-area(ng-file-drop-end)
