#registration
#login

    border-top 3px solid $color-green
    background $color-white
    box-shadow $box-shadow-size $color-shadow
    padding 30px
    width 100%
    max-width 500px
    margin 0 auto
    color $color-grey-dark

    .form-group
        margin-bottom 0

        .input-group-addon.fui-mail
            border-top-left-radius 4px

        .input-group-addon.fui-lock
            border-bottom-left-radius 4px

        .email
            border-top-right-radius 4px

        .password
            border-bottom-right-radius 4px

    .error-password
        margin-top -2px
        border-bottom-left-radius 4px
        border-bottom-right-radius 4px

    .row button
        margin-top 10px

    .row a
        display inline-block

    .middle
        text-align center

    .left
        text-align left

    .right
        text-align right

    h3
        width 100%
        margin 40px 0px 10px 0px
        text-align center

    .col-xs-12
    .col-xs-6
        padding 0

    .form-control
        border-left none

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}


