#registration
#login

    border-top 3px solid $color-green
    background $color-white
    box-shadow $box-shadow-size $color-shadow
    padding 30px
    width 100%
    max-width 500px
    margin 0 auto
    color $color-grey-dark

    a:link
    a:visited
        color $color-green

    a:focus
    a:hover
    a:active
        color $color-active

    .form-group
        margin-bottom 0

    .row .input-group
        margin-bottom 10px

    .row a
        display inline-block

    .middle
        text-align center

    .left
        text-align left

    .right
        text-align right

    h3
        width 100%
        margin 40px 0px 10px 0px
        text-align center

    .col-xs-12
    .col-xs-6
        padding 0

    .form-control
        border-left none

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}


