#registration
#login
    background $color-grey-dark

    .form-group
        margin-bottom 0

    .row .input-group
        margin-bottom 10px

    .row a
        display inline-block

    .middle
        text-align center

    .left
        text-align left

    .right
        text-align right

    a
        font-size 12px

    h3
        width 100%
        margin 40px 0px 10px 0px
        text-align center

    .col-xs-12
    .col-xs-6
        padding 0

    span.error
        width 100%
        background $color-red
        padding 5px
        display block
        border-radius 4px
        margin-bottom 10px

    .form-control
        border-left none

    .form-control-feedback
        color $color-green

    .input-group-addon
        color $color-green
        background white

    .has-error
        .input-group-addon
            color $color-red
            border-color $color-red

        .form-control-feedback
            color $color-red

    .ng-hide-add
        animation: 0.5s fadeOut ease;

    .ng-hide-remove
        animation: 0.5s fadeIn ease;

    @-webkit-keyframes fadeIn {
        from
            opacity 0
        to
            opacity 1
    }

    @keyframes fadeIn {
        from
            opacity 0
        to
            opacity 1
    }

    @-webkit-keyframes fadeOut {
        from
            opacity 1
        to
            opacity 0
    }

    @keyframes fadeOut {
        from
            opacity 1
        to
            opacity 0
    }
