#link.wrapper-content(ng-controlller="HeaderCtrl" ng-show="$root.showLink")
    .content
        a.fui-cross(href="#" ng-click="hideLink()")
        form
            input.form-control(ng-model="link")

