#dataset-view.wrapper-content(ng-controller="DatasetCtrl")
    .row
        .col-sm-1

        .col-sm-10
            h1.underline-turqoise.dataset-title Titel des Datensatzes

    .row
        .col-sm-1

        .col-xs-12.col-sm-10
            .visualization-container Visualization-Placeholder

            .row.buttons-below-visualization
                .col-xs-4.col-sm-4.middle
                    a#edit-dataset.button.btn.btn-embossed.btn-primary(ui-sref="app.editor({ locale: locale})" ng-click="editDataset()") {{ "EDIT" | translate | uppercase }}

                .col-xs-4.col-sm-4.middle
                    a#share-dataset.button.btn.btn-embossed.btn-primary(href='#' ng-click='shareDataset()') {{ "SHARE" | translate | uppercase }}

                .col-xs-4.col-sm-4.middle
                   a#download-dataset.button.btn.btn-embossed.btn-primary(href='#' ng-click='downloadDataset()') {{ "DOWNLOAD" | translate | uppercase }}

    .row
        .col-sm-1

        .col-xs-12.col-sm-10
            .gallery-container Gallery-Placeholder

            .row.buttons-below-gallery
                .col-xs-4.col-sm-4.middle
                    a#link-dataset.button.btn.btn-embossed.btn-primarya(href='#' ng-click='getLinkDataset()') {{ "LINK" | translate | uppercase }}

                .col-xs-4.col-sm-4.middle
                    a#code-dataset.button.btn.btn-embossed.btn-primary(href='#' ng-click='getCodeDataset()') {{ "CODE" | translate | uppercase }}

                .col-xs-4.col-sm-4.middle
                    a#metadata-dataset.button.btn.btn-embossed.btn-primarya(href='#' ng-click='getMetadataDataset()') {{ "METADATA" | translate | uppercase }}

    .row
        .col-sm-1

        .col-sm-10
            h1.underline-turqoise {{ "INFORMATION-DATASET" | translate | uppercase }}

    .row
        .col-sm-1

        .col-sm-10
            .metadata-container
                .one-row
                    .text Urheber:
                    .dataset-creator.info User
                .one-row
                    .text Erstellt am:
                    .dataset-created.info Datum
                .one-row
                    .text Letztes Update:
                    .dataset-update.info Last Update
